<section class="bar background-white abstract-section no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ range $index, $element := sort .Site.Data.abstract "weight" }}
                <div class="col-md-4 col-md-offset-1">
                        <img src="{{ .Site.BaseURL }}{{ $element.image }}" class="img-limit" />
                    </div>
                <div class="col-md-7">
                  <p>{{ $element.description | markdownify }}</p>
                </div>
                {{ end }}   
            </div>
        </div>
    </div>
</section>