<section class="no-mb carousel-marginTop-5">
    <div class="home-carousel-temp" style="background: url({{$.Site.BaseURL}}img/temp.png) no-repeat center bottom;background-size: cover;">
        {{ partial "nav.html" . }}
        <div class="container">
            <div class="carousel-box-flex">
                <div class="home-carousel-temp-font">
                    <h3>数字服务平台<span>Choerodon</span></h3>
                    <p>基于Kubernetes的企业级数字服务PaaS平台</p>
                    <p class="font-gray">Based on Kubernetes' enterprise container PaaS platform.</p>
                    <div class="carousel-button">
                        <a href="/docs/" class="btn btn-template-transparent-black btn-lg">快速开始</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
