<section class="no-mb">
    <div class="home-carousel-temp" style="background: url({{$.Site.BaseURL}}img/temp.jpg) no-repeat center top;">
        <div class="container">
            <div class="home-carousel-temp-font">
                <h3>整合策略<span>INTEGRATED STRATEGY</span></h3>
                <p>多渠道整合，专注效果营销，使得利润最大化</p>
                <p class="font-gray">Muti-channel intergration,and focus on marketing,making the profit maximization.</p>
            </div>
        </div>
    </div>
</section>
