<section class="no-mb">
    <div class="home-carousel-temp" style="background: url({{$.Site.BaseURL}}img/temp.png) no-repeat center bottom;background-size: cover;">
        <div class="container">
            <div class="home-carousel-temp-font">
                <h3>数字服务平台<span>Choerodon</span></h3>
                <p>基于Kubernetes的企业级数字服务PaaS平台</p>
                <p class="font-gray">Based on Kubernetes' enterprise container PaaS platform.</p>
            </div>
        </div>
    </div>
</section>
