<section class="bar background-white abstract-section no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!--{{ range $index, $element := sort .Site.Data.abstract "weight" }}-->


                <h1 class="docs-title-h1">
                    Choerodon 文档
                </h1>
                <div class="docs-border docs-instruction-border">
                    <p class="docs-p docs-p-marginTop16 docs-p-marginBottom16">Choerodon 企业数字化平台有两部分组成，其一是Choerodon DevOps 平台；其二是HAP Cloud 微服务应用框架。Choerodon 文档将详细介绍Choerodon DevOps平台的架构、安装、配置、部署，以及如何使用等，并且介绍HAP Cloud微服务应用框架的架构、组件、开发、部署等。</p>

                    <p class="docs-p docs-p-marginTop16 docs-p-marginBottom16">关于Choerodon的介绍，请参考
                    <a href="#">Choerodon概览</a>。</p>
                </div>
                
                <div class="docs-border docs-section-border">
                    <h2 class="docs-title-h2">了解和学习Choerodon DevOps 平台</h2>
                    <p class="docs-p docs-p-marginTop16 docs-p-marginBottom40">Choerodon DevOps平台提供一整套DevOps的最佳实践，从计划、编程、构建、测试、发布与运营等。</p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="docs-card">
                                <h4 class="docs-title-h4">快速入门</h4>
                                <p class="docs-p-inCard">快速入门快速入门快速入门。</p>
                                <a href="#" class="docs-link-inCard">开发一个微服务前端</a>
                                <a href="#" class="docs-link-inCard">开发一个微服务后端</a>
                                <a href="#" class="docs-link-inCard">开发一个Web应用</a>
                                <a href="#" class="docs-link-inCard">开发一个移动应用</a>
                                <a href="#" class="docs-link-inCard">从用户故事到运营监控</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="docs-card">
                                <h4 class="docs-title-h4">安装与配置</h4>
                                <p class="docs-p-inCard">安装与配置安装与配置安装与配置。</p>
                                <a href="#" class="docs-link-inCard">系统安装</a>
                                <a href="#" class="docs-link-inCard">开发区</a>
                                <a href="#" class="docs-link-inCard">运行区以及多运行区</a>
                                <a href="#" class="docs-link-inCard">配置</a>
                                <a href="#" class="docs-link-inCard">迁移</a>
                                <a href="#" class="docs-link-inCard">.deploy.yml文件说明</a>
                                <a href="#" class="docs-link-inCard">.gitlab-ci.yml文件说明</a>
                                <a href="#" class="docs-link-inCard">Dockerfile文件说明</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="docs-card">
                                <h4 class="docs-title-h4">功能说明</h4>
                                <p class="docs-p-inCard">功能说明功能说明功能说明。</p>
                                <a href="#" class="docs-link-inCard">系统配置(IAM)</a>
                                <a href="#" class="docs-link-inCard">敏捷管理</a>
                                <a href="#" class="docs-link-inCard">持续集成</a>
                                <a href="#" class="docs-link-inCard">持续部署</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="docs-card">
                                <h4 class="docs-title-h4">开发监控</h4>
                                <p class="docs-p-inCard">开发监控开发监控开发监控。</p>
                                <a href="#" class="docs-link-inCard">概述</a>
                                <a href="#" class="docs-link-inCard">Hygieia</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="docs-card">
                                <h4 class="docs-title-h4">运营监控</h4>
                                <p class="docs-p-inCard">运营监控运营监控运营监控。</p>
                                <a href="#" class="docs-link-inCard">概述</a>
                                <a href="#" class="docs-link-inCard">主机</a>
                                <a href="#" class="docs-link-inCard">服务</a>
                                <a href="#" class="docs-link-inCard">前端</a>
                                <a href="#" class="docs-link-inCard">调用链</a>
                                <a href="#" class="docs-link-inCard">基础组件</a>
                                <a href="#" class="docs-link-inCard">业务监控</a>
                                <a href="#" class="docs-link-inCard">预警</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="docs-border docs-section-border">
                    <h2 class="docs-title-h2">了解和学习Choerodon HAP Cloud应用框架</h2>
                    <p class="docs-p docs-p-marginTop16 docs-p-marginBottom40">汉得云应用开发平台（HAND Application Platform Cloud）是汉得公司基于多年企业应用服务的经验，面向微服务架构思想和分布式应用架构研发的分布式应用开发平台，以满足应用微服务化和混合云IT架构分布式应用的开发。</p>
                    <div class="row">
                        <div class="col-md-4">
                            <h3 class="iot docs-title-h3">快速入门</h3>
                            <ul class="docs-ul">
                                <li class="docs-li">
                                    <a href="#" class="docs-a-inLi">开发一个微服务前端</a>
                                </li>
                                <li class="docs-li">
                                    <a href="#" class="docs-a-inLi">开发一个微服务后端</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h3 class="iot docs-title-h3">开发手册</h3>
                            <ul class="docs-ul">
                                <li class="docs-li">
                                    <a href="#" class="docs-a-inLi">后端开发</a>
                                </li>
                                <li class="docs-li">
                                    <a href="#" class="docs-a-inLi">前端开发1.1</a>
                                </li>
                                <li class="docs-li">
                                    <a href="#" class="docs-a-inLi">前端开发1.0</a>
                                </li>
                                <li class="docs-li">
                                    <a href="#" class="docs-a-inLi">后端环境部署</a>
                                </li>
                                <li class="docs-li">
                                    <a href="#" class="docs-a-inLi">前端项目部署</a>
                                </li>
                                <li class="docs-li">
                                    <a href="#" class="docs-a-inLi">前端开发1.2</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h3 class="iot docs-title-h3">功能说明</h3>
                            <ul class="docs-ul">
                                <li class="docs-li">
                                    <a href="#" class="docs-a-inLi">概述</a>
                                </li>
                                <li class="docs-li">
                                    <a href="#" class="docs-a-inLi">客户端管理</a>
                                </li>
                                <li class="docs-li">
                                    <a href="#" class="docs-a-inLi">用户管理</a>
                                </li>
                                <li class="docs-li">
                                    <a href="#" class="docs-a-inLi">组织管理</a>
                                </li>
                                <li class="docs-li">
                                    <a href="#" class="docs-a-inLi">角色管理</a>
                                </li>
                                <li class="docs-li">
                                    <a href="#" class="docs-a-inLi">LDAP 管理</a>
                                </li>
                                <li class="docs-li">
                                    <a href="#" class="docs-a-inLi">授权管理</a>
                                </li>
                                <li class="docs-li">
                                    <a href="#" class="docs-a-inLi">代码管理</a>
                                </li>
                                <li class="docs-li">
                                    <a href="#" class="docs-a-inLi">语言管理</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h3 class="iot docs-title-h3">最佳实践</h3>
                            <ul class="docs-ul">
                                <li class="docs-li">
                                    <a href="#" class="docs-a-inLi">开发规范</a>
                                </li>
                                <li class="docs-li">
                                    <a href="#" class="docs-a-inLi">命名规范</a>
                                </li>
                                <li class="docs-li">
                                    <a href="#" class="docs-a-inLi">测试</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="docs-section-border">
                    <h2 class="docs-title-h2">其他</h2>
                    <p class="docs-p docs-p-marginTop16 docs-p-marginBottom40">其他。</p>
                    <div class="row">
                        <div class="col-md-4">
                            <a href="#" class="hover-card is-button docs-link-noDirection">
                                <div class="gray">Gitlab</div>
                                <div class="text">
                                <h3 class="hide-from-toc text-headline">Gitlab</h3>
                                <p class="text-uppercase">查看Gitlab文档</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="#" class="hover-card is-button docs-link-noDirection">
                                <div class="gray">Kubernetes</div>
                                <div class="text">
                                <h3 class="hide-from-toc text-headline">Kubernetes</h3>
                                <p class="text-uppercase">查看Kubernetes文档</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="#" class="hover-card is-button docs-link-noDirection">
                                <div class="gray">Spring Boot</div>
                                <div class="text">
                                <h3 class="hide-from-toc text-headline">Spring Boot</h3>
                                <p class="text-uppercase">查看Spring Boot文档</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="docs-section-center">
                    <a href="#" class="docs-button docs-marginBottom80">获取帮助</a>
                </div>

                <div class="docs-update">
                    <p class="docs-p-marginTop16 docs-p-marginBottom16">All rights reserved.</p>
                    <p class="docs-p-marginTop16 docs-p-marginBottom16">上次更新日期：三月 4, 2018</p>
                </div>
                
                <!--{{ end }}   -->
            </div>
        </div>
    </div>
</section>