{{ if isset .Site.Params "fileds" }}
{{ if .Site.Params.fileds.enable }}
{{ if gt (len .Site.Data.fileds) 0 }}
<section class="bar background-white">
    <div class="container">
        {{ range $index, $element := sort .Site.Data.fileds "weight" }}
		<div class="col-md-12 fileds-line">
            <div class="row target-box-row">
                {{ if eq (mod $index 2) 0 }}
                <div class="col-md-3">
                    <img src="{{ .Site.BaseURL }}img/{{.icon}}" class="pull-left" />
                </div>
                {{ end }}
				<div class="col-md-9">
                    <div class="target-box">
                        <h3>{{ $element.name }}</h3>
                        <p>{{ $element.description | markdownify }}</p>
                    </div>
                </div>
                {{ if eq (mod $index 2) 1 }}
                    <div class="col-md-3">
                        <img src="{{ .Site.BaseURL }}img/{{.icon}}" class="pull-right" />
                    </div>
                {{ end }}
            </div>
		</div>
        {{ end }}
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
