{{ if isset .Site.Params "rounds" }}
{{ if .Site.Params.rounds.enable }}
{{ if gt (len .Site.Data.rounds) 0 }}
<section class="bar background-round no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>{{ .Site.Params.targets.title }}</h2>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 img-box hidden-xs hidden-sm">
                            <img src="{{ .Site.BaseURL }}img/product.jpg" class="img-vcenter img-limit" />
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                        {{ range $index, $element := sort .Site.Data.rounds "weight" }}
                            <div class="product-li">
                                <div class="product-icon">
                                    <img src="{{ .Site.BaseURL }}img/product_icon.jpg" />
                                </div>
                                <div class="product-box">
                                    <h3 class="product-title">{{ $element.name }}</h3>
                                    <p class="product-content">{{ $element.description | markdownify }}</p>
                                </div>
                            </div>
                        {{ end }}
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}

