
{{ if isset .Site.Params "rounds" }}
{{ if .Site.Params.rounds.enable }}
{{ if gt (len .Site.Data.rounds) 0 }}
<section class="bar background-round no-mb row">
    <div class="container">
        <div class="col-md-12">
            <div class="row round">
                <img src="{{ .Site.BaseURL }}img/round.jpg" />
                {{ range $index, $element := sort .Site.Data.rounds "weight" }}
                    {{ if eq (mod $index 2) 0 }}
                    <!--<div class="round-block" style="top:{{add (mul (add (div $index 2) 0) 120) 20}}px;right:{{(mul (div $index 2) 50)}}px;">-->
                    <div class="round-block" style="top:{{ $element.vertical }}px;right:{{ $element.horizontal }}px;">
                    {{ else }}
                    <!--<div class="round-block" style="top:{{add (mul (add (div $index 2) 0) 120) 20}}px;left:{{mul (div $index 2) 50}}px;">-->
                    <div class="round-block" style="top:{{ $element.vertical }}px;left:{{ $element.horizontal }}px;">
                    {{ end }}
                        {{ if eq (mod $index 2) 0 }}
                            <h3>{{ $element.name }}</h3>
                            <p>{{ $element.description | markdownify }}</p>
                        {{else}}
                            <h3 class="right-align">{{ $element.name }}</h3>
                            <p class="right-align">{{ $element.description | markdownify }}</p>
                        {{end}}
                    </div>
                {{ end }}
        </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}

