
{{ if isset .Site.Params "rounds" }}
{{ if .Site.Params.rounds.enable }}
{{ if gt (len .Site.Data.rounds) 0 }}
<section class="bar background-white no-mb">
    <div class="container">
        <div class="col-md-12">
            <div class="row img-center">
                <img src="{{ .Site.BaseURL }}img/temp_pic.png" />
            </div>
        </div>
        {{ range $index, $element := sort .Site.Data.rounds "weight" }}
		{{ if eq (mod $index 3) 0 }}
		<div class="col-md-12">
            <div class="row">
		{{ end }}
				<div class="col-md-4">
                    <div class="box-simple box-simple-features">
                        <h3>{{ $element.name }}</h3>
                        <p>{{ $element.description | markdownify }}</p>
                    </div>
                </div>
		{{ if or (eq (mod $index 3) 2) (eq $index (sub (len $.Site.Data.rounds) 1 )) }}
			</div>
		</div>
		{{ end }}
        {{ end }}
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}

