<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

        {{ partial "nav.html" . }}

        </header>

        <div id="content">
            <div class="blog">
                <div class="row">
                    <!-- *** RIGHT COLUMN *** -->

                    <div class="col-md-9" id="blog-post">

                        <p class="text-muted text-uppercase mb-small text-right">{{ if .Params.author }}{{ i18n "authorBy" }} <a href="#">{{ .Params.author }}</a> | {{ end }}{{ .Date.Format .Site.Params.date_format }}</p>

                        <div id="post-content">
                          {{ .Content }}
                        </div>
                        <!-- /#post-content -->
                        <!-- {{ if .Site.DisqusShortname }}
                        <div id="comments">
                            {{ template "_internal/disqus.html" . }}
                        </div>
                        {{ end }} -->

                    </div>
                    <!-- /#blog-post -->

                    <!-- *** RIGHT COLUMN END *** -->
                    <!-- *** LEFT COLUMN ***
                    _________________________________________________________ -->

                    <div class="col-md-3">
                        <div class="blog-menu">
                        <!-- *** MENUS AND WIDGETS *** -->

                        {{ partial "blognav.html" . }}

                        <!-- *** MENUS AND FILTERS END *** -->
                        </div>
                    </div>
                    <!-- /.col-md-3 -->
        
                    <!-- *** LEFT COLUMN END *** -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
