<!DOCTYPE html>
<html>
    {{ partial "head.html" . }}
    <link href="/css/community.css" rel="stylesheet">
    <header id="header">
        {{ partial "nav.html" . }}
        <div class="header-nav">
            <div class="banner-text">
                <div class="head">{{ i18n "welcome to choerodon community" }}</div>
                <div class="description">{{ i18n "people committed to technology sharing" }}</div>
                <a href="http://forum.choerodon.io/" class="white-button">进入论坛</a>
            </div>
            <img src="/img/community.svg"/>
        </div>
    </header>
  <body>
    <div>
        <div id="content" class="community">
            <div class="talk-text">
                <p>{{ i18n "we hope you have more requests and suggestions"}}</p>
                <p>{{ i18n "provides a steady stream of nutrients for choerodon" }}</p>
            </div>
            {{ partial "social.html" .}}
            <div class="live">
                <div class="head">视频直播</div>
                <div class="content">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-xs-4 card blue-card">
                            <div class="content">
                                <div class="title">敏捷管理</div>
                                <div class="description">介绍 Choerodon 猪齿鱼敏捷管理服务的使用</div>
                                <a class="play" href="http://www.itdks.com/liveevent/zs/15184/443cf4a4555d4c91bba3009dbe376fb8" target="_blanck">
                                    <span>点击观看</span>
                                    <i class="iconfont icon-play"></i>
                                </a>
                            </div>
                            <div class="lecturer">
                                <div class="position">Choerodon 猪齿鱼架构师</div>
                                <div class="name">常壮</div>
                            </div>
                            <img src="/img/socials/live/lecturer-zhuang.png"/>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 card blue-card">
                            <div class="content">
                                <div class="title">持续交付</div>
                                <div class="description">介绍 Choerodon 猪齿鱼 DevOps 应用与实践</div>
                                <a class="play" href="http://www.itdks.com/liveevent/zs/15190/fe57ad823e004c5389199f553986b64e" target="_blanck">
                                    <span>点击观看</span>
                                    <i class="iconfont icon-play"></i>
                                </a>
                            </div>
                            <div class="lecturer">
                                <div class="position">Choerodon 猪齿鱼架构师</div>
                                <div class="name">李佳桐</div>
                            </div>
                            <img src="/img/socials/live/lecturer-tong.png"/>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 card blue-card">
                            <div class="content">
                                <div class="title">前端开发</div>
                                <div class="description">介绍 Choerodon 猪齿鱼前端的配置与开发</div>
                                <a class="play" href="http://www.itdks.com/liveevent/zs/15193/230cdd5c95cc4a24bc8dde49018e1333" target="_blanck">
                                    <span>点击观看</span>
                                    <i class="iconfont icon-play"></i>
                                </a>
                            </div>
                            <div class="lecturer">
                                <div class="position">Choerodon 猪齿鱼架构师</div>
                                <div class="name">吴华真</div>
                            </div>
                            <img src="/img/socials/live/lecturer-zhen.png"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-xs-4 card yellow-card">
                            <div class="content">
                                <div class="title">后端微服务开发</div>
                                <div class="description">介绍 Choerodon 猪齿鱼后端微服务的开发与部署</div>
                                <a class="play" href="http://www.itdks.com/liveevent/zs/15193/230cdd5c95cc4a24bc8dde49018e1333" target="_blanck">
                                    <span>点击观看</span>
                                    <i class="iconfont icon-play"></i>
                                </a>
                            </div>
                            <div class="lecturer">
                                <div class="position">Choerodon 猪齿鱼架构师</div>
                                <div class="name">董凡</div>
                            </div>
                            <img src="/img/socials/live/lecturer-fan.png"/>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 card yellow-card">
                            <div class="content">
                                <div class="title">测试管理</div>
                                <div class="description">介绍 Choerodon 猪齿鱼的测试管理</div>
                                <a class="play" href="http://www.itdks.com/liveevent/zs/15196/2de8996b6e834a49ad0ef6732ff69ee6" target="_blanck">
                                    <span>点击观看</span>
                                    <i class="iconfont icon-play"></i>
                                </a>
                            </div>
                            <div class="lecturer">
                                <div class="position">Choerodon 猪齿鱼架构师</div>
                                <div class="name">王喆</div>
                            </div>
                            <img src="/img/socials/live/lecturer-zhe.png"/>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 card yellow-card">
                            <div class="content">
                                <div class="title">知识管理</div>
                                <div class="description">介绍 Choerodon 猪齿鱼的知识管理</div>
                                <a class="play" href="http://www.itdks.com/liveevent/zs/15196/2de8996b6e834a49ad0ef6732ff69ee6" target="_blanck">
                                    <span>点击观看</span>
                                    <i class="iconfont icon-play"></i>
                                </a>
                            </div>
                            <div class="lecturer">
                                <div class="position">Choerodon 猪齿鱼架构师</div>
                                <div class="name">吴国凯</div>
                            </div>
                            <img src="/img/socials/live/lecturer-kai.png"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="forum">
                <div class="forum-background">
                    <div class="forum-title">猪齿鱼论坛</div>
                    <div class="forum-description">在猪齿鱼论坛，你可以就技术上的疑惑进行讨论，可以和有相同关注的伙伴交流产品信息</div>
                    <div class="forum-data">
                        <div class="forum-button">
                            <div>
                                <button id="latest-btn" class="btn choose">最新</button>
                                <button id="hotest-btn" class="btn">最热</button>
                            </div>
                            <a class="btn forum-entr" href="http://forum.choerodon.io/">进入论坛 <i class="iconfont">&#xe727;</i></a>
                        </div>
                        <div class="forum-table" id="forum"></div>
                    </div>
                </div>

            </div>
        </div>

        {{ partial "footer.html" . }}
    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

    <script src="/js/community.js"></script>
  </body>
</html>
