<!DOCTYPE html>
<html>
    {{ partial "head.html" . }}
    <link href="/css/community.css" rel="stylesheet">
    <header id="header">
        {{ partial "nav.html" . }}
        <div class="header-nav">
            <div class="banner-text">
                <div class="head">{{ i18n "welcome to choerodon community" }}</div>
                <div class="description">{{ i18n "people committed to technology sharing" }}</div>
                <a href="http://forum.choerodon.io/" class="white-button">进入论坛</a>
            </div>
            <img src="/img/community.svg"/>
        </div>
    </header>
  <body>
    <div>
        <div id="content" class="community">
            <div class="talk-text">
                <p>{{ i18n "we hope you have more requests and suggestions"}}</p>
                <p>{{ i18n "provides a steady stream of nutrients for choerodon" }}</p>
            </div>
            {{ partial "social.html" . }}
            {{ partial "event.html" . }}
            {{ partial "contribute.html" . }}
            {{ partial "live.html" . }}

        {{ partial "footer.html" . }}
    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}
    {{ range .Site.Data.static.community.js }}
        <script src="{{ . }}"></script>
    {{ end }}
  </body>
</html>
