<!DOCTYPE html>
<html>
    {{ partial "head.html" . }}
    <link href="/css/join-us.css" rel="stylesheet">
    <header id="header">
        {{ partial "nav.html" . }}
    </header>
  <body>
    <div>
      <div id="content" class="join-us">
        <section class="join-us-header text-center">
          <h5>{{ i18n "join us" }}</h5>
          <p>{{ i18n "join us des"}}</p>
        </section>
        {{ partial "join_us_content.html" . }}
        <section class="join-us-connect">
          <a class="join-us-connect-item join-us-connect-item1" href="https://hand-china.zhiye.com" target="_blank">
            <h6>{{ i18n "online application pc" }}</h6>
            <p>https://hand-china.zhiye.com</p>
          </a>
          <div class="join-us-connect-item join-us-connect-item2">
            <h6>{{ i18n "online application phone" }}</h6>
            <p>{{ i18n "online application phone des" }}</p>
            <div class="join-us-connect-item-code">
              <div class="join-us-connect-item-arrow"></div>
              <img src="/img/join-us/wechart.png" />
            </div>
          </div>
        </section>
      </div>
      {{ partial "footer.html" . }}
    </div>

    {{ partial "scripts.html" . }}
    {{ range .Site.Data.static.community.js }}
        <script src="{{ . }}"></script>
    {{ end }}
  </body>
</html>
