.blog-nav{
    background: #FFFFFF;
    width: 100%;
    height: 3rem;
    color: #000000;
    margin-top: 0.6rem;
    margin-bottom: 0.1rem;
}
.blog-nav .banner-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
}
.blog-nav .banner-text .head{
    margin-top: 0.5rem;
    font-size: 0.42rem;
    color: #000000;
    font-weight: 500;
    margin-bottom: 0.2rem;
}
.blog-nav .banner-text .description{
    font-size: 0.22rem;
    color: #000000;
}
.blog-nav img{
    width: 100%;
    position: absolute;
    top: 1.2rem;
    z-index: 1;
}
.blogs {
    background-color: #fafafa;
    display: flex;
    flex-direction: row;
}

.blog-list {
    display: flex;
    margin: 0;
    padding: 0.4rem;
    border-bottom: 0.02rem solid #fafafa;
}

.blog-list i {
    font-size: 0.16rem;
}

.blog-list li,
.blogs .blog-single-head li {
    float: left;
    list-style: none;
}

.blog-list .blog-list-img {
    width: 2.5rem;
    margin-right: 0.15rem;
}

.blog-list .blog-list-img img {
    width: 2.5rem;
    height: 1.63rem;
}

.blog-list .blog-list-content {
    width: 4.42rem;
}

.blog-list-content .right-title {
    font-size: 0.18rem;
    color: #000000;
    letter-spacing: 0.0042rem;
    line-height: 1.1;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 0.18rem;
}

.blog-list-content .right-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.12rem;
}

.blog-list-content .right-info .right-user {
    font-size: 0.14rem;
    color: #140000;
    letter-spacing: 0.0033rem;
    line-height: 1.4;
}

.blog-list-content .right-info .right-user span {
    color: #4a8bfc;
}

.blog-list-content .right-info .right-time {
    font-size: 0.14rem;
    color: #D6D6D6;
    letter-spacing: 0.0033rem;
}

.blog-list-content .right-info .right-time i {
    margin-right: 0.046rem;
    color: #9B9B9B;
}

.blog-list-content .right-info .right-time svg {
    color: #9B9B9B;
    margin-right: 0.05rem;
}

.blog-list-content .right-text {
    font-size: 0.14rem;
    color: rgba(0, 0, 0, 0.70);
    text-align: left;
    line-height: 1.78;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin: 0;
    -webkit-line-clamp: 3;
    overflow: hidden;
    /*-webkit-line-clamp用来限制在一个块元素显示的文本的行数。 为了实现该效果，它需要组合其他的WebKit属性。常见结合属性：
    display: -webkit-box; 必须结合的属性 ，将对象作为弹性伸缩盒子模型显示 。
    -webkit-box-orient 必须结合的属性 ，设置或检索伸缩盒对象的子元素的排列方式 。*/
}

.blog-list-content .right-tags,
.blog-single-head .blog-single-tags {
    margin: 0;
    height: 0.28rem;
    padding: 0;
}

.blog-list-content .right-tags li,
.blog-single-head .blog-single-tags li {
    margin: 0.07rem 0.07rem 0 0;
}

.blog-list .tags {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

.blog-list .tag,
.blog-single-tags .tag {
    color: #bac2cf;
    background: #f4f5f8;
    border-radius: 0.03rem;
    padding: 0.03rem 0.06rem;
}

.blog-single-tags .tag svg,
.blog-list .tag svg {
    margin-right: 0.07rem;
    margin-bottom: auto;
    margin-top: auto;
    height: 0.08rem;
    width: 0.1rem;
}

.blog-single-tags .tag i,
.blog-list .tag i,
.tag-cloud i {
    font-size: 0.1rem;
}

.blog-list .tag-text,
.blog-single-tags .tag-text {
    font-size: 0.12rem;
    line-height: 1.2;
    color: #bac2cf;
}

.blog-single-tags .tag,
.blog-list-content .right-tags .tag {
    display: flex;
}

.blog-share {
    width: 100%;
    height: 0.3rem;
}

.blogs .content-post {
    width: 7.87rem;
    margin-right: 0.2rem;
    padding: 0;
}

.blog-menu {
    background-color: white;
    width: 3.13rem;
    padding: 0;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.blog-menu ul {
    padding-left: 0.05rem;
}

.blog-menu a {
    font-size: 0.14rem;
}

.blog-menu .date {
    color: black;
}

/* blog single */
.content-max .blogs .blog-post,
.content-max .blog-menu{
    margin-top: 0.4rem;
}
.blogs .blog-post,
.blog-menu{
    margin-top: 0.9rem;
}
.blogs .blog-post {
    padding: 0.4rem 0.3rem 0.35rem 0.3rem;
    margin-left: 1.6rem;  
}
.blogs .blog-post h1{
    font-size: 0.36rem;
}

.bre-nav{
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
    display: flex;
    font-size: 0.16rem;
}
.bre-nav a{
    display: flex;
    text-align: center;
    margin: 0 0.05rem 0 0;
    flex-shrink: 0;
}

.bre-nav .bre-nav-title{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    margin: 0 0 0 0.05rem;
}

.blog-post .blog-single-head {
    padding-bottom: 0.2rem;
    border-bottom: 0.01rem solid #D6D6D6;
    margin-bottom: 0.3rem;
}

.blog-post .blog-single-head h1 {
    font-size: 0.24rem;
    color: #000000;
    letter-spacing: 0.0042rem;
    line-height: 1.1;
    margin: 0;
    font-weight: 400;
}

.blog-post .blog-single-head h2 {
    font-size: 0.16rem;
    color: #000000;
    letter-spacing: 0.0042rem;
    line-height: 1.25;
    margin: 0;
    font-weight: 400;
}

.blog-post .blog-single-body h3,
.blog-post .blog-single-body h2,
.blog-post .blog-single-body h1 {
    font-weight: 500;
    color: #000000;
    
}

.blog-post .blog-single-body h1 {
    border-bottom: 1px solid #D6D6D6;
    font-size: 0.18rem;
    margin: 0.3rem 0 0.1rem 0;
    line-height: 1.8;
}

.blog-post .blog-single-body h3,
.blog-post .blog-single-body h2 {
    font-size: 0.16rem;
    margin: 0 0 0.1rem 0;
    line-height: 2;
}

.blog-post .blog-single-body p {
    font-weight: 400;
    font-size: 0.14rem;
    color: rgba(0, 0, 0, 0.65);
    line-height: 1.78;
    margin: 0 0 0.16rem 0;
}

.blog-post .blog-single-body img {
    margin: 0.06rem 0 0.06rem 0;
}

.blog-post .blog-single-body ol,
.blog-post .blog-single-body ul {
    margin: 0.06rem 0 0.06rem 0;
}

.blog-post .blog-single-body li {
    margin: 0 0 0.06rem 0;
}

.blog-post .blog-single-head .blog-single-time {
    font-size: 0.12rem;
    display: flex;
    align-items: center;
    margin-right: 0;
    color: rgba(0, 0, 0, 0.26);
}

.blog-post .blog-single-head .blog-single-time i {
    margin-right: 0.046rem;
    color: #9B9B9B;
    font-size: 0.18rem;
}

.blog-post .blog-single-body img {
    max-width: 100%;
}

.blog-post .blog-single-user {
    width: 100%;
    height: 1.4rem;
    padding: 0.27rem 1.007rem 0.26rem 0.313rem;
    background: #F7F7F7;
    border-radius: 0.08rem;
    font-size: 0.14rem;
    color: #000000;
    margin: 0.17rem 0 0.4rem 0;
}

.blog-post .blog-single-user p {
    margin: 0;
}

.blog-post .blog-single-footbar {
    margin-bottom: 0.4rem;
    display: flex;
    flex-direction: column;
}
.blog-post .blog-single-footbar .prepage{
    margin-bottom: 0.1rem;
}

.blog-post .blog-single-footbar a {
    font-size: 0.14rem;
    color: #326DE6;
    line-height: 1.4;
    cursor: pointer;
}

.blog-post .blog-single-about h4 {
    font-size: 0.18rem;
    color: #000000;
    margin: 0 0 0.15rem 0;
    line-height: 1.4;
    padding-bottom: 0.12rem;
    border-bottom: 0.02rem solid #D6D6D6;
}

.blog-post .blog-single-about ul {
    padding-left: 0.2rem;
}

.blog-post .blog-single-about ul li a {
    line-height: 1.78;
    font-size: 0.14rem;
    color: rgba(0, 0, 0, 0.65);
}

.blog-single-body img {
    border: 1px solid #eee;
}

.blog-post .blog-single-head .right-categories {
    margin-left: 0.3rem;
}

.blog-post .blog-single-head .space-row {
    display: flex;
    justify-content: space-between;
    margin: 0.3rem 0 0.08rem 0;
}

/* share */
.blog-post .share-box{
    display: flex;
    justify-content: left;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 0.1rem;
    position: relative;
}
.blog-post .share-box .share-title{
    line-height: 1.625;
    cursor: pointer;
    background-color: #fff;
    font-size: 0.16rem;
    z-index: 1;
}
.blog-post .share-box .share-title i{
    margin-right: 0.1rem;
    font-size: 0.16rem;
}
.blog-post .shareSina,
.blog-post .shareWX{
    display: inline-block;
    height: 0.25rem;
    line-height: 1.625;
    cursor: pointer;
    position: relative;
    z-index:0;
    left: 0;
    transition: all .5s;
    opacity: 0;
}
.blog-post .share-box.active .shareSina{
    left: 0.3rem;
    opacity: 1;
}
.blog-post .share-box.active .shareWX{
    left: 0.6rem;
    opacity: 1;
}

.blog-post .share-icon {
    display: none;
    width: 0.25rem;
    height: 0.25rem;
    cursor: pointer;
    text-indent: -9999px;
    vertical-align: middle;
}

.blog-post .shareSina .share-icon {
    background: url(/img/share-sina.png) no-repeat;
    background-size: 100%;
}

.blog-post .shareWX .share-icon {
    background: url(/img/share-wx.png) no-repeat;
    background-size: 100%;
}
.blog-post .share-wx-alert{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.7);
    z-index: 1000;
    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
    display: none;
}
.blog-post .wx-box {
    width: 240px;
    margin: auto;
    z-index: 1001;
    background: #fff;
    border: solid 1px #d8d8d8;
    font-size: 0.12rem;
    padding: 0.15rem 10px;
}

.blog-post .wx-box .wx-box-head {
    font-size: 0.12rem;
    text-align: left;
    line-height: 1.3;
    height: 0.16rem;
    position: relative;
    color: #000;
}

.blog-post .wx-box .wx-box-close {
    width: 0.16rem;
    height: 0.16rem;
    position: absolute;
    right: 0;
    top: 0;
    color: #999;
    font-size: 0.16rem;
}

.blog-post .wx-box .wx-box-main {
    padding: 0.15rem 0;
    min-height: 2rem;
    text-align: center;
}
.blog-post .wx-box .wx-box-foot{
    font-size: 0.12rem;
    text-align: left;
    line-height: 1.8;
    color: #666;
}


/* pagination */
.pagination {
    margin: 0.2rem 0;
    border-radius: 0;
  }
  .pagination .page-left > a img{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); 	/* IE 9 */
    -moz-transform:rotate(180deg); 	/* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
    -o-transform:rotate(180deg); 	/* Opera */
  }
  .pagination > li > a{
    padding: 0.06rem 0.12rem;
    line-height: 1.43;
    background-color: #ffffff;
    border: 0;
    color: #326DE6;
  }
  .pagination > li > a:hover,
  .pagination > li > span:hover,
  .pagination > li > a:focus,
  .pagination > li > span:focus {
    color: #5CC2F2;
    background-color: #ffffff;
  }
  .pagination > .active > a,
  .pagination > .active > span,
  .pagination > .active > a:hover,
  .pagination > .active > span:hover,
  .pagination > .active > a:focus,
  .pagination > .active > span:focus {
    color: #ffffff;
    background-color: #326DE6;
    border-color: #326DE6;
    border-radius: 4px;
  }
  .pagination > .disabled > span,
  .pagination > .disabled > span:hover,
  .pagination > .disabled > span:focus,
  .pagination > .disabled > a,
  .pagination > .disabled > a:hover,
  .pagination > .disabled > a:focus {
    color: #999999;
    background-color: #ffffff;
    border-color: #dddddd;
  }
@media (max-width: 1000px) {
    .blog-list-content .right-info {
        display: none;
    }
}

@media (max-width: 767px) {
    .blog-nav{
        height: 2rem;
        margin-bottom: 1rem;
    }
    .blog-nav .banner-text .description{
        font-size: 0.16rem;
        text-align: center;
    }
    .blog-nav img{
        width: 380%;
        position: relative;
        left: -580px;
        top: -140px;
    }
    .blog-list {
        padding: 0.2rem 0.15rem;
        background-color: #FFFFFF;
    }
    .blog-list .blog-list-img{
        width: auto;
        margin-right: 0.15rem;
    }
    .blog-list .blog-list-img img{
        width: 1.25rem;
        height: 0.815rem;
    }
    .blog-list .blog-list-content {
        width: 1.75rem;
    }
    .blog-list-content .right-title {
        font-size: 0.14rem;
        margin-bottom: 0;
    }
    .blog-list-content .right-info .right-time,
    .blog-list-content .right-info .right-categories,
    .blog-list-content .right-info .right-user {
        display: none;
    }
    
    .blog-menu {
        display: none;
    }
    .blogs .content-post {
        margin: 0 auto;
        width: 100%;
    }
    .blog-list-content .right-text {
        line-height: 1.07;
        font-size: 0.14rem;
    }
    .blog-list-content .right-tags,
    .blog-single-head .blog-single-tags{
        height: 0.14rem;
    }
    .blog-list-content .right-tags li,
    .blog-single-head .blog-single-tags li{
        margin: 0.035rem 0.035rem 0 0;
        padding: 0.015rem 0.03rem;
    }
    .blog-post .blog-single-head .space-row{
        flex-direction: column;
    }
    .blog-post .blog-single-head .space-row .space-right{
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.1rem;
    }
    .blogs .blog-post {
        margin: 0 auto;
        padding: 0.4rem 0.15rem 0.35rem 0.15rem;
        background-color: #F5F5F5;
    }
    .blogs .blog-post .blog-list:last-of-type{
        border: 0;
    }
    .blog-post .blog-single-head h1 {
        font-size: 0.3rem;
        margin: 0 0 0.2rem 0;
    }
    .blog-post .blog-single-head .right-categories{
        margin: 0;
    }
    .blog-post .shareSina,
    .blog-post .shareWX{
        vertical-align: middle;
    }
    .blog-post .blog-single-user {
        width: 100%;
        margin: auto auto 0.3rem;
        height: 95%;
        padding: 0.1rem;
    }
    .blog-post .blog-single-footbar{
        display: flex;
        flex-direction: column;
    }
    .blog-post.blog-article{
        background-color: #FFFFFF;
        padding: 0.15rem;
        margin-top: 0.4rem;
    }
}