/* carousel.html */
.carousels-section {
  padding-top: 1.79rem;
  background: url(../img/home/carousels/banner.png) no-repeat;
  margin-top: .7rem;
  background-size: 100% 100%;
  height: 7.07rem;
  position: relative;
}
.carousels-section .carousel-box-flex{
  max-width: 4.3rem;
  margin-left: 1.1rem;
  color: #0D224A;
}
.carousels-section .carousel-box-flex h3 {
  font-size: 0.36rem;
  line-height: 0.44rem;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 500;
  color: #0D224A;
}
.carousels-section .carousel-box-flex p {
  font-size: 0.16rem;
  line-height: 0.28rem;
  font-weight: 400;
  margin-top: 0.24rem;
  margin-bottom: 0.42rem;
  color: #0D224A;
}
.carousels-section .carousel-img {
  width: 3.08rem;
  height: 1.58rem;
  position: absolute;
  left: 1.2rem;
  bottom: -0.28rem;
}

.carousels-section .carousel-button .button {
  height: .4rem;
  width: 1.44rem;
  text-align: center;
  background: #326DE6;
  border-radius: 4px;
  color: #fff;
  font-size: .16rem;
  font-weight: 500;
  display: block;
  padding: 0;
  line-height: .4rem;
}
.carousels-section .carousel-button .button:hover {
  opacity: 0.7;
}
/* carousel.html end */
