.cases-section {
  padding: 1rem 1.7rem .9rem;
}
.cases-section .cases-section-title {
  font-size: .24rem;
  font-weight: 500;
  color: #0D224A;
  margin-bottom: .4rem;
}
.cases-section-detail {
  width: 100%;
  color: #fff;
  font-weight: 500;
  flex-shrink: 0;
  left: 0;
}

.cases-section-detail-mask {
  background: rgba(0, 37, 112, 0.56);
  padding: .56rem .72rem .6rem;
}

.cases-section-detail .uae {
  background: url("../img/cases/uae.png") no-repeat;
  background-size: cover;
}
.cases-section-detail .hand {
  background: url("../img/cases/hand.png") no-repeat;
  background-size: cover;
}
.cases-section-detail .crland {
  background: url("../img/cases/crland.png") no-repeat;
  background-size: cover;
}
.cases-section-detail .lmg {
  background: url("../img/cases/lmg.png") no-repeat;
  background-size: cover;
}

.cases-section-detail .cases-section-icon {
  margin-right: .12rem;
  margin-top: -0.2rem;
}

.cases-section-detail .cases-section-detail-text-wrap {
  display: flex;
}

.cases-section-detail .cases-section-icon-left {
  margin-right: .12rem;
}

.cases-section-detail .cases-section-icon-right {
  margin-top: -0.25rem;
}

.cases-section-detail .cases-section-des {
  font-size: .2rem;
  letter-spacing: 0;
  line-height: .40rem;
}

.cases-section-detail .cases-section-author {
  font-size: .16rem;
  letter-spacing: 0;
  margin-top: .02rem;
}

.cases-section-detail .cases-section-detail-btn {
  background: #FFFFFF;
  border-radius: 6px;
  font-size: .16rem;
  font-weight: 500;
  color: #326DE6;
  margin-top: .6rem;
  height: .4rem;
}

.cases-section-content {
  display: flex;
  justify-content: space-between;
  margin-top: .4rem;
}

.cases-section-content-item {
  border-radius: 2px;
  height: .7rem;
  text-align: center;
  line-height: .7rem;
  width: 2.65rem;
  background: #FFFFFF;
  box-shadow: 0 0 6px 0 rgba(5,34,94,0.20);
  cursor: pointer;
}

.cases-section-content .normal {
  background: #F6F7F8;
  box-shadow: none;
}

.cases-section-content-item .cases-section-content-item-name {
  font-size: .22rem;
  color: #326DE6;
  font-weight: 500;
  line-height: .24rem;
}
.cases-section-content-item .cases-section-content-item-name2 {
  font-size: .14rem;
  color: #326DE6;
  opacity: 0.8;
  margin-top: .04rem;
  display: block;
  line-height: .2rem;
  font-weight: 500;
}
.cases-section-content-item.crland {
  line-height: normal;
  padding-top: .12rem;
}

.cases-section .cases-section-detail-list {
  display: flex;
  overflow: hidden;
  position: relative;
}

.cases-section .cases-section-detail-list .cases-section-detail-none {
  opacity: 0;
  z-index: 0;
}

.cases-section .cases-section-detail-list .cases-section-detail-block {
  opacity: 1;
  z-index: 1;
  position: absolute;
  /*transition: all 1s ease 0s;*/
  left: 0;
}

@media (max-width: 767px) {
  .cases-section {
    padding: .6rem .1rem;
  }

  .cases-section-detail-mask {
    padding: .56rem .2rem;
  }

  .cases-section-content {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: .2rem;
  }

  .cases-section-content-item {
    margin-bottom: .2rem;
  }
}
