/* 社区页面 */
.community .talk-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
    font-size: 0.26rem;
    color: #333333;
}

.community .talk-text p {
    margin: 0;
    font-size: 0.22rem;
    font-weight: 400;
}

.community .talk-text p + p {
    margin-top: 0.15rem;
}

.community .social-detail {
    margin: 0.8rem 2.85rem 1.4rem 2.85rem;
    display: flex;
    justify-content: space-between;
}

.community .social-detail .social-single {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.community .social-detail .social-img {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.community .social-detail .social-name {
    font-size: 0.16rem;
    color: #5CC2F2;
    margin-bottom: 0.16rem;
}

.community .social-detail .social-description {
    font-size: 0.16rem;
    color: #333333;
}

.community .social-detail img{
    margin-left: 0;
    width: 70%;
    height: 65%;
}
.community .forum {
    background-image: linear-gradient(-1deg, #003DAC 0%, #3371E3 100%);
    width: 100%;
    height: 5.7rem;
    margin-bottom: 2.03rem;
}
.community .forum-background{
    background:url(../img/socials/forum.svg) no-repeat center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.community .forum-title{
    margin: 0.4rem 0 0.2rem 0;
    font-size: 24px;
    color: #FFFFFF;
}
.community .forum-description{
    font-size: 16px;
    color: #FFFFFF;
}
.community .forum-data{
    width: 10.6rem;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0.54rem;
    box-shadow: 0 0 0.2rem 0;
    border-radius: 0.06rem;
    background: #FFFFFF;
}

.community .forum-button{
    width: 100%;
    align-items: center;
    display: flex;
    color: #3670E3;
    background: #FFFFFF;
    border-radius: 0.06rem 0.06rem 0 0;
    box-shadow: 0 0 0.1rem 0 #909090;
    justify-content: space-between;
}
.community .btn{
    margin-left: 0.3rem;
    color: #3670E3;
}
.community .btn:hover{
    color: #3670E3;
}

.community .choose{
    background: #3670E3;
    border-radius: 6px;
    color: #FFFFFF;
}
.community .choose:hover{
    color: #FFFFFF;
}
.community .forum-table{
    width: 100%;
    border-radius: 0 0 0.06rem 0.06rem;
    padding-top: 0.15rem;
}

.community .forum-table table{
    width: 100%;
}
.community .forum-table table tr {
    display: block;
    border-bottom: 0.01rem solid #ddd;
    margin: 0 0.25rem;
}
.community .forum-table table tr:last-child{
    border-bottom: none;
}

.community .forum-table td {
    padding: 0;
    font-size: 0.14rem;
    color: rgba(0,0,0,0.65);
    height: 0.45rem;
}

.community .forum-table .td1 {
    width: 1.5rem;
    text-align: left;
}
.community .forum-table .td2 {
    text-align: left;
    width: 5.5rem;
}
.community .forum-table .td3 {
    width: 1rem;
    text-align: center;
}
.community .forum-table .td4 {
    width: 1rem;
    text-align: center;
}
.community .forum-table .td5 {
    width: 1.2rem;
    text-align: right;
}
/* live */
.community .live{
    background: #F7F7F7;
}

.community > .live > .head{
    font-size: 0.24rem;
    color: rgba(0,0,0,0.87);
    line-height: 1;
    text-align: center;
    padding-top: 0.6rem;
}

.community > .live > .content{
    margin: 1.3rem 1.2rem 1rem 1.2rem;
}

.community > .live > .content > .row + .row{
    margin-top: 1.5rem;
}

.community > .live > .content .card{
    width: 3.53rem;
    /* height: 1.72rem; */
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: space-between;
}

.community > .live > .content .card + .card{
    margin-left: 0.71rem;
}

.community > .live > .content .card.blue-card{
    background:url(/img/socials/live/bg-blue.png) no-repeat;
    background-size: cover;
}

.community > .live > .content .card.yellow-card{
    background:url(/img/socials/live/bg-yellow.png) no-repeat;
    background-size: cover;
}

.community > .live > .content .card > .content{
    padding: 0.4rem 0.1rem 0.15rem 0.1rem;
    z-index: 1;
    max-width: 2rem;
}
.community > .live > .content .card .title{
    font-size: 0.18rem;
    color: #FFFFFF;
}

.community > .live > .content .card .description{
    margin-top: 0.1rem;
    font-size: 0.14rem;
    /* height:0.6rem; */
    /* max-width: 1.5rem; */
    color: #FFFFFF;
    min-height: 0.71rem;
}

.community > .live > .content .card .play{
    color: #FFFFFF;
    margin-top: 0.1rem;
    /* height: 0.22rem; */
    padding: 0 0.05rem;
    background: #FF4D4F;
    display: flex;
    min-width: 0.84rem;
    max-width: 6em;
}

.community > .live > .content .card .play > i{
    font-size: 0.12rem;
    margin: auto;
    text-align: center;
}

.community > .live > .content .card .lecturer{
    max-width: 1.8rem;
    /* max-height: 0.8rem; */
    background: #FFFFFF;
    padding: 0.09rem 0.15rem;
    margin-top: auto;
    z-index: 1;
    margin-bottom: 0.1rem;
}
.community > .live > .content .card .lecturer > .position,
.community > .live > .content .card .lecturer > .name{
    color: #000000;
    font-weight: 500;
}

.community > .live > .content .card > img{
    /* height: 2.42rem; */
    width: 2rem;
    position: absolute;
    bottom: 0;
    right: 0;
}
/* live end */

@media (max-width: 767px) {
    .community{
        width: auto;
        margin: 0 0.2rem;
    }
    .community .talk-text{
        margin-top: 0.25rem;
    }
    .community .talk-text p {
        line-height: 1.5;
        font-size: 0.14rem;
        color: rgba(0,0,0,0.65);
    }
    .community .talk-text p + p {
        margin-top: 0;
    }
    .community .social-detail {
        margin: 0.35rem 0.15rem;
        padding: 0;
    }
    .community .social-detail .social-single {
        justify-content: center;
        width: 100%;
        height: 2.1rem;
        box-shadow: 0 0.02rem 0.06rem 0 rgba(0,0,0,0.20);
        border-radius: 0.08rem;
        margin-bottom: 0.35rem;
    }
    .community .social-detail .social-img {
        width: 1rem;
        height: 0.96rem;
    }
    .community .social-detail .social-name {
        font-size: 0.14rem;
        /*color: #5CC2F2;*/
        margin-bottom: 0.225rem;
        color: #000000;
        letter-spacing: 0.00325rem;
    }
    .community .social-detail .social-description {
        font-size: 0.14rem;
        color: #000000;
        line-height: 1.5;
    }
    .community .forum{
        display: none;
    }
    .community .live{
        background-color: #FFFFFF;
        height: auto;
    }
    .community > .live > .content{
        margin: 1.2rem 0.1rem;
    }
    .community > .live > .content .row{
        margin: auto;
    }
    .community > .live > .content .card{
        width: 3.15rem;
    }
    .community > .live > .content .card + .card{
        margin-top: 1rem;
        margin-left: 0;
    }
    .community > .live > .content > .row + .row{
        margin-top: 1rem;
    }
    .community > .live > .content .card > img{
        width: 1.5rem;
    }
    .community > .live > .content .card .lecturer{
        width: 1.5rem;
        padding-bottom: 0.1rem;
        max-height: 0.75rem;
    }
    .community > .live > .content .card .description{
        min-height: 0.6rem;
    }

}