/* 社区页面 */
.community .talk-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
    font-size: 0.26rem;
    color: #333333;
}

.community .talk-text p {
    margin: 0;
    font-size: 0.22rem;
    font-weight: 400;
}

.community .talk-text p + p {
    margin-top: 0.15rem;
}

.community .social-detail {
    margin: 0.8rem 2.85rem 1.4rem 2.85rem;
    display: flex;
    justify-content: space-between;
}

.community .social-detail .social-single {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.community .social-detail .social-img {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.community .social-detail .social-name {
    font-size: 0.16rem;
    color: #5CC2F2;
    margin-bottom: 0.16rem;
}

.community .social-detail .social-description {
    font-size: 0.16rem;
    color: #333333;
}

.community .social-detail img{
    margin-left: 0;
    width: 70%;
    height: 65%;
}
.community .forum {
    background-image: linear-gradient(-1deg, #003DAC 0%, #3371E3 100%);
    width: 100%;
    height: 5.7rem;
    margin-bottom: 2.03rem;
}
.community .forum-background{
    background:url(../img/socials/forum.svg) no-repeat center;
    width: 100%;
    height: 5.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.community .forum-title{
    margin: 0.4rem 0 0.2rem 0;
    font-size: 24px;
    color: #FFFFFF;
}
.community .forum-description{
    font-size: 16px;
    color: #FFFFFF;
}
.community .forum-data{
    width: 10.6rem;
    height: 5.1rem;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0.54rem;
    box-shadow: 0 0 0.2rem 0;
    border-radius: 0.06rem;
    background: #FFFFFF;
}

.community .forum-button{
    width: 100%;
    height: 0.6rem;
    align-items: center;
    display: flex;
    color: #3670E3;
    background: #FFFFFF;
    border-radius: 0.06rem 0.06rem 0 0;
    box-shadow: 0 0 0.1rem 0 #909090;
    justify-content: space-between;
}
.community .btn{
    margin-left: 0.3rem;
    color: #3670E3;
}
.community .btn:hover{
    color: #3670E3;
}
.community .forum-entr{

}
.community .choose{
    background: #3670E3;
    border-radius: 6px;
    color: #FFFFFF;
}
.community .choose:hover{
    color: #FFFFFF;
}
.community .forum-table{
    width: 100%;
    height: 4.5rem;
    border-radius: 0 0 0.06rem 0.06rem;
    padding-top: 0.15rem;
}

.community .forum-table table{
    width: 100%;
}
.community .forum-table table tr {
    display: block;
    border-bottom: 0.01rem solid #ddd;
    margin: 0 0.25rem;
}
.community .forum-table table tr:last-child{
    border-bottom: none;
}

.community .forum-table td {
    padding: 0;
    font-size: 0.14rem;
    color: rgba(0,0,0,0.65);
    height: 0.45rem;
}

.community .forum-table .td1 {
    width: 1.5rem;
    text-align: left;
}
.community .forum-table .td2 {
    text-align: left;
    width: 5.5rem;
}
.community .forum-table .td3 {
    width: 1rem;
    text-align: center;
}
.community .forum-table .td4 {
    width: 1rem;
    text-align: center;
}
.community .forum-table .td5 {
    width: 1.2rem;
    text-align: right;
}

@media (max-width: 767px) {
    .community{
        width: auto;
        margin: 0 0.2rem;
    }
    .community .talk-text{
        margin-top: 0.25rem;
    }
    .community .talk-text p {
        line-height: 1.5;
        font-size: 0.14rem;
        color: rgba(0,0,0,0.65);
    }
    .community .talk-text p + p {
        margin-top: 0;
    }
    .community .social-detail {
        margin: 0.35rem 0.15rem;
        padding: 0;
    }
    .community .social-detail .social-single {
        justify-content: center;
        width: 100%;
        height: 2.1rem;
        box-shadow: 0 0.02rem 0.06rem 0 rgba(0,0,0,0.20);
        border-radius: 0.08rem;
        margin-bottom: 0.35rem;
    }
    .community .social-detail .social-img {
        width: 1rem;
        height: 0.96rem;
    }
    .community .social-detail .social-name {
        font-size: 0.14rem;
        /*color: #5CC2F2;*/
        margin-bottom: 0.225rem;
        color: #000000;
        letter-spacing: 0.00325rem;
    }
    .community .social-detail .social-description {
        font-size: 0.14rem;
        color: #000000;
        line-height: 1.5;
    }
    .community .forum{
        display: none;
    }

}