@import url("style.choerodon.css");
@import url("footer.css");

.connect-us {
  margin-top: .7rem;
}

.connect-us .connect-us-header {
  background: url("../img/connect-us/header.png") no-repeat;
  background-size: 100% 100%;
  padding: 1.08rem 1.02rem 1.13rem;
}

.connect-us .connect-us-header h5 {
  line-height: .5rem;
  font-size: .36rem;
  color: #0D224A;
  font-weight: 400;
}

.connect-us .connect-us-header p {
  font-size: .16rem;
  color: #0D224A;
  line-height: .22rem;
  font-weight: 400;
  margin: .2rem 0 0;
}

.connect-us .connect-us-banner {
  background: url("../img/connect-us/banner.png") no-repeat;
  background-size: 100% 100%;
  height: 2.68rem;
  position: relative;
}

.connect-us .connect-us-banner .connect-us-method {
  padding: .5rem 0 .38rem .44rem;
  background-color: #fff;
  box-shadow: 0 0 21px 0 rgba(0,27,82,0.20);
  border-radius: 8px;
  position: absolute;
  right: 1.65rem;
  top: -2.65rem;
  width: 4.78rem;
}

.connect-us .connect-us-banner .connect-us-method h6 {
  font-size: .2rem;
  color: #0D224A;
  line-height: .28rem;
  margin: .4rem 0 .2rem;
  font-weight: 500;
}

.connect-us .connect-us-banner .connect-us-method h6:first-child {
  margin: 0 0 .2rem;
}

.connect-us .connect-us-banner .connect-us-method .connect-us-method-item {
  display: flex;
  margin-bottom: .24rem;
  position: relative;
}

.connect-us .connect-us-banner .connect-us-method .connect-us-method-item:last-child {
  margin-bottom: 0;
}

.connect-us .connect-us-banner .connect-us-method .connect-us-method-icon {
  width: .24rem;
  height: .24rem;
  margin-right: .1rem;
}

.connect-us .connect-us-banner .connect-us-method p,
.connect-us .connect-us-banner .connect-us-method a {
  font-size: .16rem;
  color: #326DE6;
  line-height: .22rem;
  font-weight: 500;
  margin: 0;
}

.connect-us .connect-us-banner .connect-us-method .connect-us-method-item-nohover p,
.connect-us .connect-us-banner .connect-us-method .connect-us-method-item-nohover:hover p {
  color: #0D224A;
}

.connect-us .connect-us-product {
  background: url("../img/connect-us/background.png") no-repeat;
  background-size: 100% 100%;
  padding: .6rem 2.58rem .76rem;
  display: flex;
}

.connect-us .connect-us-product .connect-us-product-content {
  margin-right: .24rem;
}

.connect-us .connect-us-product h6 {
  font-size: .24rem;
  color: #0D224A;
  font-weight: 500;
  line-height: .33rem;
  margin: 0 0 .4rem;
}

.connect-us .connect-us-product .connect-us-product-item img {
  width: .5rem;
  height: .54rem;
  margin-right: .18rem;
}

.connect-us .connect-us-product .connect-us-product-item {
  background: #FFFFFF;
  border-radius: 8px;
  padding: .36rem 0 .36rem .3rem;
  margin-bottom: .24rem;
  display: flex;
  align-items: center;
  width: 4.5rem;
  cursor: pointer;
}

.connect-us .connect-us-product .connect-us-product-item:hover {
  box-shadow: 0 0 26px 0 rgba(0,48,146,0.1);
}

.connect-us .connect-us-product .connect-us-product-item .connect-us-product-item-label {
  font-size: .14rem;
  color: rgba(13,34,74,0.68);
  line-height: .2rem;
  margin: 0 0 .06rem;
  font-weight: 500;
  display: block;
}

.connect-us .connect-us-product .connect-us-product-item .connect-us-product-item-url {
  font-size: .16rem;
  color: #0D224A;
  line-height: .22rem;
  font-weight: 500;
}

.connect-us .connect-us-product .connect-us-product-item:hover .connect-us-product-item-url {
  color: #326DE6;
}

.connect-us .connect-us-banner .connect-us-method .content-us-method-code {
  position: absolute;
  left: 2.2rem;
  top: -0.52rem;
  display: none;
}

.connect-us .connect-us-banner .connect-us-method .content-us-method-code img {
  width: 1rem;
  height: 1rem;
  background: #6899FF;
  border-radius: 2px;
  padding: .06rem;
}

.connect-us .connect-us-banner .connect-us-method .content-us-method-code .content-us-method-code-arrow {
  transform: rotate(-90deg);
  position: relative;
  border: 6px solid transparent;
  border-bottom: 6px solid #6899FF;
  width: 0;
  height: 0;
  left: -0.1rem;
  top: .56rem;
}

.connect-us .connect-us-banner .connect-us-method .content-us-method-code-hand {
  left: 2.04rem;
}

.connect-us .connect-us-banner .connect-us-method .connect-us-method-item:hover .content-us-method-code {
  display: block;
}
