.contribute{
    padding: 0.6rem 1.8rem 0.8rem 1.8rem;
}

.contribute .title{
    font-size: 0.24rem;
    color: rgba(0,0,0,0.87);
    text-align: center;
    line-height: 0.44rem;
}

.contribute .cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contribute .cards .card{
    margin-top: 0.6rem;
    padding: 0.4rem 0.5rem 0 0.5rem;
    box-shadow: 0 2px 18px 0 #ECECEC;
    border-radius: 6px;
}

.contribute .cards .card .description{
    font-size: 0.18rem;
    color: rgba(0,0,0,0.87);
    text-align: left;
    line-height: 0.26rem;
    margin-bottom: 0.16rem;
    max-width: 4rem;
}
.contribute .cards .card .buttons{
    display: flex; 
    flex-direction: row
}

.contribute .cards .card .buttons .button + .button{
    margin-left: 0.2rem;
}

.contribute .cards .card img{
    margin-top: 0.28rem;
    display: block;
}

@media (max-width: 767px) {
    .contribute {
        padding: 0.6rem 0.15rem 0.8rem 0.15rem;
    }
    .contribute .cards{
        flex-direction: column;
    }
    .contribute .cards .card{
        padding: 0.4rem 0.15rem 0 0.15rem;
    }
    .contribute .cards .card + .card{
        margin-left: 0;
        margin-top: 0.4rem;
    }
    .contribute .cards .card img{
        width: 100%;
    }
}