.footer {
    background: url(/img/banner.svg) no-repeat bottom #303030;
    padding: 0;
    color: #999999;
    width: 100%;
    text-align: center;
    background-position-y: -30px;
}

.footer .footer-nav {
  padding: 0.3rem 0;
  display: flex;
  justify-content: center;
}

.footer .footer-nav a {
  font-size: 0.24rem;
  color: #FFFFFF;
  font-weight: 300;
  display: inline-block;
  line-height: 1.16;
  margin-left: 0.82rem;
}

.footer .footer-nav a:first-child {
  margin-left: 0;
}

.footer .footer-nav a:hover {
  color: #fff
}

.footer .social .social-single{
    margin: 0 0 0 .2rem;
}

.footer .social i {
    font-size: 50px;
    background-color: #FFFFFF;
    border-radius: 6px;
    color: #3371E3;
}

.footer .social i:hover{
    background-color: #3371E3;
    color:#FFFFFF;
}

.footer .social .social-single:first-child {
    margin: 0;
}

.footer .sina-hover,
.footer .wechat-hover {
    display: none;
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: #FFFFFF;
}
.footer .wechat-hover img,
.footer .sina-hover img{
    width: 100%;
    height: 100%;
}

.footer .load-img [data-loader='circle']{
    margin: 0.375rem;
}

.footer .copy-right {
    font-size: 0.12rem;
    color: #FFFFFF;
    padding: 0.3rem 0;
    line-height: 1.5;
}

@media(max-width:767px) {
    .footer .footer-nav {
        padding: 0.35rem 0 0.65rem 0;
    }
    .footer .footer-nav a {
        font-size: 0.18rem;
        color: #FFFFFF;
        font-weight: 300;
        margin-left: 0.25rem;
    }
    .footer .social a {
        width: 0.5rem;
        height: 0.5rem;
        margin: 0 0 0 0.2rem;
    }
    .footer .copy-right {
        font-size: 0.12rem;
        padding: 0.6rem 0 0.3rem 0;
    }
}