.footer {
  background: #091C3E;
  color: #fff;
  width: 100%;
}

.footer .footer-content {
  padding: .68rem 1.3rem .45rem;
  display: flex;
  justify-content: space-between;
}

.footer .footer-content .footer-nav {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-right: .9rem;
}

.footer .footer-content .footer-nav .footer-nav-item .footer-nav-item-title {
  font-size: .2rem;
  line-height: .28rem;
  margin-bottom: .18rem;
}

.footer .footer-content .footer-nav .footer-nav-item .footer-nav-item-link .footer-nav-item-link-text {
  font-size: .14rem;
  color: #E5E7F6;
  line-height: .28rem;
  display: block;
  margin-bottom: .04rem;
}

.footer .footer-content .footer-connect {
  font-size: 18px;
  font-weight: 500;
  line-height: .25rem;
}

.footer .footer-content .footer-connect .footer-connect-text {
  margin-bottom: .2rem;
}

.footer .footer-content .footer-connect .footer-connect-text img {
  width: .24rem;
  height: .24rem;
  margin-right: .12rem;
}

.footer .footer-content .footer-connect .footer-connect-img {
  display: flex;
  margin-top: .1rem;
  justify-content: space-between;
}

.footer .footer-content .footer-connect .footer-connect-img .footer-connect-img-item {
  margin-right: .8rem;
}

.footer .footer-content .footer-connect .footer-connect-img img {
  width: 1.24rem;
  height: 1.24rem;
}

.footer .footer-content .footer-connect p {
  font-size: .14rem;
  color: #E5E7F6;
}

.footer .copy-right {
  border-top: 1px solid #384E7F;
  padding: .2rem 1.3rem;
  font-size: .14rem;
  color: #C3CAF3;
  line-height: .2rem;
  display: flex;
  align-items: center;
}

.footer .copy-right span {
  padding-left: .4rem;
}


@media(max-width:767px) {
    .footer .footer-nav {
        padding: 0.35rem 0 0.65rem 0;
    }
    .footer .footer-nav a {
        font-size: 0.18rem;
        color: #FFFFFF;
        font-weight: 300;
        margin-left: 0.25rem;
    }
    .footer .social a {
        width: 0.5rem;
        height: 0.5rem;
        margin: 0 0 0 0.2rem;
    }
    .footer .copy-right {
        font-size: 0.12rem;
        padding: 0.6rem 0 0.3rem 0;
    }
}
