.footer {
    background: url(/img/banner.svg) no-repeat bottom #303030;
    padding: 0;
    color: #999999;
    width: 100%;
    text-align: center;
    background-position-y: -30px;
}

.footer .footer-nav {
  padding: 0.3rem 0;
  display: flex;
  justify-content: center;
}

.footer .footer-nav a {
  font-size: 0.24rem;
  color: #FFFFFF;
  font-weight: 300;
  display: inline-block;
  line-height: 1.16;
  margin-left: 0.82rem;
}

.footer .footer-nav a:first-child {
  margin-left: 0;
}

.footer .footer-nav a:hover {
  color: #fff
}

.footer .social {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.footer .social a {
    color: #555555;
    font-size: 0.25rem;
    margin: 0 0 0 0.2rem;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: auto;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.05rem;
}

.footer .social a:first-child {
    margin: 0;
}

.footer .social a:hover {
    color: #5CC2F2;
}

.footer .sina-hover,
.footer .wechat-hover {
    display: none;
    position: absolute;
    width: 1rem;
    height: 1rem;
}

.footer a.github {
    background: url(/img/footer/github.svg) no-repeat center;
    background-size: 100%;
}

.footer a.github:hover {
    background: url(/img/footer/github-hover.svg) no-repeat center;
    background-size: 100%;
}

.footer a.wechat {
    background: url(/img/footer/wechat.svg) no-repeat center;
    background-size: 100%;
}

.footer a.wechat:hover {
    background: url(/img/footer/wechat-hover.svg) no-repeat center;
    background-size: 100%;
}

.footer a.sina {
    background: url(/img/footer/sina.svg) no-repeat center;
    background-size: 100%;
}

.footer a.footer-forum {
    background: url(/img/footer/forum.svg) no-repeat center;
    background-size: 100%;
}

.footer a.footer-forum:hover {
    background: url(/img/footer/forum-hover.svg) no-repeat center;
    background-size: 100%;
}

.footer a.sina:hover {
    background: url(/img/footer/sina-hover.svg) no-repeat center;
    background-size: 100%;
}

.footer .copy-right {
    font-size: 0.12rem;
    color: #FFFFFF;
    padding: 0.3rem 0;
    line-height: 1.5;
}

@media(max-width:767px) {
    .footer .footer-nav {
        padding: 0.35rem 0 0.65rem 0;
    }
    .footer .footer-nav a {
        font-size: 0.18rem;
        color: #FFFFFF;
        font-weight: 300;
        margin-left: 0.25rem;
    }
    .footer .social a {
        width: 0.5rem;
        height: 0.5rem;
        margin: 0 0 0 0.2rem;
    }
    .footer .copy-right {
        font-size: 0.12rem;
        padding: 0.6rem 0 0.3rem 0;
    }
}