.problem-section {
  color: #FFFFFF;
}

.problem-section h4 {
  font-size: .24rem;
  line-height: .33rem;
  color: #0D224A;
  text-align: center;
  margin-bottom: .4rem;
  margin-top: 0;
  padding: 0;
  font-weight: 500;
  margin-left: .2rem;
}

.problem-section-problem {
  width: 50%;
  padding: .13rem 0 .13rem .13rem;
}

.problem-section-highlights {
  width: 60%;
  padding: .13rem .13rem .13rem 0;
}

.problem-section-main,
.problem-section-item {
  display: flex;
  overflow: hidden;
}

.problem-section-problem-content,
.problem-section-highlights-content {
  display: grid;
  grid-column-gap: .4rem;
  grid-row-gap: .8rem;
  grid-template-columns: repeat(2, 50%);
}

.problem-section-highlights-content {
  grid-column-gap: .25rem;
}

.problem-section-problem-content {
  margin-right: 1rem;
}

.problem-section-title {
  font-size: .16rem;
  font-weight: 500;
}

.problem-section-description {
  font-size: .13rem;
  color: rgba(255,255,255,0.80);
  margin-top: .12rem;
  width: 80%;
}

.problem-section-problem {
  background: url("../img/home/problem/problem.png") no-repeat;
  background-size: cover;
  width: 55%;
}

.problem-section-problem .problem-section-problem-border {
  border: 1px solid #3D82FF;
  padding: .64rem 0 .64rem .37rem;
  border-right: none;
}

.problem-section-highlights .problem-section-highlights-border {
  border: 1px solid #3D82FF;
  padding: .64rem .37rem .64rem 1.2rem;
  border-left: none;
}

.problem-section-problem-index {
  width: .26rem;
  height: .26rem;
  line-height: .26rem;
  font-size: .18rem;
  text-align: center;
  color: #FFFFFF;
  background: #687183;
  margin-right: .1rem;
  flex-shrink: 0;
}

.problem-section-highlights{
  background: url("../img/home/problem/highlights.png") no-repeat;
  background-size: calc(100% + .8rem);
  margin-left: -1.22rem;
  margin-top: -.18rem;
  padding-top: calc(0.13rem + 0.18rem);
}

.problem-section-highlights-index {
  width: .26rem;
  height: .26rem;
  line-height: .26rem;
  font-size: .18rem;
  text-align: center;
  color: #FFFFFF;
  background: #326DE6;
  margin-right: .1rem;
  flex-shrink: 0;
}

.problem-section-problem h4 {
  font-size: .24rem;
  line-height: .33rem;
  margin-bottom: .4rem;
  color: rgba(255,255,255,0.80);
}

.problem-section-highlights h4 {
  font-size: .24rem;
  line-height: .33rem;
  margin-bottom: .4rem;
  color: #fff;
}

@media (max-width: 767px) {
  .problem-section-main {
    flex-direction: column;
  }

  .problem-section-problem,
  .problem-section-highlights {
    width: 100%;
    padding: .13rem;
  }

  .problem-section-highlights {
    margin: .2rem 0 0;
    background: rgba(0, 0, 0, 0.8);
  }

  .problem-section-problem .problem-section-problem-border {
    padding: .64rem .1rem;
    border-right: 1px solid #3D82FF;
  }

  .problem-section-highlights .problem-section-highlights-border {
    padding: .64rem .1rem;
    border-left: 1px solid #3D82FF;
  }

  .problem-section-problem-content {
    margin: 0;
    grid-column-gap: .2rem;
    grid-row-gap: .4rem;
  }
}
