@import url("style.choerodon.css");
@import url("footer.css");

.services-resources {
  margin-top: .7rem;
}

.services-resources .services-resources-header {
  padding: .6rem 0;
}

.services-resources .services-resources-header h5 {
  font-size: 40px;
  color: #0D224A;
  letter-spacing: 3.33px;
  line-height: .56rem;
  font-weight: 400;
  margin: 0;
}

.services-resources .services-resources-header .services-resources-banner {
  width: 100%;
  margin: .5rem 0 .6rem;
}

.services-resources .services-resources-header p {
  font-size: .20rem;
  color: #0D224A;
  letter-spacing: 1.5px;
  line-height: .34rem;
  font-weight: 400;
  padding: 0 1.6rem;
}

.services-resources .services-resources-content {
  background: #F6F7F9;
  padding: 1rem 2.19rem .2rem;
}

.services-resources .services-resources-content .services-resources-content-item {
  display: flex;
  align-items: center;
  margin-bottom: .8rem;
}

.services-resources .services-resources-content .services-resources-content-item img {
  width: .8rem;
  height: .98rem;
  margin-right: .58rem;
}

.services-resources .services-resources-content .services-resources-content-item h6 {
  font-size: .18rem;
  color: #0D224A;
  letter-spacing: 1.5px;
  font-weight: 500;
  margin: 0;
}

.services-resources .services-resources-content .services-resources-content-item p {
  font-size: .16rem;
  color: rgba(13,34,74,0.86);
  letter-spacing: 1.33px;
  font-weight: 400;
  margin: .18rem 0 0;
}
