/* 导航栏 */
/* 子菜单 */
.sub-menus{
    display: none;
    list-style: none;
    position: absolute;
    padding: 0.05rem;
    right: 0.3rem;
    top: 0.5rem;
    border-radius: 0.05rem;
}

.sub-menus li a{
    color: #FFFFFF;
    font-size: 0.16rem;
    letter-spacing: 0.08em;
}
.sub-menus li a:hover{
    opacity: 0.7;
}
.fixed-nav .sub-menus{
    background-color: #FFFFFF;
    box-shadow: 0 3px 10px 3px rgba(0,0,0,.07);
}
.fixed-nav .sub-menus li a{
    color: #333333;
}

/* 子菜单结束 */
/* 导航栏中英文切换 */
.navbar .global-language{
    float: right;
    display: none;
    justify-content: center;
    align-items: center;
    line-height: 1;
    font-size: 0.16rem;
    margin: 0.17rem 0.3715rem;
    border: 0.01rem solid #fff;
    padding: 0.05rem 0.0235rem;
    border-radius: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.navbar .global-language a{
    cursor: pointer;
    color: #fff;
}
.navbar.fixed-nav .global-language,
.navbar.top-white-nav .global-language{
    border: 0.01rem solid rgba(51, 51, 51, .7);
}
.navbar.fixed-nav .global-language a,
.navbar.top-white-nav .global-language a{
    opacity: 0.7;
    color: #333333;
}
.navbar .global-language .language-list{
    position: absolute;
    display: none;
    left: -0.4rem;
    top: 0.27rem;
    list-style: none;
    padding: 0.15rem 0;
    margin: 0;
    border: 0.01rem solid #eeeeee;
    border-radius: 0.05rem;
    background-color: #fff;
}
.navbar .global-language .language-list li{
    padding: 0.08rem 0.1rem;
}
.navbar .global-language .language-list li:hover{
    background-color: #E2ECFF;
}
.navbar .global-language .language-list li a{
    color: #5CC2F2;
}

.navbar.fixed-nav .global-language .language-list,
.navbar.top-white-nav .global-language .language-list{
    border: 0.01rem solid rgba(51, 51, 51, .2);
}
.navbar.fixed-nav .global-language .language-list li a,
.navbar.top-white-nav .global-language .language-list li a{
    color: rgba(51, 51, 51, .6);
}
/* 导航栏中英文切换 end */
.navbar:before,
.navbar:after {
    content: " ";
    display: table;
}

.navbar:after {
    clear: both;
}

.navbar ul.nav>li>a {
    letter-spacing: 0.08em;
    font-size: 0.16rem;
    color: white;
    font-weight: normal;
    padding: 0;
    margin: 0.22rem 0.15rem;
}
.navbar ul.nav>li>a.active-page{
    border-bottom: 0.02rem solid;
    padding-bottom: 0.05rem;
    margin: 0.2rem 0.15rem 0.08rem 0.15rem;
}

.top-white-nav ul.nav>li>a,
.fixed-nav ul.nav>li>a {
    color: #333333;
}

.navbar ul.nav>li.active>a,
.navbar ul.nav>li.open>a {
    border-top: solid 0.05rem #5CC2F2;
}

.navbar .navbar-buttons {
    display: none;
}

.navbar .navbar-left-buttons-open,
.navbar .navbar-left-buttons {
    float: left;
    margin-left: 1rem;
}

.top-nav .btn-template-main {
    color: white;
}

.top-nav.top-white-nav .btn-template-main {
    color: #171829;
    border: 0;
}

.btn-template-main {
    color: #171829;
    background-color: transparent;
    border-color: #dddddd;
}

.btn-template-main:hover,
.btn-template-main:focus,
.btn-template-main:active,
.btn-template-main.active{
    color: #171829;
    border-color: #171829;
}

.btn-template-main:active,
.btn-template-main.active{
    background-image: none;
}

.btn-template-main.disabled,
.btn-template-main[disabled],
fieldset[disabled] .btn-template-main,
.btn-template-main.disabled:hover,
.btn-template-main[disabled]:hover,
fieldset[disabled] .btn-template-main:hover,
.btn-template-main.disabled:focus,
.btn-template-main[disabled]:focus,
fieldset[disabled] .btn-template-main:focus,
.btn-template-main.disabled:active,
.btn-template-main[disabled]:active,
fieldset[disabled] .btn-template-main:active,
.btn-template-main.disabled.active,
.btn-template-main[disabled].active,
fieldset[disabled] .btn-template-main.active {
    background-color: #ffffff;
    border-color: #171829;
}

.nav>li>a {
    padding: 0.1rem 0.15rem;
}

.nav>li>a:hover,
.nav>li>a:focus {
    background-color: transparent;
}

.nav>li.disabled>a {
    color: #999999;
}

.nav>li.disabled>a:hover,
.nav>li.disabled>a:focus {
    color: #999999;
}

/* .nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background-color: #eeeeee;
    border-color: #5CC2F2;
} */

.nav-pills>li {
    float: left;
}

.nav-pills>li>a {
    border-radius: 0;
}

.nav-pills>li+li {
    margin-left: 0.02rem;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    background-color: #F7F7F7;
    border-left: 0.03rem solid #326DE6;
    border-bottom-right-radius: 0.03rem;
    font-size: 0.14rem;
    color: #326DE6;
    letter-spacing: 0.0033rem;
}

.nav-stacked>li {
    float: none;
}

.nav-stacked>li+li {
    margin-top: 0.02rem;
    margin-left: 0;
}

.navbar-collapse {
    overflow-x: visible;
    padding-right: 0.15rem;
    padding-left: 0.15rem;
}

.navbar-collapse.in {
    overflow-y: auto;
}

.navbar .navbar-brand .nav-logo {
    height: 0.3rem;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 0.09rem 0.1rem;
    margin: 0;
    background-color: transparent;
    background-image: none;
    border: 0.01rem solid transparent;
    border-radius: 0;
}

.navbar-toggle:focus {
    outline: 0;
}

.navbar-nav>li>a {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    line-height: 1;
}

.navbar-btn {
    margin-top: 0.14rem;
    margin-bottom: 0.14rem;
}

.navbar .navbar-brand {
    padding: 0.15rem 0.15rem;
    height: 100%;
    display: table-cell;
    width: 1.73rem;
    margin-left: 1rem;
    color: #555555;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #3b3b3b;
    background-color: transparent;
}

.navbar .navbar-nav>li>a {
    color: #555555;
}

.navbar .navbar-nav>.active>a,
.navbar .navbar-nav>.active>a:hover,
.navbar .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #5CC2F2;
}

.navbar .navbar-nav>.disabled>a,
.navbar .navbar-nav>.disabled>a:hover,
.navbar .navbar-nav>.disabled>a:focus {
    color: #cccccc;
    background-color: transparent;
}

.navbar .navbar-toggle {
    border: 0;
}

.navbar-toggle.open{
    background-color: #171829;
    color: #FFFFFF;
}

.navbar-toggle.collapsed{
    color:  #171829;
}

.navbar .navbar-collapse {
    border-color: #cccccc;
    padding: 0;
    margin-right: 1rem;
}

.navbar .navbar-nav>.open>a,
.navbar .navbar-nav>.open>a:hover,
.navbar .navbar-nav>.open>a:focus {
    background-color: #5CC2F2;
    color: #ffffff;
}

.top-nav .navbar-brand .nav-logo {
    background: url(/img/nav/logo.png) no-repeat center;
    background-size: 100%;
}

.top-white-nav .navbar-brand .nav-logo,
.fixed-nav .navbar-brand .nav-logo {
    background: url(/img/nav/choerodon_logo_fixed.svg) no-repeat center;
    background-size: 100%;
}

.top-nav ul.nav>li>a:hover {
    opacity: 0.7;
    color: white;
}

.top-white-nav ul.nav>li>a:hover,
.fixed-nav ul.nav>li>a:hover {
    opacity: 0.7;
    color: #333333;
}

.navbar-left-buttons {
    display: none;
}

.navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
}

.navbar-collapse.collapse {
    display: block;
    height: auto;
    padding-bottom: 0;
    overflow: visible;
}

.navbar-collapse.in {
    overflow-y: auto;
}

.navbar-collapse {
    margin-left: 0;
    margin-right: 0;
}

.navbar-nav {
    margin: 0;
}

.navbar {
    min-height: 0.6rem;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1000;
	vertical-align: middle;
    padding: 0;
    margin-bottom: 0;
    border: none;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    border-radius: 0;
    
}

.top-nav{
	background-color: transparent;
}
.nav {
	border: none;
}

.top-white-nav,
.fixed-nav{
  background-color: #ffffff;
}

.fixed-nav{
    box-shadow: 0 0.02rem 0.06rem rgba(0, 0, 0, .1);
}
.fixed-nav.top-white-nav{
    background-color: #ffffff;
}

/* 导航栏结束 */

/* general styles */

body {
    font-size: 0.14rem;
    line-height: 1.43;
    color: rgba(0, 0, 0, 0.65);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    left: 0;
    right: 0;
}

.iconfont{
    font-size:0.16rem;
}
.white-button{
    justify-content: center;
    font-size: 0.16rem;
    border-radius: 0.06rem;
    width: 1.44rem;
    background-color: #FAFAFA;
    color: #326DE6;
    font-weight: 600;
    display: inline-flex;
    line-height: 2.5;
    padding: 0;
}
.white-button:hover,
.white-button:focus{
    color: #326DE6;
}
.none {
    display: none;
}

.block{
    display: block;
}

a {
    color: #1890ff;
}

a:hover {
    color: #5CC2F2;
}

a:focus {
    outline: thin dotted;
    outline: 0.05rem auto -webkit-focus-ring-color;
    outline-offset: -0.02rem;
}

a,
a:focus,
a:hover {
    text-decoration: none;
}

/* box */

.box {
    background: #fff;
    margin: 0 0 0.3rem;
    border: solid 0.01rem #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.2rem 0;
    border-left: none;
    border-right: none;
    text-align: center;
}

/* buttons  */

.btn {
    font-weight: 700;
    font-size: 0.13rem;
    border-radius: 0;
}

.input-group .btn {
    font-size: 0.14rem;
}

/* 404页面 */

.error-page {
    text-align: center;
    margin-top: 0.4rem;
    margin-bottom: 1rem;
}

.error-page h4 {
    margin-bottom: 0.4rem;
}

.error-page p.buttons {
    margin-top: 0.4rem;
}

/* 404页面 结束 */

/* [data-animate] {
  opacity: 0;
  filter: alpha(opacity=0);
} */

/* type */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 900;
    line-height: 1.1;
    color: #333333;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

p {
    margin: 0.14rem 0;
}

.lead {
    margin-bottom: 0.2rem;
    font-size: 0.21rem;
}

/* menu */

.content-menu {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    line-height: 1.29;
    list-style-type: none;
    min-width: 2.16rem;
}

.content-menu a {
    color: black;
    font-size: 0.14rem;
}

.content-menu .dd-item.alwaysopen>ul {
    display: block;
    padding-bottom: 0.12rem;
}

.content-menu .dd-item.parent>ul {
    display: block;
}

.content-menu .dd-item.active>ul {
    display: block;
}

.content-menu ul {
    padding-left: 0.1rem;
}

.content-menu .dd-item {
    margin-top: 0.08rem;
    list-style: none;
}

.content-menu .dd-item.alwaysopen>ul {
    display: block;
}

.content-menu .dd-item.parent>ul {
    display: block;
}

.content-menu .dd-item.active>ul {
    display: block;
}

.content-menu .dd-item.active>div {
    color: #5CC2F2;
    align-items: center;
}

.content-menu .dd-item.haschildren>div {
    margin-left: -0.2rem;
    align-items: center;
    padding-left: 0.05rem;
}

.content-menu .dd-item div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content-menu .dd-item div * {
    line-height: inherit;
}

.content-menu .dd-item div i.read-icon {
    display: none;
}

.content-menu .dd-item div svg {
    display: flex;
    align-items: center;
    justify-content: center;
    order: 1;
    width: 0.15rem;
    cursor: pointer;
    font-size: 0.1rem;
    color: #999999;
}

.content-menu .dd-item div a {
    display: flex;
    flex: 1;
    order: 2;
    padding: 0;
    color: #333333;
    font-size: 0.14rem;
    line-height: 2.14;
}

.content-menu .dd-item div a:hover {
    color: #5CC2F2;
}

.content-menu .dd-item.active>div>a {
    color: #5CC2F2;
}

.content-menu .category-icon {
    font-size: 0.2rem;
    color: black;
    font-weight: 400;
}

/* menu 结束 */

.content-post {
    background-color: white;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

/* 文章表格 */

.content-post table {
    width: 100%;
}

.content-post th {
    border: 0.01rem solid rgba(170, 170, 170, .3);
    background-color: #e5e5e5;
    padding: 0.05rem 0.1rem;
    color: #6b6b6b;
}

.content-post td {
    border: 0.01rem solid rgba(170, 170, 170, .3);
    padding: 0.05rem 0.1rem;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/

.content-menu::-webkit-scrollbar {
    width: 0.04rem;
    height: 0.06rem;
    background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/

.content-menu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0.06rem rgba(0, 0, 0, 0.3);
    border-radius: 0.1rem;
    background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/

.content-menu::-webkit-scrollbar-thumb {
    border-radius: 0.1rem;
    -webkit-box-shadow: inset 0 0 0.06rem #dadada;
    background-color: #555;
}

/* 图片点击放大 */

.black-big-img {
    z-index: 1001;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
}

.black-big-img img {
    display: inline-block;
    margin: 0 auto;
    border: 2px solid #eee;
    max-height: 75%;
    max-width: 75%;
    background-color: #fff;
}

/* 图片点击放大 结束 */

/* 搜索组件样式 */
.sidebar-menu {
    background: #fff;
    margin-top: 0.4rem;
    margin-bottom: 0;
    width: 2.62rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0;
    box-shadow: 0 0 0;
}

.sidebar-menu .panel-heading {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    text-transform: uppercase;
    margin-bottom: 0.1rem;
    background: none;
    padding: 0;
    letter-spacing: 0.08em;
    border-bottom: none;
}

.sidebar-menu .panel-heading .panel-title {
    display: inline-block;
    font-size: 0.18rem;
    color: #000000;
    letter-spacing: 0.0042rem;
    line-height: 1.1;
    font-weight: 500;
    padding: 0.05rem 0;
    margin: 0;
}

.sidebar-menu .panel-body {
    padding: 0;
}

.sidebar-menu ul.tag-cloud {
    list-style: none;
    padding-left: 0;
}

.sidebar-menu ul.tag-cloud li {
    display: inline-block;
}

.sidebar-menu ul.tag-cloud li a {
    display: inline-block;
    padding: 0.05rem;
    color: #979797;
    margin: 0.05rem 0.05rem 0.05rem 0;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-weight: 700;
    font-size: 0.12rem;
    background: #FFFFFF;
    border: 0.01rem solid #979797;
    border-radius: 0.03rem;
}

.sidebar-menu ul.tag-cloud li a:hover,
.sidebar-menu ul.tag-cloud li.active a {
    color: #326DE6;
    border: 0.01rem solid #326DE6;
}
.search {
    height: 0.4rem;
    display: flex;
    margin-top: 0.2rem;
}

.search-input {
    width: 100%;
    background: #F7F7F7;
    border-radius: 0.06rem 0 0 0.06rem;
    border: none;
    padding: 0.1rem;
    height: 100%;
}

.search-button {
    height: 100%;
    background: #326DE6;
    border: 0.01rem solid #326DE6;
    border-radius: 0 0.06rem 0.06rem 0;
    color: #FFFFFF;
    padding: 0;
    right: 0;
    min-width: 0.5rem;
}
/* 搜索组件样式 结束 */
/* general banner */
.header-nav{
    background: linear-gradient(0deg, #003DAC, #3371E3);
    background: -webkit-linear-gradient(0deg, #003DAC, #3371E3);
    background:-moz-linear-gradient(0deg, #003DAC, #3371E3);
    background: -o-linear-gradient(0deg, #003DAC, #3371E3);
    background:-ms-linear-gradient(0deg, #003DAC, #3371E3);
    background-size: 14.4rem;
    width: 100%;
    height: 2.8rem;
    color: #FFFFFF;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
}

.header-nav .banner-text{
    font-size: 0.36rem;
    font-weight: 300;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 1.9rem;
    font-weight: 300;
    margin-top: 0.3rem;
}

.header-nav .banner-text .description{
    font-size: 0.16rem;
    margin-top: 0.15rem;
}

.header-nav img{
    margin-right: 1.9rem;
    margin-top: 0.6rem;
    width: 3.86rem;
    height: 1.99rem;
    margin-left: 1.5rem;
}

/* general banner end */
@media (max-width: 767px) {
    .docs{
        flex-direction: row;
    }
    .top-white-nav.top-nav{
        box-shadow: none;
    }
    .navbar{
        min-height: 0.5rem;
    }
    .navbar .navbar-brand {
        margin: 0.1rem 0.2rem;
        padding: 0;
        width: auto;
        display: flex;
        align-items: center;
    }
    .navbar .navbar-brand .nav-logo{
        height: 0.3rem;
        width: 1.35rem;
    }
    .navbar .navbar-left-buttons-open,
    .navbar .navbar-left-buttons,
    .navbar .navbar-buttons {
        padding-top: 0.04rem;
    }

    .navbar  .navbar-left-buttons .navbar-toggle,
    .navbar .navbar-buttons .navbar-toggle.collapsed {
        background-color: transparent;
        color: #171829;
        padding: 0;
    }

    .navbar .navbar-buttons{
        display: block;
        float: right;
        padding: 0;
        margin: 0.135rem 0.15rem 0.135rem 0;
    }
    .navbar .navbar-buttons .navbar-toggle{
        padding: 0;
        line-height: normal;
    }
    .navbar .navbar-buttons .iconfont{
        font-size: 0.2rem;
    }

    .top-nav .navbar-buttons .navbar-toggle.collapsed{
        color: #FFFFFF;
    }
    .top-white-nav .navbar-buttons .navbar-toggle.collapsed{
        color: #171829;
    }
    
    .navbar .navbar-collapse{
        padding: 0 0.075rem;
        margin-right: 0;
        background-color: #fff;
    }
    .navbar-collapse.collapse.in {
        display: block;
    }
    .navbar-collapse.collapse {
        display: none;
    }
    .navbar-left-buttons {
        display: block;
    }
    .navbar-collapse {
        width: 2rem;
        position: absolute;
        background-color: #FFFFFF;
        right: 0;
        z-index: 1000;
        box-shadow: 0 2px 8px rgba(0,0,0,.15);
    }
    .navbar-collapse-bg {
        width: 100%;
        height: 7rem;
        position: fixed;
        top: 0.5rem;
        z-index: 999;
    }
    .navbar-collapse-bg .select,
    .navbar-collapse-bg .select-menu{
        width: 1.7rem;
        padding: 0.05rem 0.1rem 0.05rem 0.3rem;
        font-size: 0.18rem;
        z-index: 1001;
        color: #000000;
    }
    .navbar-collapse-bg .select{
        margin: 0.2rem auto 0;
        border-radius: 3px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 2px solid rgba(102, 148, 239, 0.2);
    }
    .navbar-collapse-bg .select-menu{
        list-style: none;
        position: absolute;
        background-color: #FFFFFF;
        right: 0.15rem;
        border: 2px solid rgba(102, 148, 239, 0.2);
    }
    .navbar-collapse-bg .select-menu>li>a{
        color: #000000;
        display: inherit;
        padding: 0.05rem 0;
    }
    .navbar ul.nav>li.active>a,
    .navbar ul.nav>li.open>a {
        border-top-color: transparent;
    }
    .navbar .navbar-left-buttons-open,
    .navbar .navbar-left-buttons {
        padding: 0;
        margin: 0.11rem 0 0.11rem 0.15rem;
    }
    .navbar .navbar-left-buttons-open i,
    .navbar .navbar-left-buttons i{
        padding: 0;
        font-size: 0.2rem;
    }
    .navbar-collapse-bg ul.nav>li>a,
    .navbar ul.nav>li>a {
        margin: 0.3rem 0;
        font-size: 0.18rem;
        line-height: 1;
        padding-left: 0.3rem;
        color: #000000;
    }
    .navbar ul.nav>li>a.active-page{
        margin: 0.1rem 0.15rem;
    }

    .sub-menus{
        position: initial;
        padding: 0 0 0 0.3rem;
    }
    .sub-menus>li>a{
        font-size: 0.24rem;
        line-height: 1;
        margin: 0.2rem 0;
        display: inherit;
    }
    .fixed-nav .sub-menus{
        box-shadow: none;
    }
    .sub-menus li a{
        color: #000000;
    }

    /* 导航栏结束 */
    .social-detail {
        flex-wrap: wrap;
    }
    .social-detail a {
        width: 100%;
        margin-left: 0;
        margin-bottom: 0.5rem;
    }
    .content-menu {
        margin-top: 0;
        margin-bottom: 0;
    }
    .content-menu li {
        padding-top: 0.2rem;
        margin-top: 0;
    }
/* general banner */
    .header-nav {
        height: 2.85rem;
    }
    .header-nav .banner-text{
        margin: 0.4rem 0.2rem 0 0.2rem;
        text-align: center;
    }
    .header-nav .banner-text .head{
        width: 100%;
    }
    .header-nav img{
        display: none;
    }
/* general banner end */
}