.users-logo-section {
  padding: 0 1.9rem 1rem;
}

.users-logo-section .users-logo-section-title {
  font-size: .24rem;
  color: #0D224A;
  text-align: center;
  font-weight: 500;
  margin-bottom: .4rem;
  line-height: .33rem;
}

.users-logo-section .users-logo-section-img {
  width: 100%;
  height: 6.1rem;
  margin: 0 auto;
}

.users-logo-section .users-logo-section-tips {
  font-size: .13rem;
  line-height: .18rem;
  color: rgba(13,34,74,0.85);
  margin-top: .3rem;
  text-align: right;
}
