<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "top.html" . }}

          {{ partial "carousel.html" . }}

        </header>

        {{ partial "abstract.html" . }}

        {{ partial "features.html" . }}

        {{ partial "targets.html" . }}

        <!--{{ partial "fileds.html" . }}-->

        {{ partial "testimonials.html" . }}

        {{ partial "see_more.html" . }}

        <!--{{ partial "temp.html" .  }}

        {{ partial "round.html" .  }}-->

        {{ partial "product.html" . }}

        {{ partial "recent_posts.html" . }}

        {{ partial "clients.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
