<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <link href="/css/case-studies.css" rel="stylesheet">
    <header id="header">
        {{ partial "nav.html" . }}
  </header>
  <body>

    <div id="content" class="case-studies-section">
        <div class="case-nav">
            <h1>{{ i18n "they are using choerodon"}}<br><div><div>{{ i18n "to accelerate business remodeling" }}</div><div>{{ i18n "and digital transformation" }}</div></div></h1>
            <p>{{ i18n "choerodon has increased the agility of the enterprise"}}</p>
        </div>
        <div class="case-studies-content">
            <div class="case-studies-content-box-mobile">
                {{ $paginator := .Paginate (where .Data.Pages "Type" "case-studies") }}
                {{ range $paginator.Pages }}
                <div class="mo-padding">
                    <div class="case-study">
                        <a {{ if .Params.unfinshed }} {{ else }} href="{{ .RelPermalink }}" {{ end }} class="case-list-logo"><img src="{{ .Params.banner }}"></a>
                        <div class="case-list-content">
                            <h3>{{ .Params.title }}</h3>
                            <p class="summary">{{ .Params.summary }}</p>
                            <a class="button"  {{ if .Params.unfinshed }} {{ else }} href="{{ .RelPermalink }}" {{ end }}>
                                <span>{{ i18n "readmore"}}</span>
                                <i class="iconfont icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>        
    </div>
    {{ partial "footer.html" . }}

    {{ partial "scripts.html" . }}
    {{ range .Site.Data.static.case.js }}
        <script src="{{ . }}"></script>
    {{ end }}
  </body>
</html>
