.no-active{
	font-size: 0.2rem;
    width: 10.60rem;
    background-color: #eeeeee;
    padding: 0.2rem;
    margin-top: 0.2rem;
}
.clients-section,
.products-section,
.targets-section,
.abstract-section{
    background: #ffffff;
}
/* abstracts */
.abstracts-section{
	padding: 0;
	margin-top: 0.4rem;
	margin-bottom: 0.5rem;
}
.no-active-section,
.targets-section,
.products-section,
.clients-section,
.abstracts-section{
	align-items: center;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.abstracts-section .abstract-section-content{
	width: 6.79rem;
	margin-right: 0.868rem;
}

.abstracts-section h3 {
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 0.05rem;
	font-size: 0.2rem;
	text-align: left;
	line-height: 1.8;
	color: rgba(0,0,0,0.87);
}
.abstracts-section p{
	margin: 0;
	font-weight: 400;
	font-size: 0.16rem;
	color: rgba(0,0,0,0.65);
	text-align: left;
	line-height: 1.5;
}
.abstract-section-img{
	display: flex;
    align-items: center;
	justify-content: center;
	height: 1.76rem;
	width: 2.95rem;
}
.abstract-section-img img{
	width: 100%
}

/* targets */

.targets-section{
	padding: 0;
	margin-bottom: 0.4rem;
}

.targets-section h3{
	font-weight: normal;
	font-size: 0.24rem;
	color: rgba(0,0,0,0.87);
	text-align: left;
	line-height: 1.83;
	margin: 0;
}

.targets-section p{
	font-weight: 400;
	font-size: 0.16rem;
	color: rgba(0,0,0,0.65);
	text-align: left;
	line-height: 1.5;
	margin: 0;
}

.targets-section .bow{
    display: flex; 
	align-items:center;
	margin-bottom: 0.4rem;
	justify-content: center;
}

.targets-section .text-right{
	width: 8.4rem;
}
.targets-section .img-left{
	margin-right: 0.6rem;
}
.targets-section .img-left img{
	width: 1.6rem;
	height: 1.4rem;
}
.targets-section .text-left {
	width: 8.4rem;
	margin-right: 0.6rem;
}
.targets-section .img-right img{
	width: 1.6rem;
	height: 1.4rem;
}
.target-row{
    display: flex;
}


/* 案例 */
  .customers {
	margin-bottom: 0.6rem;
	display: flex;
	width: 100%;
	justify-content: center;
  }
.customers-mobile{
	display: none;
}
  .customers .content,
  .customers .title{
	display: none;
  }
  
  .customers a{
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	will-change: transform, box-shadow;
	min-width: 1.74rem;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
  }
  .customers a:hover{
	transform: translateY(-0.01rem) translateZ(0);
  }
  .customers .item img:hover {
	max-width: auto;
	filter: none;
	-webkit-filter: none;
  }
.clients-section .customers a{
	background-color: #FFFFFF;
	width: 2.4rem;
	height: 2.1rem;
	box-shadow: 0 0 0.1rem 0 rgba(0,0,0,0.10);
	margin-left: 0.33rem;
}
.clients-section .customers .mo-padding:first-child a{
	margin-left:0;
}

.clients-section .customers img{
	z-index: 998;
	width: 1.5rem;
}
.clients-section .customers .content{
	width: 100%;
	height: 1.60rem;
	background: rgba(0,61,172,0.90);
	justify-content: center;
	top: 0px;
}
.clients-section .customers .content .content-text{
	padding: 0.3rem 0.41rem;
	color: #FFFFFF;
	align-items: center;
	font-weight: 400;
}
.clients-section .customers .title{
	height: 0.5rem;
	color: #000000;
	font-weight: 500;
	width: 100%;
	bottom: 0;
}
.clients-section .customers .title div{
	margin-left: auto;
    margin-right: auto;
}
.clients-section .customers .content,
.clients-section .customers .title{
	font-size: 0.16rem;
	line-height: 1.5;
	align-items: center;
	position: absolute;
	z-index: 999;
	left: 0;
}
.see-more-section {
	background:linear-gradient(-180deg, #003DAC,#3371E3);
	background:-webkit-linear-gradient(-180deg, #003DAC,#3371E3);
	background:-moz-linear-gradient(-180deg, #003DAC,#3371E3);
	background:-o-linear-gradient(-180deg, #003DAC,#3371E3);
	background:-ms-linear-gradient(-180deg, #003DAC,#3371E3);
	
}
.see-more-section .svg{
	background: url(../img/see-more.svg) no-repeat left center;
	position: absolute;
	left: 1.89rem;
	opacity: 0.93;
	width: 6.63rem;
	height: 2.1rem;
	align-self: center;
}

.see-more-section .content{
	margin-left: 9.76rem;
	z-index: 998;
}


.see-more-section .more-icon{
	background: url(../img/see-more-ico.svg) no-repeat center;
	height: 0.4rem;
	width: 0.3rem;
}
.see-more-section .icon-text{
	font-size: 0.16rem;
	line-height: 2.5;
	color: #326DE6;
    margin-right: 0.1rem;
}
.carousels-section .button{
	display: inline-flex;
	line-height: 2.5;
	color: #326DE6;
	padding: 0;
}
.carousels-section .button,
.see-more-section .button{
    justify-content: center;
    font-size: 0.16rem;
	border-radius: 0.06rem;
	width: 1.44rem;
	background-color: #FAFAFA;
	font-weight: 600;
}
.see-more-section .button{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.carousels-section .button:hover,
.see-more-section .button:hover {
    opacity: 0.9;
}
/* carousel.html */
.carousels-section {
	padding-top: 0.8rem;
	background:url(../img/banner.svg)no-repeat,linear-gradient(0deg, #003DAC,#3371E3);
	background:url(../img/banner.svg)no-repeat,-webkit-linear-gradient(0deg, #003DAC,#3371E3);
	background:url(../img/banner.svg)no-repeat,-moz-linear-gradient(0deg, #003DAC,#3371E3);
	background:url(../img/banner.svg)no-repeat,-o-linear-gradient(0deg, #003DAC,#3371E3);
	background:url(../img/banner.svg)no-repeat,-ms-linear-gradient(0deg, #003DAC,#3371E3);
}
.carousels-section .carousel-box-flex{
	display: flex;
	text-align: center;
	flex-direction: column;
}
.carousels-section .carousel-box-flex h3 {
    font-size: 0.36rem;
    line-height: 1.22;
    margin-bottom: 0;
	color: #ffffff;
	margin-top: 0;
	font-weight: 300;
	/*letter-spacing: 2px;*/
}
.carousels-section .carousel-box-flex p {
	font-size: 0.16rem;
	line-height: 1.75;
	color: #ffffff;
	margin-bottom: 0;
	font-weight: 300;
	margin-top: 0.20rem;
	margin-bottom: 0.20rem;
}
.carousels-section .carousel-box-flex .carousel-button{
	margin-bottom: 0.5rem;
}


/* carousel.html end */
/* product.html */
.products-section{
	padding: 0;
    margin-bottom: 0.6rem;
}
.clients-section .text-center,
.products-section .text-center{
	font-size: 0.28rem;
	color: #000000;
	line-height: 1.57;
	margin-top: 0.6rem;
	margin-bottom: 0.4rem;
	width: 100%;
}

.product-icon {
	width:0.65rem;
	height: 0.65rem;
	border-radius: 0.325rem;
	background-color: lightblue;
	float: left;
}
.products-row{
	display: flex;
	justify-content: space-between;
}

.products-content{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
	width: 10.6rem;
	background: #FFFFFF;
    box-shadow: 0 0 0.1rem 0 rgba(0,0,0,0.10);
    border-radius: 0.06rem;
}

.product-box {
	display: flex;
	flex-direction: column;
	width: 100%;
	border-bottom: 0.01rem solid #DADADA;
}
.product-box:last-child{
	border: none;
}

.product-box .product-head{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.product-box:last-child .product-head{
	border: none;
}

.product-box .product-head img{
	margin: 0.3rem;
	height: 0.6rem;
}
.product-title{
	font-size: 0.2rem;
	color: rgba(0,0,0,0.65);
	margin-bottom: 0.1rem;
}

.products-section .product-summary{
	font-size: 0.16rem;
	color: rgba(0,0,0,0.65);
	margin-right: 0.2rem;
}

.products-section .product-detail{
	/* margin: 0.3rem; */
	border-top: 0.01rem solid #DADADA;

}

.products-section .product-description{
	margin: 0.3rem;
	font-size: 0.14rem;
	color: rgba(0,0,0,0.65);
}

.products-section .product-childs{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0.3rem;
}

.products-section .product-child{
	background: rgba(54,112,227,0.05);
	border-radius: 0.05rem;
	width: 2.25rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.products-section .product-child img{
	margin-top: 0.3rem;
	height: 1.2rem;
    width: 1.48rem;
}
.products-section .product-child .product-child-content{
	width: 1.75rem;
	margin-top: 0.4rem;
	margin-bottom: 0.3rem;
}
.products-section .product-child .product-child-title{
	font-size: 0.18rem;
    color: rgba(0,0,0,0.65);
    margin-bottom: 0.1rem;
}
.products-section .product-child .product-child-description{
	font-size: 0.14rem;
    color: rgba(0,0,0,0.65);
}
/* product.html end */
/* see_more.html */
.see-more-section{
	height: 2.63rem;
	padding: 0;
	display: -webkit-flex; /* Safari */
	position: relative;
	margin-bottom: 0.4rem;
}

.see-more-section a{
	font-weight: normal;
	font-size: 0.16rem;
	line-height: 2.5;
}
.see-more-section .title{
	font-weight: 400;
	font-size: 0.36rem;
	color: #FFFFFF;
	margin-bottom: 0.2rem;
	line-height: 1.22;
	margin-top: 0.5rem;
}
.see-more-section .lead{
	font-size: 0.16rem;
	color: #ffffff;
	line-height: 1.75;
	margin-bottom: 0.20rem;
}
.see-more-section .col-md-12{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: left;
    padding: 0;
}
/* see_more.html end */
/* clients.html */
.clients-section{
	padding: 0;
	background-color: #F7F7F7;
}
.clients-section .heading{
	margin-bottom: 0.44rem;
}
/* clients.html end */

@media (max-width: 767px) {
	.no-active-section{
		padding: 0.2rem;
	}
	.carousels-section {
		padding-top: 0.9rem;
	}
	.carousel-box-flex h3{
		font-size: 0.3rem;
		line-height: 1;
		font-weight:normal;
	}
	.carousel-box-flex p{
		font-size: 0.14rem;
		line-height: 1;
		margin: 0.225rem 0 0.3rem 0;
		font-weight:normal;
	}
	.carousels-section .button{
		font-size: 0.13rem;
		line-height: 1.54;
		font-weight: 500;
		text-align: center;
		padding: 0.06rem 0.22rem;
		width: auto;
		height: auto;
	}
	.abstracts-section,
	.targets-section,
	.products-section,
	.abstracts-section{
		width: 3.35rem;
	}
	.abstracts-section{
		align-items: center;
		display: flex;
		flex-direction: column-reverse;
		margin: 0.7rem auto 0 auto;
	}
	.abstracts-section .abstract-section-content{
		width: 100%;
		margin-right: 0;
	}
	.abstracts-section .abstract-section-content h3{
		font-size: 0.16rem;
		line-height: 1.5;
		margin-bottom: 0.15rem;
	}
	.abstracts-section .abstract-section-content p{
		font-size: 0.14rem;
		line-height: 1.5;
	}
	.abstracts-section .abstract-section-img{
		height: 1.02rem;
		width: 1.7rem;
		margin-bottom: 0.35rem;
	}
	.targets-section{
		margin: 0 auto 0.7rem auto;
	}
	.targets-section .bow{
		display: flex;
		flex-direction: column-reverse;
		margin-top: 0.35rem;
	}
	.targets-section .bow.img-left{
		margin-right: 0;
	}
	.targets-section .img-left{
		flex-direction: column;
		margin-right: 0;
	}
	.targets-section .img-right img,
	.targets-section .img-left img{
		width: 1.395rem;
		height: 1.225rem;
		margin-bottom: 0.35rem;
	}
	.targets-section .text-left,
	.targets-section .text-right{
		width: 100%;
	}
	.targets-section .text-left{
		margin-right: 0;
	}
	.targets-section .text-left h3,
	.targets-section .text-right h3{
		font-size: 0.18rem;
		line-height: 1.22;
		margin-bottom: 0.1rem;
	}
	.targets-section .text-left p,
	.targets-section .text-right p{
		font-size: 0.14rem;
		line-height: 1.5;
	}
	.see-more-section{
		margin-bottom: 0;
	}
	.see-more-section .content{
		margin: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.see-more-section{
		justify-content: center;
		height: auto;
	}
	.see-more-section .svg{
		display: none;
	}
	.see-more-section .content .title{
		font-size: 0.3rem;
		margin: 0.6585rem auto 0.224rem auto;
	}
	.see-more-section .content .lead{
		margin: 0 auto 0.2795rem auto;
		font-size: 0.14rem;
		line-height: 1;
	}
	.see-more-section .content .button{
		margin: 0 auto 0.5885rem auto;
		padding: 0.06rem 0.22rem;
		width: auto;
		font-weight: 500;
		font-size: 0.14rem;
		line-height: 1.43;
	}
	.see-more-section .more-icon {
		background: url(../img/see-more-ico.svg) no-repeat center;
		height: 0.28rem;
		width: 0.28rem;
	}
	.clients-section .text-center, 
	.products-section .text-center{
		margin-top: 0.7rem;
		margin-bottom: 0.4rem;
		font-size: 0.18rem;
		line-height: 1.22;
	}
	.products-section{
		margin: 0 auto 0.4rem auto;
		padding: 0;
	}
	.products-section .products-content{
		padding: 0;
	}
    .products-section .product-box {
		width: 100%;
		margin: 0;
	}
	.products-section .product-box .product-title{
		font-weight: 500;
		font-size: 0.18rem;
		line-height: 1;
		margin:0.3rem 0 0.1rem 0;
	}
	.products-section .product-box .product-summary{
		margin-bottom: 0.3rem;
	}
	.products-section .product-childs{
		flex-direction: column;
	}
	.products-section .product-child{
		width: 100%;
		margin-bottom: 0.2rem;
	}
	.products-section .product-child img{
		height: 1.46rem;
		width: 1.8rem;
	}
	.products-section .product-child .product-child-content{
		width: 2.35rem;
	}
	/* 案例 */
	.customers-mobile{
		width: 100%;
		height: 2.1rem;
		position: relative;
		overflow: hidden;
		margin-bottom: 0.3rem;
		display: flex;
	}
	.customers {
		display: none;
	}
	.customers-box-mobile{
		/*min-width: 400%;*/
		height: 2.1rem;
		position: absolute;
	}
	.customers-box-mobile .mo-padding{
		width: 19%;
		height: 2.1rem;
		float: left;
		margin-left: 2%;
	}
	.clients-section .customers-mobile .mo-padding  a{
		background-color: #FFFFFF;
		width: 100%;
		box-shadow: 0 0 0.05rem 0 rgba(0,0,0,0.10);
		margin-right: 0;
		margin-bottom: 0.1rem;
		height: 2.1rem;
		display: flex;
		flex-direction: column;
	}
	.clients-section .customers-mobile a img {
		z-index: 998;
		width: 1.45rem;
		margin: auto;
	}
	.clients-section .customers-mobile .description{
		display: flex;
		flex-direction: column-reverse;
		margin-bottom: 0;
	}
	.clients-section .customers-mobile .content{
		display: flex;
		position: static;
		align-self: flex-end;
		background: none;
		height: auto;
		margin-bottom: 0.4rem;
		width: 100%;
		justify-content: center;
		top: 0;
	}
	.clients-section .customers-mobile .content .content-text{
		align-items: center;
		font-weight: 400;
		color: #000000;
		line-height: 1;
		font-size: 0.14rem;
		width: auto;
		height: auto;
		padding: 0 0.3rem;
	}
	.clients-section .customers-mobile .title{
		align-items: center;
		z-index: 999;
		left: 0;
		font-size: 0.18rem;
		line-height: 1.28;
		margin-bottom: 0.25rem;
		display: flex;
		position: static;
		height: 0.25rem;
		color: #000000;
		font-weight: 500;
		width: 100%;
		bottom: 0;
	}
	.clients-section .customers-mobile .title div{
			margin-left: auto;
			margin-right: auto;
	}
	/* 案例 结束 */
}
