<!DOCTYPE html>
<html>

  {{ partial "head.html" . }}

  <body>

    <div>

        <header>

          {{ partial "nav.html" . }}

          {{ partial "carousel.html" . }}

        </header>

        <div id="content">
            <div class="container">

                <div class="col-sm-6 col-sm-offset-3" class="error-page">

                    <div class="box">

                        <h3>{{ i18n "we are sorry" }}</h3>
                        <h4 class="text-muted">{{ i18n "page not found" }}</h4>

                        <p class="buttons"><a href="/zh/" class="btn btn-template-main">{{ i18n "go to homepage" }}</a>
                        </p>
                    </div>


                </div>
                <!-- /.col-sm-6 -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="/js/front.js"></script>
  </body>
</html>
