{{ $.Scratch.Set "language" .Site.Language.Lang }}
<section class="about-choerodon-data">
  {{ range .Site.Data.aboutChoerodon  }}
  {{ if eq ($.Scratch.Get "language") .language }}
  <div class="about-choerodon-data-item">
    <div>
      <span class="about-choerodon-data-item-value" data-value="{{ .value }}">0</span>
      <span class="about-choerodon-data-item-suffix">{{ .suffix }}</span>
    </div>
    <p class="about-choerodon-data-item-label">{{ .name }}</p>
  </div>
  {{ end }}
  {{ end }}
</section>
