{{ if gt (len .Site.Data.cases) 0 }}
<section class="cases-section">
  <div class="cases-section-title text-center">
    {{ i18n "cases" }}
  </div>
  <div class="cases-section-detail-list">
  {{ range $index, $element := sort .Site.Data.cases "weight" }}
    {{ if eq ($.Scratch.Get "language") $element.language }}
    <div id="cases-{{ $element.weight }}-detail" class="cases-section-detail {{ if gt $index 1}} cases-section-detail-none {{ else }} cases-section-detail-block {{ end }}">
      <div class="cases-section-detail-background {{ $element.classname }}">
        <div class="cases-section-detail-mask">
          <div class="cases-section-detail-text-wrap">
            <div>
              <img class="cases-section-icon-left" src="/img/cases/quotation-left.svg" />
            </div>
            <div>
              <span class="cases-section-des">{{ $element.description }}</span>
              <img class="cases-section-icon-right" src="/img/cases/quotation-right.svg" />
            </div>
          </div>
          <p class="cases-section-author text-right">—— {{ $element.author }}</p>
          {{ if $element.url }}
            <div class="text-center">
              <a href="{{ $element.url }}" target="_blank" class="cases-section-detail-btn btn button carousel-a">{{ i18n "view case" }}</a>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
    {{ end }}
  {{ end }}
  </div>
  <div class="cases-section-content">
    {{ range $index, $element := sort .Site.Data.cases "weight" }}
      {{ if eq ($.Scratch.Get "language") $element.language }}
        <div id="cases-{{ $element.weight }}" class="cases-section-content-item {{ $element.classname }} {{ if gt $index 1 }} normal {{ end }}">
          {{ if $element.image }}
            <img id="cases-{{ $element.weight }}-item-img" class="cases-section-content-item-img" src = "{{ $element.imageSelect }}" data-src1="{{ $element.image }}" data-src2="{{ $element.imageSelect }}" />
          {{ else }}
            <span class="cases-section-content-item-name">{{ $element.name }}</span>
            {{ if $element.name2 }}
              <span class="cases-section-content-item-name2">{{ $element.name2 }}</span>
            {{ end }}
          {{ end }}
        </div>
        {{ end }}
    {{ end }}
  </div>
</section>
{{ end }}
