{{ $.Scratch.Set "language" .Site.Language.Lang }}
<section class="connect-us-product">
  <div class="connect-us-product-content">
    <h6>{{ i18n "product comminicate" }}</h6>
    {{ range .Site.Data.connectUs  }}
    {{ if and (eq ($.Scratch.Get "language") .language) (lt (.weight) 3 ) }}
    <a href="{{ .url }}" target="_blank" class="connect-us-product-item">
      <img src="{{ .image }}" />
      <span>
        <span class="connect-us-product-item-label">{{ .name }}</span>
        <span class="connect-us-product-item-url">{{ .url }}</span>
      </span>
    </a>
    {{ end }}
    {{ end }}
  </div>
  <div>
    {{ range .Site.Data.connectUs  }}
    {{ if and (eq ($.Scratch.Get "language") .language) (gt (.weight) 2 ) }}
    <a href="{{ .url }}" target="_blank" class="connect-us-product-item">
      <img src="{{ .image }}" />
      <span>
        <span class="connect-us-product-item-label">{{ .name }}</span>
        <span class="connect-us-product-item-url">{{ .url }}</span>
      </span>
    </a>
    {{ end }}
    {{ end }}
  </div>
</section>
