{{ $.Scratch.Set "language" .Site.Language.Lang }}
<section class="contribute">
    <div class="title">成为贡献者</div>
    <div class="cards">
        <div class="card">
            <div class="description">无论是代码审查还是提交，Choerodon都期待您的参与。</div>
            <a class="button" href="https://github.com/choerodon">
                <span>开始贡献</span>
                <i class="iconfont icon-arrow-right"></i>
            </a>
            <img src="/img/socials/contribute/contributors.svg"/>
        </div>
        <div class="card">
            <div class="description">Choerodon的未来依赖您的反馈。无论是新功能建议还是发现缺陷，都可以加入我们。 </div>
            <div class="buttons">
                <a class="button" href="http://forum.choerodon.io/">
                    <span>进入论坛</span>
                    <i class="iconfont icon-arrow-right"></i>
                </a>
            </div>
            <img src="/img/socials/contribute/submit-issue.svg"/>
        </div>
    </div>
</section>

