<!DOCTYPE html>
<html>
    {{ partial "head.html" . }}
    <link href="/css/docs.css" rel="stylesheet">
    <header id="header">
        {{ partial "nav.html" . }}
    </header>
    <body>
        <div id="content" class="docs">
            
            <!-- docs-nav -->
            <div class="docs-menu">
            <div class="docs-search">{{ partial "widgets/search.html" . }}</div>
            {{- $level := 0}}
            {{- $currentNode := . }}
            {{- range  where .Site.Home.Sections.ByWeight "Type" "docs"}}
            {{- template "section-tree-nav" dict "sect" . "currentnode" $currentNode "level" $level}}
            {{- end }}
            
            <!-- templates -->
            {{- define "section-tree-nav" }}

            {{- $currentNode := .currentnode }}

            {{- $level := (add .level 1)}}
            {{- with .sect}}
           
            {{- if and .IsSection}}
                {{- $numberOfPages := (add (len .Pages) (len .Sections)) }}
                {{- safeHTML .Params.head}}
                
                <li data-nav-id="{{.URL}}" class="dd-item
                    {{- if .IsAncestor $currentNode}} parent{{end}}
                    {{- if eq .URL $currentNode.URL}} active{{end}}
                    {{- if .Params.alwaysopen}} alwaysopen{{end -}}
                    {{- if ne $numberOfPages 0 }} haschildren{{end}}">
                    {{- if eq .Name "文档" }}
                    {{- else }}
                        <div style='padding-left: {{ mul $level 0.16 }}rem;'>
                        {{- if .Params.noLink }}
                            <span>{{safeHTML  .Params.Pre}}{{.Title}}{{safeHTML .Params.Post}}</span>
                            {{else}}
                            <a href="{{ .RelPermalink}}">{{safeHTML  .Params.Pre}}{{.Title}}{{safeHTML .Params.Post}}</a>
                        {{end}}
                        {{- if ne $numberOfPages 0 }}
                            {{- if or (.IsAncestor $currentNode) (.Params.alwaysopen) }}
                            <i class="iconfont caret-down icon-arrow-up"></i>
                            {{- else -}}
                            <i class="iconfont caret-right icon-arrow-down"></i>
                            {{- end}}
                        {{- end}}
                        </div>
                    {{- end }}
                {{- if ne $numberOfPages 0 }}
                    <ul class="none">
                    {{- .Scratch.Set "pages" .Pages }}
                    {{- if .Sections}}
                    {{- .Scratch.Set "pages" (.Pages | union .Sections) }}
                    {{- end}}
                    {{- $pages := (.Scratch.Get "pages") }}

                    {{- range $pages.ByWeight }}
                        {{- template "section-tree-nav" dict "sect" . "currentnode" $currentNode "level" $level}}
                    {{- end}}
                    </ul>
                {{- end}}
                </li>
            {{- else}}
                <li data-nav-id="{{.URL}}" class="dd-item
                {{- if eq .URL $currentNode.URL}} active{{end -}}
                ">
                    <div style='padding-left: {{ mul $level 0.16 }}rem;'>
                    <a href="{{ .RelPermalink}}">
                        {{safeHTML .Params.Pre}}{{.LinkTitle}}{{safeHTML .Params.Post}}
                    </a>
                    </div>
                </li>
            {{- end}}
            {{- end}}
            {{- end}}
            </div>
            <!-- docs-nav end -->
            <div class='docs-post content-post {{ if strings.Contains .Path "ui/components/"}}ui-components{{ end }}' id="content-post" >
                {{ .Content }}
            </div>
            <div class="article-menu">
                <!--详情页右侧标题导航栏-->
                <ul id="article-nav-ul">
                </ul>
            </div>
        </div>
        <!-- /#content -->
        <!-- 图片点击放大 -->
        <div style="clear: both;"></div>

        {{ partial "footer.html" . }}
        {{ partial "scripts.html" . }}
        <!-- highlight.js -->
        <link href="https://cdn.bootcss.com/highlight.js/9.12.0/styles/atom-one-light.min.css" rel="stylesheet">
        <script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        <!-- Choerodon UI 引用 -->
        {{ if (strings.Contains .Path "/components/") }}
            <link href="/css/choerodon-ui.min.css" rel="stylesheet">
            <script src="https://cdn.bootcss.com/react/16.4.0/umd/react.development.js"></script>
            <script src="https://cdn.bootcss.com/react-dom/16.4.0/umd/react-dom.development.js"></script>
            <script src="https://cdn.bootcss.com/babel-standalone/6.26.0/babel.min.js"></script>
            <script src="https://cdn.bootcss.com/moment.js/2.22.1/moment.min.js"></script>
            <script src="/js/choerodon-ui.min.js"></script>
            <script src="https://cdn.bootcss.com/reqwest/2.0.5/reqwest.js"></script>
            <script src="https://cdn.bootcss.com/classnames/2.2.5/dedupe.js"></script>
            <script src="https://cdn.bootcss.com/fetch-jsonp/1.1.3/fetch-jsonp.js"></script>
        {{ end }}
        
    </body>
<!-- doc search -->
<script src="/js/doc-search.js"></script>
<!-- doc search end -->
</html>
