<footer id="footer" class="footer">
  <div class="footer-content">
    <nav class="footer-nav">
      {{ range .Site.Menus.footer }}
      <div class="footer-nav-item">
        <div class="footer-nav-item-title">
          {{ .Name }}
        </div>
        <div class="footer-nav-item-link">
          {{ if .HasChildren }}
          {{ range .Children.ByWeight }}
          {{ if .URL }}
            <a class="footer-nav-item-link-text" href="{{ .URL }}" target="_blank">{{ .Name }}</a>
          {{ else }}
            <span class="footer-nav-item-link-text footer-nav-item-link-span" data-id="function-tabs-{{ .Identifier }}">
              {{ .Name }}
            </span>
          {{ end }}
          {{ end }}
          {{ end }}
        </div>
      </div>
      {{ end }}
    </nav>
    <div class="footer-connect">
      <div class="footer-connect-text">
        <img src="/img/footer/phone.svg" />
        <span>400 168 4263 转 81072</span>
      </div>
      <div class="footer-connect-text">
        <img src="/img/footer/email.svg" />
        <span>zhuchiyu@vip.hand-china.com</span>
      </div>
      <div class="footer-connect-img">
        <div class="text-center footer-connect-img-item">
          <img src="/img/footer/hand.png" />
          <p>{{ i18n "follow the public account" }}</p>
        </div>
        <div class="text-center">
          <img src="/img/footer/choerodon.png" />
          <p>{{ i18n "add WeChart" }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="copy-right">
    <img src="/img/footer/choerodon-log.png" />
    <span>Copyright &copy; The Choerodon Author. All rights reserved.</span>
  </div>
</footer>
