<!-- require forum.js and community.css -->
<div class="forum">
    <div class="forum-background">
        <div class="forum-title">猪齿鱼论坛</div>
        <div class="forum-description">在猪齿鱼论坛，你可以就技术上的疑惑进行讨论，可以和有相同关注的伙伴交流产品信息</div>
        <div class="forum-data">
            <div class="forum-button">
                <div>
                    <button id="latest-btn" class="btn choose">最新</button>
                    <button id="hotest-btn" class="btn">最热</button>
                </div>
                <a class="btn forum-entr" href="https://openforum.hand-china.com/">进入论坛 <i class="iconfont">&#xe727;</i></a>
            </div>
            <div class="forum-table" id="forum"></div>
        </div>
    </div>
</div>