{{ $.Scratch.Set "language" .Site.Language.Lang }}
<section class="join-us-content">
  {{ range .Site.Data.joinUs  }}
  {{ if eq ($.Scratch.Get "language") .language }}
  <div class="join-us-content-item">
    <img src="{{ .image }}" />
    <div class="join-us-content-item-text {{ if eq .weight 2 }} join-us-content-item-text-right {{ end }} {{ if eq .weight 3 }} join-us-content-item-text-last {{ end }}">
      <h6>{{ .name }}</h6>
      <div class="join-us-content-item-text-list">
        {{ range .children  }}
        <div  class="join-us-content-item-text-list-item">
          <span class="join-us-content-item-text-list-dot"></span>
          <span class="join-us-content-item-text-list-title">{{ .title }}</span>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
  {{ end }}
  {{ end }}
</section>
