<div
    class='navbar top-white-nav top-nav'
    role="navigation" id="navbar">
  {{ if in .URL "docs" }}
  <div class="navbar-left-buttons">
    <button type="button" class="navbar-toggle btn-template-main">
      <i class="iconfont">&#xe78e;</i>
    </button>
  </div>
  {{ end }}
  <a class="navbar-brand" href="/{{ .Site.Language.Lang }}">
    <div class="nav-logo"></div>
  </a>
  <div class="navbar-buttons">
    <button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse"
            data-target="#navigation-mobile">
      <i class="iconfont">&#xe790;</i>
    </button>
  </div>

  <div class="navbar-collapse collapse" id="navigation">
    <ul class="nav navbar-nav navbar-right">
      {{ range .Site.Menus.main }}
      {{ if eq .Identifier "product-plan"}}
        <li class='haschildren'>
          <a>{{ .Name }} {{ .Pre }}</a>
          <ul class="sub-menus-product-plan sub-menus none">
            <div class="sub-menus-product-plan-label">
              {{ i18n "product description" }}
            </div>
            <div class="sub-menus-product-plan-list">
              {{ range .Children.ByWeight }}
                <div class="sub-menus-product-plan-list-item footer-nav-item-link-span" data-id="function-tabs-{{ .Identifier }}">
                  <img src="/img/nav/{{ .Identifier }}.svg" />
                  <span>{{ .Name }}</span>
                </div>
              {{ end }}
            </div>
            <div class="sub-menus-product-plan-label yellow">{{ i18n "solution" }}</div>
            <p class="sub-menus-product-plan-text">{{ i18n "solution description" }}</p>
          </ul>
        </li>
      {{ else }}
        {{ if .HasChildren }}
          <li class='haschildren'>
            {{ if .URL }}
            <a {{ if .Post }} target="_blank" {{ end }} href="{{ .URL }}">{{ .Name }} {{ .Pre }}</a>
            {{ else }}
            <a>{{ .Name }} {{ .Pre }}</a>
            {{ end }}
            <ul class="sub-menus none">
              {{ range .Children.ByWeight }}
              <li>
                <a {{ if .Post }} target="_blank" {{ end }} href="{{ .URL }}">{{ .Name }} </a>
              </li>
              {{ end }}
            </ul>
          </li>
        {{ else }}
          <li>
            <a {{ if .Post }} target="_blank" {{ end }} href="{{ .URL }}">{{ .Name }}</a>
          </li>
        {{ end }}
      {{ end }}
      {{ end }}
      <li class="loginbtn"><a href="{{.Site.Params.signinhref }}" target="_blank" class="btn button">{{ i18n "sign in"}}</a></li>
      <li class="trybtn"><a id="trybtn-nav" href="{{.Site.Params.tryhref}}" target="_blank">{{ i18n "free trial"}}</a></li>
    </ul>
  </div>
  <div class="global-language">
    <a>{{ .Site.Language.Lang | upper}}</a>
    <ul class="language-list">
      {{ range $.Site.Home.AllTranslations }}
      <li><a href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a></li>
      {{ end }}
    </ul>
  </div>

  <!-- /#navbar -->

</div>

<!-- *** NAVBAR END ***-->
<div class="navbar-collapse-bg none" id="navbar-collapse-bg">
  <div class="navbar-collapse collapse" id="navigation-mobile">
    {{ range .Site.Menus.main }}
    {{ if .HasChildren }}
    <div class="select" id="version">
      <div>{{ .Name }}</div>
      {{ .Pre }}
    </div>
    <ul class="none select-menu" id="select-menu">
      {{ range .Children }}
      <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>

    {{ end }}
    {{ end }}
    <ul class="nav navbar-nav navbar-right">
      {{ range .Site.Menus.main }}
      {{ if .HasChildren }}
      {{ else }}
      <li>
        <a {{ if .Post }} target="_blank" {{ end }} href="{{ .URL }}">{{ .Name }}</a>
      </li>
      {{ end }}
      {{ end }}
    </ul>

  </div>

</div>

