{{ $.Scratch.Set "language" .Site.Language.Lang }}
<section class="service-system-section">
  <h4>{{ i18n "service system" }}</h4>
<!--  <p>{{ i18n "service system description" }}</p>-->
  <div class="service-system-section-content">
    <div class="service-system-section-content-wrap">
      <div class="service-system-section-content-text">{{ i18n "service system des1"}}</div>
      <div class="service-system-section-content-text">{{ i18n "service system des2"}}</div>
    </div>
  </div>
  <div class="service-system-section-btn">
    <a href="/zh/services-resources/" target="_blank">
      <span>{{ i18n "learn service detail"}}</span>
      <img src="/img/home/arrow.svg" />
    </a>
  </div>
</section>
