<!DOCTYPE html>
<html>

{{ partial "head.html" . }}
<body>

<div id="home">

<header id="header">
    <link href="/css/knowledge-sharing.css" rel="stylesheet">
    {{ partial "nav.html" . }}

	   		<div class="sharing-header-nav">
	   			
	   			<img src="/img/knowledge-sharing/banner.svg"/>
        <div class="sharing-banner-text">
            <div class="sharing-head">{{ i18n "welcome to knowledge sharing" }}</div>
            <div class="center-block">
            	<a class="white-button" id="jion-share">我要分享</a>
         
            </div>
            
        </div>
        
    </div>

 
	<div class="sign-up" id="sign-up">
		
		<div class="bg1">
		</div>
			  
			<div class="sign">
				<h4>演讲报名</h4>
				
				<form action="{{.Site.Params.ajaxhref}}" method="post">
					
					<div class="sign-message">
						<div class="left-content">
							
							<a>姓名:</a>
						</div>
						
						<div class="right-content">
							<input type="text"  id="namemsg" value="" placeholder="请输入姓名"/>
						</div>
						
					</div>
					
					<div class="sign-message">
						<div class="left-content">
							<a>手机号:</a>
						</div>
						
						<div class="right-content">
							<input type="text"  id="iphoneNumbermsg" placeholder="请输入手机号码"/>
						</div>
						
					</div>
					
					<div class="sign-message">
						<div class="left-content">
							<a>演讲主题:</a>
						</div>
						
						<div class="right-content">
							<input type="text" id="topicmsg" value="" placeholder="请输入演讲主题"/>
						</div>
						
					</div>
					
					<div class="message-area">
						
						<div class="top-content">
							<a>演讲概要:</a>
						</div>
						<div class="bottom-content">
							<textarea id="descriptionmsg" rows="" cols="" placeholder="请输入演讲概要"></textarea>
						</div>
						
						
					</div>
					
					<div class="message-sub">
						<input type="button" id="confirm-sign" value="确定" onclick="submsg()" />
						<input type="button" id="close-sign" value="取消" />
					</div>
					
				</form>
			</div>  
			  
		<div class="iconfont icon-guanbi">
		</div>
		  
	</div>

</header>
        
   
        
        <div >
            {{ .Content }}
        </div>
            
            
		<div class="tutorial-video" id="tutorial-video">
		  <div class="bg"></div>
		  <iframe frameborder="0" src='' allowfullscreen="true" quality="high"></iframe>
		  <div class="iconfont icon-guanbi"></div>
		</div>
		

    {{ partial "footer.html" . }}

</div>
<!-- /#all -->

{{ partial "scripts.html" . }}
{{ range .Site.Data.static.sharing.js }}
    <script src="{{ . }}"></script>
{{ end }}
</body>
</html>
