{{ $.Scratch.Set "language" .Site.Language.Lang }}
<div class="social-detail">
    <div class="block">
        <img class="discuss" src="/img/socials/discuss.svg" />
        <div class="title">加入讨论</div>
        <div class="description">提出您的意见和问题，参与产品和技术的交流</div>
        {{ range $index, $element := sort .Site.Data.social.discuss "weight"  }}
            {{ if eq ($.Scratch.Get "language") $element.language }}
                <a class="type" href="{{ $element.url }}">
                    <i class="iconfont {{ $element.icon}}"></i>
                    <div class="name">{{ $element.name }}</div>
                </a>
            {{ end }}
        {{ end }}
    </div>
    <div class="block">
        <img class="follow" src="/img/socials/follow.svg" />
        <div class="title">网上追踪</div>
        <div class="description">联系我们分享您的想法，获取产品动态与技术干货</div>
        <div class="content">
            <div class="types">
                {{ range $index, $element := sort .Site.Data.social.follow "weight"  }}
                    {{ if eq ($.Scratch.Get "language") $element.language }}
                        <a class="type social-follow-type" {{ if $element.url }} href="{{ $element.url }}" {{ end }} data-hover="{{ $element.hover }}">
                            <i class="iconfont {{ $element.icon}}"></i>
                            <div class="name">{{ $element.name }}</div>
                        </a>
                    {{ end }}
                {{ end }}
            </div>
            <div class="code none" id="social-code">
                <div class="dropdown-arrow"></div>
                <img class="dropdown-code" src="/img/socials/wechat_code.png"/>
            </div>
        </div>
    </div>
</div>