<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            <div class="container" style="max-width: 1170px">
                <div class="row">
            <section id="mainContent">
                <main>
                    <div class="content">
                        <div class="case-studies">
                            {{ $paginator := .Paginate (where .Data.Pages "Type" "case-studies") }}
                            {{ range $paginator.Pages }}
                            <div class="case-study">
                                {{ if .Params.banner }}
                                <img src="{{ .Site.BaseURL}}{{ .Params.banner }}" class="img-responsive" alt="">
                                {{ else }}
                                <img src="{{ .Site.BaseURL}}img/placeholder.png" class="img-responsive" alt="">
                                {{ end }}
                                <p class="quote" style="height:80%">{{ .Params.summary }}</p>
                                <!--<p class="attrib">—  Martin Danielsson, Solution Architect at Haufe Group</p>-->
                                <a href="{{ .Permalink }}">详细内容</a>
                            </div>

                            {{ end }}


                        </div>
                    </div>
                </main>
            </section>

            <!--<section id="video">-->
                <!--<main>-->
                    <!--&lt;!&ndash;<div><button onclick="kub.showVideo()"><img src="img/case_studies/video_thumb.jpg" alt="Zulily video"><h6>Kubernetes at zulily</h6></button></div>&ndash;&gt;-->
                    <!--<div>-->
                        <!--&lt;!&ndash;<h3>Box</h3>&ndash;&gt;-->
                        <!--<h4><i>"Kubernetes has the opportunity to be the new cloud platform. The amount of innovation that's going to come from being able to standardize on Kubernetes as a platform is incredibly exciting - more exciting than anything I've seen in the last 10 years of working on the cloud."</i></h4>-->
                        <!--<img src="/img/case_studies/box-small.png" id="boxlogo" alt="Box">-->
                    <!--</div>-->
                    <!--<div style= "padding-left: 40px;"><button onclick="kub.showVideo()"><img src="/img/case_studies/video-clip-box.png" alt="Box video"></button></div>-->
                <!--</main>-->
            <!--</section>-->

            <section id="users">
                <main>
                    <h3>汉得Devops</h3>
                    <div id="usersGrid">
                    <a target="_blank" href="/case-studies/buffer/"><img src="/img/case_studies/buffer_logo.png" alt="Buffer"></a>
                    <a target="_blank" href="https://cloud.google.com/customers/ccp-games/"><img src="/img/case_studies/ccp.png" alt="CCP Games"></a>
                    <a target="_blank" href="https://youtu.be/lmeFkH-rHII"><img src="/img/case_studies/comcast_logo.png" alt="Comcast"></a>
                    <a target="_blank" href="http://searchitoperations.techtarget.com/news/450297178/Tech-firms-roll-out-Kubernetes-in-production"><img src="/img/case_studies/concur.png" alt="Concur"></a>
                    <a target="_blank" href="http://www.nextplatform.com/2015/11/12/inside-ebays-shift-to-kubernetes-and-containers-atop-openstack/"><img src="/img/case_studies/ebay_logo.png" alt="Ebay"></a>
                    <a target="_blank" href="http://blogs.wsj.com/cio/2016/02/24/big-changes-in-goldmans-software-emerge-from-small-containers/"><img src="/img/case_studies/gs.png" alt="Goldman Sachs"></a>
                    <a target="_blank" href="/case-studies/golfnow/"><img src="/img/case_studies/golfnow_logo.png" alt="GolfNow"></a>
                    <a target="_blank" href="/case-studies/haufegroup/"><img src="/img/case_studies/haufegroup_logo.png" alt="Haufe Group"></a>
                    <a target="_blank" href="/case-studies/huawei/"><img src="/img/case_studies/huawei.png" alt="Huawei"></a>
                    <a target="_blank" href="http://blog.kubernetes.io/2017/02/inside-jd-com-shift-to-kubernetes-from-openstack.html"><img src="/img/case_studies/jd.png" alt="JD.COM"></a>
                    <a target="_blank" href="https://www.openstack.org/videos/video/running-kubernetes-on-openstack-at-liveperson"><img src="/img/case_studies/liveperson.png" alt="LivePerson"></a>
                    <a target="_blank" href="https://youtu.be/YkOY7DgXKyw"><img src="/img/case_studies/monzo_logo.png" alt="monzo"></a>

                    </div>
                </main>
            </section>


            <!--<div id="videoPlayer">-->
                <!--&lt;!&ndash;<iframe data-url="https://www.youtube.com/watch?v=of45hYbkIZs" frameborder="0" allowfullscreen></iframe>&ndash;&gt;-->
                <!--<iframe data-url="https://www.youtube.com/embed/of45hYbkIZs?autoplay=1" frameborder="0" allowfullscreen="true"></iframe>-->
                <!--<button id="closeButton"></button>-->
            <!--</div>-->
               </div>
            </div>
        </div>
        {{ partial "footer.html" . }}

    </div>


    {{ partial "scripts.html" . }}

  </body>
</html>
