/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

.light-text{
  text-align: center;
}

.light-text span{
  display: none;
	position: absolute;
	top: 50%;
	left: 75%;
	width: 525px;
	padding-right: 80px;
	transform: translate(-50%, -50%);
	color: white;
}

#footer-nav{
  margin-bottom: 20px;
}

#footer-nav a{
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  margin-left: 30px;
  margin-bottom: 20px;
  color:#fff;
  font-weight: 300;
}

#footer-nav a:hover{
 text-decoration: none;
 color:#fff
}

.social a{
  display: inline-block;
	background-image: url(/img/social_sprite.png);
	background-repeat: no-repeat;
	background-size: auto;
	width: 50px;
	height: 50px;
	border-radius: 5px;
	margin-right: 10px;
}
	
.social a:hover{
	  background-color: #fff
}
	
.social a:span{
		position: absolute;
		display: block;
		height: 0;
		overflow: hidden;
}

.social a:span.button{
		background-image: none;
		width: auto;
		height: auto;
}

.social a:span.button:hover{
			color: blue
}

a.twitter{
	background-position: 0 0
}

a.twitter:hover{
		background-position: 0 100%
}

a.stack-overflow{
	background-position: -50px 0
}

a.stack-overflow:hover{
		background-position: -50px 100%
}

a.slack{
	background-position: -100px 0
}

a.slack:hover{
		background-position: -100px 100%
}

a.github{
	background-position: -150px 0
}

a.github:hover{
		background-position: -150px 100%
}

a.mailing-list{
	background-position: -200px 0
}

a.mailing-list:hover{
		background-position: -200px 100%
}


a.calendar{
	background-position: -250px 0
}


a.calendar:hover{
		background-position: -250px 100%
}

#miceType1 {
  margin-top: 20px;
}

.abstract {
	border-bottom: 2px solid #eee;
}

.filled-img {
	width: 100%;
}

.box-simple-features {
	padding-left: 50px;
	padding-right: 50px;
}

.box-simple .icon{
	color: #fff !important;
	border-color: #fff !important;
}

.container {
	max-width: 1000px;
}

.target-box {

}

.target-box h3 {
	font-weight: 600;
	font-size: 20px;
  text-transform: uppercase;
	line-height: 1.5;
  color: darkblue;
  letter-spacing: 0.08em;
}

.target-box p {
	color: #999999;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}