/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  /*min-height: 230px;*/
}

.light-text{
  text-align: center;
}

.light-text span{
  display: none;
	position: absolute;
	top: 50%;
	left: 75%;
	width: 525px;
	padding-right: 80px;
	transform: translate(-50%, -50%);
	color: white;
}

#footer-nav{
  margin-bottom: 20px;
}

#footer-nav a{
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  margin-left: 30px;
  margin-bottom: 20px;
  color:#fff;
  font-weight: 300;
}

#footer-nav a:first-child {
	margin-left: 0;
}

#footer-nav a:hover{
 text-decoration: none;
 color:#fff
}

.social {
	display: flex;
	justify-content: center;
}

.social a{
  display: inline-block;
	background-image: url(/img/social_sprite.png);
	background-repeat: no-repeat;
	background-size: auto;
	width: 50px;
	height: 50px;
	border-radius: 5px;
	margin-right: 10px;
}
	
.social a:hover{
	  background-color: #fff
}
	
.social a:span{
		position: absolute;
		display: block;
		height: 0;
		overflow: hidden;
}

.social a:span.button{
		background-image: none;
		width: auto;
		height: auto;
}

.social a:span.button:hover{
			color: blue
}

a.twitter{
	background-position: 0 0
}

a.twitter:hover{
		background-position: 0 100%
}

a.stack-overflow{
	background-position: -50px 0
}

a.stack-overflow:hover{
		background-position: -50px 100%
}

a.slack{
	background-position: -100px 0
}

a.slack:hover{
		background-position: -100px 100%
}

a.github{
	background-position: -150px 0
}

a.github:hover{
		background-position: -150px 100%
}

a.mailing-list{
	background-position: -200px 0
}

a.mailing-list:hover{
		background-position: -200px 100%
}


a.calendar{
	background-position: -250px 0
}


a.calendar:hover{
		background-position: -250px 100%
}

#miceType1 {
  margin-top: 20px;
}





.container {
	max-width: 1000px;
}

.img-limit {
	max-width: 100%;
}

.abstract-section h3 {
	font-size: 18px;
	line-height: 30px;
  font-weight: 400;
}

.box-simple .icon{
	color: transparent !important;
	border: none !important;
}

.target-box h3 {
	font-weight: 400;
	font-size: 18px;
	line-height: normal;
  color: #3073E6;
	margin-bottom: 10px;
}

.target-box p {
	font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
	color: #999999;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

@media (min-width: 768px){
	.box-simple-features-left {
	padding-left: 50px;
	}

	.box-simple-features-right {
		padding-right: 50px;
	}
}


.img-vcenter{
	transform: translateY(80px);
}

.product-li {
	margin-top: 30px;
	height: 65px;
}

.product-icon {
	width:65px;
	height: 65px;
	border-radius: 32.5px;
	background-color: lightblue;
	float: left;
}

.product-box {
	margin-left: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 65px;
}

.product-title{
	font-size: 18px;
  color: #00a0e9;
  font-weight: normal;
	margin-top: 6px;
	margin-bottom: 0;
}

.product-content {
	font-size: 14px;
  color: #888;
  float: left;
  line-height: 24px;
  margin-top: 7px;

	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.home-carousel-temp {
	height: 360px;
	background-color: #555555 !important;
}

.home-carousel-temp-font {
	margin-top: 130px;
	color:'#fff';
}

.home-carousel-temp-font h3 {
	font-weight: 400;
	font-size: 32px;
	line-height: normal;
	margin-bottom: 50px;
  color: #fff;
}

.home-carousel-temp-font h3 span {
	font-size: 18px;
  color: #fff;
	margin-left: 15px;
}

.home-carousel-temp-font p {
	font-size: 14px;
  color: #fff;
	margin-bottom: 5px;
}

.home-carousel-temp-font .font-gray {
	color:#eee;
}

.background-round {
	background-color: #fafafa;
}

/*.fileds-line {
	margin-bottom: 50px;
}*/

/*.navbar-affixed-top.navbar-index.affix-top {
	position: fixed;
    z-index: 9999;
    width: 100%;
}

.navbar-affixed-topn.navbar-index.affix-top .navbar-default {
    background-color: transparent !important;
}

.navbar-affixed-top.navbar-index {
	top: 0 !important;
}*/

/*.img-center {
	text-align: center;
	padding: 50px;
}

.img-center img {
	max-width: 500px;
	height: auto;
}*/

/*.round {
	position: relative;
	min-height: 420px;
}

.round img {
	max-width: 100%;
	height: auto;
}*/


/*.round-block {
	width:250px;
	position:absolute;
}

.round-block h3 {
	font-size: 18px;
	margin-bottom: 10px !important;
}

.round-block p {
	font-size: 14px;
}

.right-align {
	text-align: right;
}*/

/*docs start*/
.docs-link-noDirection{
	text-decoration:none !important;
}
.docs-title-h1{
	font: 300 34px/40px Roboto,sans-serif;
	font-size: 32px;
	margin-top: 0;
	color: #444;
    line-height: initial;
	letter-spacing: -.01em;
	margin-bottom: .67em;
}
.docs-title-h2{
	font: 300 24px/32px Roboto,sans-serif;
	font-size: 28px;
    font-weight: 400;
	letter-spacing: -.01em;
	margin: 40px 0 20px;
    padding-bottom: 3px;
	color:#4A5960;
}
.docs-title-h3{
	font: 400 18px/32px Roboto,sans-serif;
    margin: 32px 0 16px;
	font-size: 20px;
    padding: 5px 0 7px 54px;
    font-weight: 400;
    color: #70808a;
}
.docs-title-h4{
	font: 400 20px/32px Roboto,sans-serif;
    margin: 0 0 16px 0;
	font-size: 20px;
    font-weight: 400;
}
.docs-border{
	border-bottom: 2px solid #f0f0f0;
}
.docs-instruction-border{
	padding-bottom: 32px;
	padding-top: 16px;
}
.docs-section-border{
	padding-bottom: 40px;
}
.docs-p{
	padding: 0;
	font-size: 16px;
}
.docs-p-marginTop16{
	margin-top: 16px;
}
.docs-p-marginBottom16{
	margin-bottom: 16px;
}
.docs-p-marginBottom40{
	margin-bottom: 40px;
}
.docs-marginBottom80{
	margin-bottom: 80px;
}
.hover-card {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
    cursor: pointer;
    display: block;
    letter-spacing: .01em;
    margin: 0 0 16px 0;
    padding: 16px;
    position: relative;
    text-decoration: none;
    transition: all .3s;
}
.hover-card:hover {
    box-shadow: 0 4px 4px rgba(1,67,163,.24), 0 0 4px rgba(1,67,163,.12), 0 6px 18px rgba(43,133,231,.12);
    transform: translate3d(0,-2px,0);
}
.hover-card:hover h3{
	color: #2B85E7;
}
.hover-card .gray {
    background: #78909C;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    left: 0px;
    padding: 26px 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 88px;
}
.hover-card .text {
    margin-left: 88px;
}
.hover-card .hover-card-title,.hover-card h3 {
    color: #526E7A;
    font-size: 20px;
	line-height: 24px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: left;
    text-overflow: ellipsis;
    text-transform: none;
    transition: all .4s;
    white-space: nowrap;
	font-weight: 400;
}
.hover-card p {
    color: #2B85E7;
    font-size: 11px;
    text-transform: uppercase;
	line-height: 24px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: left;
    text-overflow: ellipsis;
    text-transform: none;
    transition: all .4s;
    white-space: nowrap;
	letter-spacing: -.01em;
}
.iot{
	background: url('https://cloud.google.com/images/products/iot/iot_2x.png') no-repeat 0 6px/32px;
}
.docs-ul{
	margin: 0 15px;
    min-height: 133px;
	list-style: disc outside;
	padding-left: 40px;
}
.docs-li{
	margin: 8px 0;
	list-style: none;
    border-top: 1px #eee solid;
    padding: 2px 0 0 0;
}
.docs-a-inLi{
	color:#039be5
}
.docs-card{
	min-height: 286px;
	box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
    margin-bottom: 64px;
	padding: 16px;
	margin-right: 8px;
}
.docs-p-inCard{
	margin: 0 0 14px 0;
    padding: 0;
    font-size: 13px;
}
.docs-link-inCard{
	font-size: 12px;
    margin: 0;
    padding: 0;
    display: block;
}
.docs-button{
	border: none;
    border-radius: 2px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: auto;
    letter-spacing: .01em;
    line-height: 48px;
    overflow: hidden;
    padding: 0 48px;
    text-decoration: none;
    text-transform: uppercase;
    transition: box-shadow .3s,background-color .3s,color .3s,transform .3s;
	background: #4A5960;
    box-shadow: none;
    color: #fff;
}
.docs-section-center{
	text-align: center;
}
.docs-update{
	border-top: 1px solid #ebebeb;
    clear: both;
    color: #757575;
    font: italic 13px/20px Roboto,sans-serif;
    margin-top: 16px;
}
/*docs end*/