{{ $.Scratch.Set "language" (.Get 0) }} 
<div class="annotation">
    <div class="annotation-code">
        {{ range $index, $value :=  (split (replaceRE "[(]{1}[0-9]+[)]{1}" "$0(...)" .Inner ) "(...)") }}
            {{ if (findRE "[(]{1}[0-9]+[)]{1}" $value) }}
            <pre style="margin: 0 auto;padding-bottom: 0; padding-top: 0;">
                <code class='{{ $.Scratch.Get "language" }}' style="display: table">
                    <div style="display: flex">
                        <div>{{ replaceRE "[(]{1}[0-9]+[)]{1}" "" $value }}</div>
                        <i class="note-number" data-value='1' style="align-self: flex-end;margin: 0"></i>
                    </div>
                </code>
            </pre>
            {{ else }}
            <pre style="margin: 0 auto;padding-bottom: 0; padding-top: 0;">
                <code class='{{ $.Scratch.Get "language" }}' style="display: table">
                    <div>{{ trim $value "\n"}}</div>
                </code>
            </pre>
            {{ end }}
        {{ end }}
    </div>

    <div class="note-description">
        {{ range $index, $value := .Params }}
            {{ if (eq $index 0) }}
            {{ else }}
            <i class="note-number" data-value='{{ $index }}'></i> {{ $value }}
            </br>
            {{ end }}
        {{ end }}
    </div>
</div>