<script type="text/babel">
const { Pagination } = window['choerodon-ui'];

// pagination-basic
ReactDOM.render(
  <Pagination
    defaultCurrent={1}
    total={50}
    tiny={false}
    showTotal={false}
    showSizeChanger={false}
  />, document.getElementById('pagination-basic'));
  // pagination-more
ReactDOM.render(
  <Pagination
    defaultCurrent={6}
    total={500}
    tiny={false}
    showTotal={false}
    showSizeChanger={false}
  />, document.getElementById('pagination-more'));


function onShowSizeChange(current, pageSize) {
  console.log(current, pageSize);
}

// pagination-current
ReactDOM.render(
  <Pagination
    tiny={false}
    showSizeChangerLabel={false}
    showTotal={false}
    onShowSizeChange={onShowSizeChange}
    defaultCurrent={3}
    total={500}
  />,
  document.getElementById('pagination-current'));

// jump
function onChange(pageNumber) {
  console.log('Page: ', pageNumber);
}

ReactDOM.render(
  <Pagination
    tiny={false}
    showSizeChangerLabel={false}
    showTotal={false}
    showSizeChanger={false}
    showQuickJumper
    defaultCurrent={2}
    total={500}
    onChange={onChange}
  />,
  document.getElementById('pagination-jump')
);

// size
function showTotal(total) {
  return 'Total '+ total+  ' items';
}

ReactDOM.render(
  <div>
    <Pagination tiny={false} size="large" total={50} showTotal={false} showSizeChanger={false} />
    <Pagination tiny={false} size="large" total={50} showTotal={false} showSizeChanger showQuickJumper />
    <Pagination tiny={false} size="large" total={50} showTotal={showTotal} showSizeChanger={false} />
    <Pagination tiny={false} size="small" total={50} showTotal={false} showSizeChanger={false} />
    <Pagination tiny={false} size="small" total={50} showTotal={false} showSizeChanger showQuickJumper />
    <Pagination tiny={false} size="small" total={50} showTotal={showTotal} showSizeChanger={false} />
  </div>,
  document.getElementById('pagination-size'));


// tiny

ReactDOM.render(
  <div>
    <Pagination total={50} />
    <Pagination total={50} showSizeChanger showQuickJumper />
    <Pagination total={50} showTotal={showTotal} />
  </div>,
  document.getElementById('pagination-tiny'));

  // simple

ReactDOM.render(
  <Pagination simple defaultCurrent={2} total={50} />,
  document.getElementById('pagination-simple'));

// controlled

class App extends React.Component {
  state = {
    current: 3,
  }

  onChange = (page) => {
    console.log(page);
    this.setState({
      current: page,
    });
  }

  render() {
    return (
      <Pagination
        current={this.state.current}
        onChange={this.onChange}
        total={50}
        tiny={false}
        showTotal={false}
        showSizeChanger={false}
      />
    );
  }
}

ReactDOM.render(<App />, document.getElementById('pagination-controlled'));

// total

ReactDOM.render(
  <div>
    <Pagination
      total={85}
      showTotal={showTotal}
      pageSize={20}
      defaultCurrent={1}
      tiny={false}
      showSizeChanger={false}
    />
    <br />
    <Pagination
      total={85}
      showTotal={(total, range) => `${range[0]}-${range[1]} of ${total} items`}
      pageSize={20}
      defaultCurrent={1}
      tiny={false}
      showSizeChanger={false}
    />
  </div>,
  document.getElementById('pagination-total'));
  // itemRender
  function itemRender(current, type, originalElement) {
  if (type === 'prev') {
    return <a>Previous</a>;
  }
  if (type === 'next') {
    return <a>Next</a>;
  }
  return originalElement;
}

ReactDOM.render(
  <Pagination tiny={false} showTotal={false} showSizeChanger={false} total={500} itemRender={itemRender} />,
  document.getElementById('pagination-itemRender'));
</script>