<script type="text/babel">
const { message, Button } = window['choerodon-ui'];

// basic
const info = () => {
  message.info('This is a normal message');
};

ReactDOM.render(
  <Button type="primary" onClick={info}>Display normal message</Button>,
  document.getElementById('message-demo-basic'));

// delay
const success = () => {
  message.success('This is a prompt message for success, and it will disappear in 10 seconds', 10);
};

ReactDOM.render(
  <Button onClick={success}>Customized display duration</Button>,
  document.getElementById('message-demo-delay'));

// location
const handleClick = (placement) => {
  message.destroy();
  message.config({
    top: 100,
    bottom: 100,
    duration: 5,
  });
  message.success(placement, undefined, undefined, placement);
};

function getOnClick(topleft) {

  return () => { handleClick(topleft)};
}
const topleftEle = 'topLeft';
const topEle = 'top';
const topRightEle = 'topRight';
const leftTopEle = 'leftTop';
const leftEle = 'left';
const leftBottomEle = 'leftBottom';
const rightTopEle = 'rightTop';
const rightEle = 'right';
const rightBottomEle = 'rightBottom';
const bottomLeftEle = 'bottomLeft';
const bottomEle = 'bottom';
const bottomRightEle = 'bottomRight';

ReactDOM.render(
  <div>
    <Button onClick={getOnClick(topleftEle)}>topleft</Button>
    <Button onClick={getOnClick(topEle)}>top</Button>
    <Button onClick={getOnClick(topRightEle)}>topRight</Button>
    <Button onClick={getOnClick(leftTopEle)}>leftTop</Button>
    <Button onClick={getOnClick(leftEle)}>left</Button>
    <Button onClick={getOnClick(leftBottomEle)}>leftBottom</Button>
    <Button onClick={getOnClick(rightTopEle)}>rightTop</Button>
    <Button onClick={getOnClick(rightEle)}>right</Button>
    <Button onClick={getOnClick(rightBottomEle)}>rightBottom</Button>
    <Button onClick={getOnClick(bottomLeftEle)}>bottomLeft</Button>
    <Button onClick={getOnClick(bottomEle)}>bottom</Button>
    <Button onClick={getOnClick(bottomRightEle)}>bottomRight</Button>
  </div>,
  document.getElementById('message-demo-location'));

// other
message.config({
  top: '24px',
});

const otherSuccess = () => {
  message.success('This is a message of success');
};

const otherError = () => {
  message.error('This is a message of error');
};

const otherWarning = () => {
  message.warning('This is message of warning');
};

ReactDOM.render(
  <div>
    <Button onClick={otherSuccess}>Success</Button>
    <Button onClick={otherError}>Error</Button>
    <Button onClick={otherWarning}>Warning</Button>
  </div>,
  document.getElementById('message-demo-other'));

// loadding
const loaddingSuccess = () => {
  const hide = message.loading('Action in progress..', 0);
  // Dismiss manually and asynchronously
  setTimeout(hide, 2500);
};

ReactDOM.render(
  <Button onClick={loaddingSuccess}>Display a loading indicator</Button>,
  document.getElementById('message-demo-loading'));
</script>