<script type="text/babel">
const { Steps, Popover,Button, message } = window['choerodon-ui'];

// steps-basic
const Step = Steps.Step;

ReactDOM.render(
  <Steps current={1}>
    <Step title="Finished" description="This is a description." />
    <Step title="In Progress" description="This is a description." />
    <Step title="Waiting" description="This is a description." />
  </Steps>,
  document.getElementById('steps-basic'));
// small
ReactDOM.render(
  <Steps size="small" current={1}>
    <Step title="Finished" />
    <Step title="In Progress" />
    <Step title="Waiting" />
  </Steps>,
  document.getElementById('steps-small'));

  // icon
  ReactDOM.render(
  <Steps>
    <Step status="finish" title="Login" icon="person_outline" />
    <Step status="finish" title="Verification" icon="panorama_vertical" />
    <Step status="process" title="Pay" icon="schedule" />
    <Step status="wait" title="Done" icon="tag_faces" />
  </Steps>,
  document.getElementById('steps-icon'));

  // switch
const switchSteps = [{
  title: 'First',
  content: 'First-content',
}, {
  title: 'Second',
  content: 'Second-content',
}, {
  title: 'Last',
  content: 'Last-content',
}];

class SwitchApp extends React.Component {
  constructor(props) {
    super(props);
    this.state = {
      current: 0,
    };
  }

  next() {
    const current = this.state.current + 1;
    this.setState({ current });
  }

  prev() {
    const current = this.state.current - 1;
    this.setState({ current });
  }

  render() {
    const { current } = this.state;
    const onClickNextButton = () => this.next();
    const onClickDoneButton = () => message.success('Processing complete!');
    const onClickPreviousButton = () => this.prev();
    function compare(a,b) {
      if (a - b){
        return true;
      }
      return false;
    }
    return (
      <div>
        <Steps current={current}>
          {switchSteps.map(item => <Step key={item.title} title={item.title} />)}
        </Steps>
        <div className="steps-content">{switchSteps[this.state.current].content}</div>
        <div className="steps-action">
          {
            compare(switchSteps.length - 1,this.state.current)
            && <Button type="primary" onClick={onClickNextButton}>Next</Button>
          }
          {
            this.state.current === switchSteps.length - 1
            && <Button type="primary" onClick={onClickDoneButton}>Done</Button>
          }
          {
            compare(this.state.current,0)
            && (
              <Button onClick={onClickPreviousButton}>
                Previous
              </Button>)
          }
        </div>
      </div>
    );
  }
}

ReactDOM.render(<SwitchApp />, document.getElementById('steps-switch'));
  // vertical
  ReactDOM.render(
  <Steps direction="vertical" current={1}>
    <Step title="Finished" description="This is a description." />
    <Step title="In Progress" description="This is a description." />
    <Step title="Waiting" description="This is a description." />
  </Steps>,
  document.getElementById('steps-vertical'));

// vertical-tiny
  ReactDOM.render(
  <Steps direction="vertical" size="small" current={1}>
    <Step title="Finished" description="This is a description." />
    <Step title="In Progress" description="This is a description." />
    <Step title="Waiting" description="This is a description." />
  </Steps>,
  document.getElementById('steps-vertical-tiny'));

  // error
  ReactDOM.render(
  <Steps current={1} status="error">
    <Step title="Finished" description="This is a description" />
    <Step title="In Process" description="This is a description" />
    <Step title="Waiting" description="This is a description" />
  </Steps>,
  document.getElementById('steps-error'));

  // dot
  ReactDOM.render(
  <Steps progressDot current={1}>
    <Step title="Finished" description="This is a description." />
    <Step title="In Progress" description="This is a description." />
    <Step title="Waiting" description="This is a description." />
  </Steps>,
  document.getElementById('steps-dot'));

// custom-dot
function customDotSpan(index,status) {
  return 'step '+index+' status: '+status
}
const customDot = (dot, { status, index }) => (
  <Popover content={customDotSpan(index,status)}>
    {dot}
  </Popover>
);

ReactDOM.render(
  <Steps current={1} progressDot={customDot}>
    <Step title="Finished" description="You can hover on the dot." />
    <Step title="In Progress" description="You can hover on the dot." />
    <Step title="Waiting" description="You can hover on the dot." />
    <Step title="Waiting" description="You can hover on the dot." />
  </Steps>,
  document.getElementById('steps-custom-dot'));
</script>