<script type="text/babel">
const { Card, Col, Row, Icon, Avatar } = window['choerodon-ui'];

// basic
const extra = <a href="#">More</a>;
const threeWidth = { width: 300 };
ReactDOM.render(
  <Card title="Card title" extra={extra} style={threeWidth}>
    <p>Card content</p>
    <p>Card content</p>
    <p>Card content</p>
  </Card>,
  document.getElementById('card-demo-basic'));

// noBorder
const BCStyle = { background: '#ECECEC', padding: '30px' };
ReactDOM.render(
  <div style={BCStyle}>
    <Card title="Card title" bordered={false} style={threeWidth}>
      <p>Card content</p>
      <p>Card content</p>
      <p>Card content</p>
    </Card>
  </div>,
  document.getElementById('card-demo-noBorder'));

// simple
ReactDOM.render(
  <Card style={threeWidth}>
    <p>Card content</p>
    <p>Card content</p>
    <p>Card content</p>
  </Card>,
  document.getElementById('card-demo-simple'));

// flexible
const { Meta } = Card;
const coverImg = <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />;
ReactDOM.render(
  <Card
    hoverable
    style={threeWidth}
    cover={coverImg}
  >
    <Meta
      title="Europe Street beat"
      description="www.instagram.com"
    />
  </Card>,
  document.getElementById('card-demo-flexible'));

// grid

ReactDOM.render(
  <div style={BCStyle}>
    <Row gutter={16}>
      <Col span={8}>
        <Card title="Card title" bordered={false}>Card content</Card>
      </Col>
      <Col span={8}>
        <Card title="Card title" bordered={false}>Card content</Card>
      </Col>
      <Col span={8}>
        <Card title="Card title" bordered={false}>Card content</Card>
      </Col>
    </Row>
  </div>,
  document.getElementById('card-demo-grid'));

// preload
ReactDOM.render(
  <Card loading title="Card title" style={threeWidth}>
    Whatever content
  </Card>,
  document.getElementById('card-demo-preload'));

// inline
const gridStyle = {
  width: '25%',
  textAlign: 'center',
};

ReactDOM.render(
  <Card title="Card Title">
    <Card.Grid style={gridStyle}>Content</Card.Grid>
    <Card.Grid style={gridStyle}>Content</Card.Grid>
    <Card.Grid style={gridStyle}>Content</Card.Grid>
    <Card.Grid style={gridStyle}>Content</Card.Grid>
    <Card.Grid style={gridStyle}>Content</Card.Grid>
    <Card.Grid style={gridStyle}>Content</Card.Grid>
    <Card.Grid style={gridStyle}>Content</Card.Grid>
  </Card>,
  document.getElementById('card-demo-inline'));

// inner
const innerPStyle = {
        fontSize: 14,
        color: 'rgba(0, 0, 0, 0.85)',
        marginBottom: 16,
        fontWeight: 500,
      };
const marginTop = { marginTop: 16 };
ReactDOM.render(
  <Card title="Card title">
    <p
      style={innerPStyle}
    >
      Group title
    </p>
    <Card
      type="inner"
      title="Inner Card title"
      extra={extra}
    >
      Inner Card content
    </Card>
    <Card
      style={marginTop}
      type="inner"
      title="Inner Card title"
      extra={extra}
    >
      Inner Card content
    </Card>
  </Card>,
  document.getElementById('card-demo-inner'));

// page
const tabList = [{
  key: 'tab1',
  tab: 'tab1',
}, {
  key: 'tab2',
  tab: 'tab2',
}];

const contentList = {
  tab1: <p>content1</p>,
  tab2: <p>content2</p>,
};

const tabListNoTitle = [{
  key: 'article',
  tab: 'article',
}, {
  key: 'app',
  tab: 'app',
}, {
  key: 'project',
  tab: 'project',
}];

const contentListNoTitle = {
  article: <p>article content</p>,
  app: <p>app content</p>,
  project: <p>project content</p>,
};

const percentWidth = {width: '100%'};
class TabsCard extends React.Component {
  state = {
    key: 'tab1',
    noTitleKey: 'app',
  }

  onTabChange = (key, type) => {
    console.log(key, type);
    this.setState({ [type]: key });
  }

  onTabChangeOne = (key) => { this.onTabChange(key, 'key'); };
  onTabChangeTwo = (key) => { this.onTabChange(key, 'noTitleKey'); }
  render() {
    return (
      <div>
        <Card
          style={percentWidth}
          title="Card title"
          extra={extra}
          tabList={tabList}
          onTabChange={this.onTabChangeOne}
        >
          {contentList[this.state.key]}
        </Card>
        <br /><br />
        <Card
          style={percentWidth}
          tabList={tabListNoTitle}
          activeTabKey={this.state.noTitleKey}
          onTabChange={this.onTabChangeTwo}
        >
          {contentListNoTitle[this.state.noTitleKey]}
        </Card>
      </div>
    );
  }
}

ReactDOM.render(
  <TabsCard />,
  document.getElementById('card-demo-page'));

// more
const actions = [<Icon type="setting" />, <Icon type="edit" />, <Icon type="ellipsis" />];
const avatarElement = <Avatar src="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png" />;
ReactDOM.render(
  <Card
    style={threeWidth}
    cover={coverImg}
    actions={actions}
  >
    <Meta
      avatar={avatarElement}
      title="Card title"
      description="This is the description"
    />
  </Card>,
  document.getElementById('card-demo-more'));
</script>