<script type="text/babel">
const { Select,Radio,Button,IconSelect } = window['choerodon-ui'];
// basic
const Option = Select.Option;
const widthStyle = {
  width : 200
}
function handleChange(value) {
  console.log(`selected ${value}`);
}

ReactDOM.render(
  <div>
    <Select label="Select" placeholder="Please Select" style = {widthStyle} allowClear onChange={handleChange}>
      <Option value="jack">Jack</Option>
      <Option value="lucy">Lucy</Option>
      <Option value="disabled" disabled>Disabled</Option>
      <Option value="Yiminghe">yiminghe</Option>
    </Select>
    <Select defaultValue="lucy" allowClear style = {widthStyle}  disabled>
      <Option value="lucy">Lucy</Option>
    </Select>
  </div>,
  document.getElementById('select-demo-basic'));

// search
const ThreeWidthStyle = {
  width: 300
}
ReactDOM.render(
  <Select
    style={ThreeWidthStyle}
    placeholder="Select a person"
    optionFilterProp="children"
    filterOption={(input, option) => option.props.children.toLowerCase().indexOf(input.toLowerCase()) >= 0}
    filter
  >
    <Option value="jack">Jack</Option>
    <Option value="lucy">Lucy</Option>
    <Option value="tom">Tom</Option>
  </Select>,
  document.getElementById('select-demo-search'));

// tag
const children = [];
for (let i = 10; 36 > i; i++) {
  children.push(<Option key={i.toString(36) + i}>{i.toString(36) + i}</Option>);
}

function handleChange(value) {
  console.log(`selected ${value}`);
}

function handleRender(liNode, value) {
  console.log(value);
  return React.cloneElement(liNode, {
    className: classNames(liNode.props.className, 'choice-render'),
  });
}
const widthPercent = {
  width : '100%'
}
ReactDOM.render(
  <Select
    style = {widthPercent}
    mode="tags"
    label="标签用例"
    placeholder="tags"
    onChange={handleChange}
    choiceRender={handleRender}
    allowClear
  >
    {children}
  </Select>,
  document.getElementById('select-demo-tag'));

  // group
const { OptGroup } = Select;
function handleChange(value) {
  console.log(`selected ${value}`);
}

ReactDOM.render(
  <Select
    defaultValue="lucy"
    style={widthStyle}
    onChange={handleChange}
  >
    <OptGroup label="Manager">
      <Option value="jack">Jack</Option>
      <Option value="lucy">Lucy</Option>
    </OptGroup>
    <OptGroup label="Engineer">
      <Option value="Yiminghe">yiminghe</Option>
    </OptGroup>
  </Select>,
  document.getElementById('select-demo-group'));

// searchBox

let timeout;
let currentValue;
const jsonp = window['fetchJsonp'];

function fetch(value, callback) {
  if (timeout) {
    clearTimeout(timeout);
    timeout = null;
  }
  currentValue = value;

  function fake() {
    const str ="code=utf-8&q="+ value;
    jsonp(`https://suggest.taobao.com/sug?${str}`)
      .then(response => response.json())
      .then((d) => {
        if (currentValue === value) {
          const result = d.result;
          const data = [];
          result.forEach((r) => {
            data.push({
              value: r[0],
              text: r[0],
            });
          });
          callback(data);
        }
      });
  }

  timeout = setTimeout(fake, 300);
}

class SearchInput extends React.Component {
  state = {
    data: [],
    value: '',
  }

  handleChange = (value) => {
    this.setState({ value });
    fetch(value, data => this.setState({ data }));
  }

  render() {
    const options = this.state.data.map(d => <Option key={d.value}>{d.text}</Option>);
    return (
      <Select
        mode="combobox"
        value={this.state.value}
        placeholder={this.props.placeholder}
        style={this.props.style}
        defaultActiveFirstOption={false}
        showArrow={false}
        filterOption={false}
        onChange={this.handleChange}
      >
        {options}
      </Select>
    );
  }
}

ReactDOM.render(
  <SearchInput placeholder="input search text" style={widthStyle} />,
  document.getElementById('select-demo-searchBox'));

// word
const wordChildren = [];
for (let i = 10; 36-i; i++) {
  wordChildren.push(<Option key={i.toString(36) + i}>{i.toString(36) + i}</Option>);
}

function handleChange(value) {
  console.log(`selected ${value}`);
}
const tokenSeparators = [','];
ReactDOM.render(
  <Select
    mode="tags"
    style={widthPercent}
    onChange={handleChange}
    tokenSeparators={tokenSeparators}
  >
    {wordChildren}
  </Select>,
  document.getElementById('select-demo-word'));

// size
const sizeChildren = [];
for (let i = 10; 36-i; i++) {
  sizeChildren.push(<Option key={i.toString(36) + i}>{i.toString(36) + i}</Option>);
}

function handleChange(value) {
  console.log(`Selected: ${value}`);
}

class SelectSizesDemo extends React.Component {
  state = {
    size: 'default',
  };

  handleSizeChange = (e) => {
    this.setState({ size: e.target.value });
  }

  render() {
    const { size } = this.state;
    const sizeDefaultValue = ['a10', 'c12'];
    return (
      <div>
        <Radio.Group value={size} onChange={this.handleSizeChange}>
          <Radio.Button value="large">Large</Radio.Button>
          <Radio.Button value="default">Default</Radio.Button>
          <Radio.Button value="small">Small</Radio.Button>
        </Radio.Group>
        <br /><br />
        <Select
          size={size}
          defaultValue="a1"
          onChange={handleChange}
          style={widthStyle}
        >
          {sizeChildren}
        </Select>
        <br />
        <Select
          mode="combobox"
          size={size}
          defaultValue="a1"
          onChange={handleChange}
          style={widthStyle}
        >
          {sizeChildren}
        </Select>
        <br />
        <Select
          mode="multiple"
          size={size}
          placeholder="Please select"
          defaultValue={sizeDefaultValue}
          onChange={handleChange}
          style={widthPercent}
        >
          {sizeChildren}
        </Select>
        <br />
        <Select
          mode="tags"
          size={size}
          placeholder="Please select"
          defaultValue={sizeDefaultValue}
          onChange={handleChange}
          style={widthPercent}
        >
          {sizeChildren}
        </Select>
      </div>
    );
  }
}

ReactDOM.render(<SelectSizesDemo />, document.getElementById('select-demo-size'));

// multiple
const multipleChildren = [];
for (let i = 10; 36 - i; i++) {
  multipleChildren.push(<Option key={i}>{i.toString(36) + i}</Option>);
}
const multipleButton = <Button funcType="raised" type="primary">这里是footer</Button>;
class SelectMulitpleDemo extends React.Component {
  state = {
    loading: true,
    options: [],
  }

  componentDidMount() {
    this.getOptions();
  }

  getOptions = () => {
    setTimeout(() => {
      this.setState({
        options: multipleChildren,
        loading: false,
      });
    }, 3000);
  }

  handleChoiceRemove = (value) => {
    return value >= 15;
  }

  render() {
    const { options, loading } = this.state;
    return (
      <Select
        mode="multiple"
        style={widthPercent}
        label="多选用例"
        optionFilterProp="children"
        footer={multipleButton}
        loading={loading}
        choiceRemove={this.handleChoiceRemove}
        filter
        allowClear
      >
        {options}
      </Select>
    );
  }
}

ReactDOM.render(<SelectMulitpleDemo />, document.getElementById('select-demo-multiple'));

// combobox

class App extends React.Component {
  state = {
    options: [],
  }

  handleChange = (value) => {
    let options;
    if (!value || value.indexOf('@') >= 0) {
      options = [];
    } else {
      options = ['gmail.com', '163.com', 'qq.com'].map((domain) => {
        const email = `${value}@${domain}`;
        return <Option key={email}>{email}</Option>;
      });
    }
    this.setState({ options });
  }

  render() {
    // filterOption needs to be false，as the value is dynamically generated
    return (
      <Select
        mode="combobox"
        style={widthStyle}
        onChange={this.handleChange}
        filterOption={false}
        placeholder="Enter the account name"
      >
        {this.state.options}
      </Select>
    );
  }
}

ReactDOM.render(<App />,  document.getElementById('select-demo-combobox'));

// coordinate
const provinceData = ['Zhejiang', 'Jiangsu'];
const cityData = {
  Zhejiang: ['Hangzhou', 'Ningbo', 'Wenzhou'],
  Jiangsu: ['Nanjing', 'Suzhou', 'Zhenjiang'],
};

const ninetyWidth = {width:90}
class CoordinateApp extends React.Component {
  state = {
    cities: cityData[provinceData[0]],
    secondCity: cityData[provinceData[0]][0],
  }

  handleProvinceChange = (value) => {
    this.setState({
      cities: cityData[value],
      secondCity: cityData[value][0],
    });
  }

  onSecondCityChange = (value) => {
    this.setState({
      secondCity: value,
    });
  }

  render() {
    const provinceOptions = provinceData.map(province => <Option key={province}>{province}</Option>);
    const cityOptions = this.state.cities.map(city => <Option key={city}>{city}</Option>);
    return (
      <div>
        <Select defaultValue={provinceData[0]} style={ninetyWidth} onChange={this.handleProvinceChange}>
          {provinceOptions}
        </Select>
        <Select value={this.state.secondCity} style={ninetyWidth} onChange={this.onSecondCityChange}>
          {cityOptions}
        </Select>
      </div>
    );
  }
}

ReactDOM.render(<CoordinateApp />, document.getElementById('select-demo-coordinate'));

// text
const widthOneTwo = {width: 120}
const textDefaut = { key: 'lucy' }
function handleChange(value) {
  console.log(value); // { key: "lucy", label: "Lucy (101)" }
}

ReactDOM.render(
  <Select labelInValue defaultValue={textDefaut} style={widthOneTwo} onChange={handleChange}>
    <Option value="jack">Jack (100)</Option>
    <Option value="lucy">Lucy (101)</Option>
  </Select>,
  document.getElementById('select-demo-text'));

// icon
const iconDefaultValue = ['root'];
ReactDOM.render(
  <IconSelect style={ThreeWidthStyle} defaultValue={iconDefaultValue} />,
  document.getElementById('select-demo-icon'));
</script>