<script type="text/babel">
const { Avatar, Button, Badge } = window['choerodon-ui'];

// basic

ReactDOM.render(
  <div>
    <div>
      <Avatar size="large" icon="user" />
      <Avatar icon="user" />
      <Avatar size="small" icon="user" />
    </div>
    <div>
      <Avatar shape="square" size="large" icon="user" />
      <Avatar shape="square" icon="user" />
      <Avatar shape="square" size="small" icon="user" />
    </div>
  </div>,
  document.getElementById('avatar-demo-basic'));

// size

const UserList = ['U', 'Lucy', 'Tom', 'Edward'];
const colorList = ['#f56a00', '#7265e6', '#ffbf00', '#00a2ae'];
const buttonStyle = { marginLeft: 16, verticalAlign: 'middle' };

function avatarStyle(color) {
  return { backgroundColor: color, verticalAlign: 'middle' };
}
class Autoset extends React.Component {
  constructor(props) {
    super(props);
    this.state = {
      user: UserList[0],
      color: colorList[0],
    };
  }

  changeUser = () => {
    const index = UserList.indexOf(this.state.user);
    this.setState({
      user:  UserList[index + 1] ,
      color: colorList[index + 1] ,
    });
  }

  render() {
    return (
      <div>
        <Avatar style={avatarStyle(this.state.color)} size="large">
          {this.state.user}
        </Avatar>
        <Button size="small" style={buttonStyle} onClick={this.changeUser}>
          Change
        </Button>
      </div>
    );
  }
}

ReactDOM.render(<Autoset />,
document.getElementById('avatar-demo-size'));

// type
const uAvatarStyle = { color: '#f56a00', backgroundColor: '#fde3cf' };
const userAvatarStyle = { backgroundColor: '#87d068' };
ReactDOM.render(
  <div>
    <Avatar icon="user" />
    <Avatar>U</Avatar>
    <Avatar>USER</Avatar>
    <Avatar src="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png" />
    <Avatar style={uAvatarStyle}>U</Avatar>
    <Avatar style={userAvatarStyle} icon="user" />
  </div>,
  document.getElementById('avatar-demo-type'));

// badge
const marginRight = { marginRight: 24 };
ReactDOM.render(
  <div>
    <span style={marginRight}>
      <Badge count={1}><Avatar shape="square" icon="user" /></Badge>
    </span>
    <span>
      <Badge dot><Avatar shape="square" icon="user" /></Badge>
    </span>
  </div>,
  document.getElementById('avatar-demo-badge'));
</script>