<script type="text/babel">
const { DatePicker, Radio } = window['choerodon-ui'];
// basic
const { MonthPicker, RangePicker, WeekPicker } = DatePicker;

function onChange(date, dateString) {
  console.log(date, dateString);
}

ReactDOM.render(
  <div>
    <DatePicker onChange={onChange} label="日期框" />
    <br />
    <MonthPicker onChange={onChange} placeholder="Select month" />
    <br />
    <RangePicker onChange={onChange} />
    <br />
    <WeekPicker onChange={onChange} placeholder="Select week" label="选择周" />
  </div>,
  document.getElementById('date-demo-basic'));

// size
class PickerSizesDemo extends React.Component {
  state = {
    size: 'default',
  };

  handleSizeChange = (e) => {
    this.setState({ size: e.target.value });
  }

  render() {
    const { size } = this.state;
    return (
      <div>
        <Radio.Group value={size} onChange={this.handleSizeChange}>
          <Radio.Button value="large">Large</Radio.Button>
          <Radio.Button value="default">Default</Radio.Button>
          <Radio.Button value="small">Small</Radio.Button>
        </Radio.Group>
        <br /><br />
        <DatePicker size={size} />
        <br />
        <MonthPicker size={size} placeholder="Select Month" />
        <br />
        <RangePicker size={size} />
        <br />
        <WeekPicker size={size} placeholder="Select Week" />
      </div>
    );
  }
}

ReactDOM.render(<PickerSizesDemo />, document.getElementById('date-demo-size'));

// disabled
const datea="2015-06-06";
const disabledDateDefault = moment(datea, dateFormat);
const dateb = "2015-06"
const disabledMonthDefault = moment(dateb, "YYYY-MM");
const dateFormat = 'YYYY-MM-DD';
ReactDOM.render(
  <div>
    <DatePicker defaultValue={disabledDateDefault} disabled />
    <br />
    <MonthPicker defaultValue={disabledMonthDefault} disabled />
    <br />
    <RangePicker
      disabled
    />
  </div>,
  document.getElementById('date-demo-disabled'));

// range
class DateRange extends React.Component {
  state = {
    startValue: null,
    endValue: null,
    endOpen: false,
  };

  disabledStartDate = (startValue) => {
    const endValue = this.state.endValue;
    if (!startValue || !endValue) {
      return false;
    }
    return startValue.valueOf() > endValue.valueOf();
  }

  disabledEndDate = (endValue) => {
    const startValue = this.state.startValue;
    if (!endValue || !startValue) {
      return false;
    }
    return startValue.valueOf() >= endValue.valueOf();
  }

  onChange = (field, value) => {
    this.setState({
      [field]: value,
    });
  }

  onStartChange = (value) => {
    this.onChange('startValue', value);
  }

  onEndChange = (value) => {
    this.onChange('endValue', value);
  }

  handleStartOpenChange = (open) => {
    if (!open) {
      this.setState({ endOpen: true });
    }
  }

  handleEndOpenChange = (open) => {
    this.setState({ endOpen: open });
  }

  render() {
    const { startValue, endValue, endOpen } = this.state;
    return (
      <div>
        <DatePicker
          disabledDate={this.disabledStartDate}
          showTime
          format="YYYY-MM-DD HH:mm:ss"
          value={startValue}
          placeholder="Start"
          onChange={this.onStartChange}
          onOpenChange={this.handleStartOpenChange}
        />
        <DatePicker
          disabledDate={this.disabledEndDate}
          showTime
          format="YYYY-MM-DD HH:mm:ss"
          value={endValue}
          placeholder="End"
          onChange={this.onEndChange}
          open={endOpen}
          onOpenChange={this.handleEndOpenChange}
        />
      </div>
    );
  }
}

ReactDOM.render(<DateRange />, document.getElementById('date-demo-range'));

// page
const renderExtraFooter = () => 'extra footer';
ReactDOM.render(
  <div>
    <DatePicker renderExtraFooter={renderExtraFooter} />
    <DatePicker renderExtraFooter={renderExtraFooter} showTime />
    <RangePicker renderExtraFooter={renderExtraFooter} />
    <RangePicker renderExtraFooter={renderExtraFooter} showTime />
    <MonthPicker renderExtraFooter={renderExtraFooter} placeholder="Select month" />
  </div>,
  document.getElementById('date-demo-page'));

// cell
function dateRender(current) {
  const style = {};
    if (current.date() === 1) {
      style.border = '1px solid #1890ff';
      style.borderRadius = '50%';
    }
    return (
      <div className="ant-calendar-date" style={style}>
        {current.date()}
      </div>
    );
}
ReactDOM.render(
  <div>
    <DatePicker
      dateRender={dateRender}
    />
    <RangePicker
      dateRender={dateRender}
    />
  </div>,
  document.getElementById('date-demo-cell'));

// style
const StyledateFormat = 'YYYY/MM/DD';
const monthFormat = 'YYYY/MM';
const StyleDateDefault = moment('2015/01/01', StyledateFormat)
const StyleMonthDefault = moment('2015/01', monthFormat)
const StyleRangeDefault = [moment('2015/01/01', StyledateFormat), moment('2015/01/01', StyledateFormat)]
ReactDOM.render(
  <div>
    <DatePicker defaultValue={StyleDateDefault} format={StyledateFormat} />
    <br />
    <MonthPicker defaultValue={StyleMonthDefault} format={monthFormat} />
    <br />
    <RangePicker
      defaultValue={StyleRangeDefault}
      format={StyledateFormat}
    />
  </div>,
  document.getElementById('date-demo-style'));

  // change
  const showTimeFormat = {
    format: 'HH:mm'
  }
  const Changeplaceholder = ['Start Time', 'End Time']
function onChange(value, dateString) {
  console.log('Selected Time: ', value);
  console.log('Formatted Selected Time: ', dateString);
}

function onOk(value) {
  console.log('onOk: ', value);
}

ReactDOM.render(
  <div>
    <DatePicker
      showTime
      format="YYYY-MM-DD HH:mm:ss"
      placeholder="Select Time"
      onChange={onChange}
      onOk={onOk}
    />
    <br />
    <RangePicker
      showTime={showTimeFormat}
      format="YYYY-MM-DD HH:mm"
      placeholder={Changeplaceholder}
      onChange={onChange}
      onOk={onOk}
    />
  </div>,
  document.getElementById('date-demo-change'));

// unselected
function range(start, end) {
  const result = [];
  for (let i = start; end-i; i++) {
    result.push(i);
  }
  return result;
}

function disabledDate(current) {
  // Can not select days before today and today
  return current && moment().endOf('day') > current;
}

function disabledDateTime() {
  return {
    disabledHours: () => range(0, 24).splice(4, 20),
    disabledMinutes: () => range(30, 60),
    disabledSeconds: () => [55, 56],
  };
}

function disabledRangeTime(_, type) {
  if (type === 'start') {
    return {
      disabledHours: () => range(0, 60).splice(4, 20),
      disabledMinutes: () => range(30, 60),
      disabledSeconds: () => [55, 56],
    };
  }
  return {
    disabledHours: () => range(0, 60).splice(20, 4),
    disabledMinutes: () => range(0, 31),
    disabledSeconds: () => [55, 56],
  };
}
const showTimeDefault = {
  defaultValue: moment('00:00:00', 'HH:mm:ss')
}
const showTimeRangPicker = {
  hideDisabledOptions: true,
  defaultValue: [moment('00:00:00', 'HH:mm:ss'), moment('11:59:59', 'HH:mm:ss')],
}
ReactDOM.render(
  <div>
    <DatePicker
      format="YYYY-MM-DD HH:mm:ss"
      disabledDate={disabledDate}
      disabledTime={disabledDateTime}
      showTime={showTimeDefault}
    />
    <br />
    <MonthPicker disabledDate={disabledDate} placeholder="Select month" />
    <br />
    <RangePicker
      disabledDate={disabledDate}
      disabledTime={disabledRangeTime}
      showTime={showTimeRangPicker}
      format="YYYY-MM-DD HH:mm:ss"
    />
  </div>,
  document.getElementById('date-demo-unselected')
);

// pre
function onChange(dates, dateStrings) {
  console.log('From: ', dates[0], ', to: ', dates[1]);
  console.log('From: ', dateStrings[0], ', to: ', dateStrings[1]);
}

const ranges = {
  Today: [moment(), moment()], 'This Month': [moment(), moment().endOf('month')]
}
ReactDOM.render(
  <div>
    <RangePicker
      ranges={ranges}
      onChange={onChange}
    />
    <br />
    <RangePicker
      ranges={ranges}
      showTime
      format="YYYY/MM/DD HH:mm:ss"
      onChange={onChange}
    />
  </div>,
  document.getElementById('date-demo-pre')
);
// board
class ControlledDatePicker extends React.Component {
  state = { mode: 'time' };

  handleOpenChange = (open) => {
    if (open) {
      this.setState({ mode: 'time' });
    }
  }

  handlePanelChange = (value, mode) => {
    this.setState({ mode });
  }

  render() {
    return (
      <DatePicker
        mode={this.state.mode}
        showTime
        onOpenChange={this.handleOpenChange}
        onPanelChange={this.handlePanelChange}
      />
    );
  }
}
const placeholder = ['Start month', 'End month']

class ControlledRangePicker extends React.Component {
  state = {
    mode: ['month', 'month'],
    value: [],
  };

  handlePanelChange = (value, mode) => {
    this.setState({
      value,
      mode: [
        mode[0] === 'date' ? 'month' : mode[0],
        mode[1] === 'date' ? 'month' : mode[1],
      ],
    });
  }
  render() {
    const { value, mode } = this.state;
    return (
      <RangePicker
        placeholder={placeholder}
        format="YYYY-MM"
        value={value}
        mode={mode}
        onPanelChange={this.handlePanelChange}
      />
    );
  }
}

ReactDOM.render(
  <div>
    <ControlledDatePicker />
    <br />
    <ControlledRangePicker />
  </div>,
  document.getElementById('date-demo-board'));
</script>