<script type="text/babel">
const { Slider, Switch, Icon, InputNumber, Row, Col } = window['choerodon-ui'];
// basic
class BasicDemo extends React.Component {
  state = {
    disabled: false,
  }

  handleDisabledChange = (disabled) => {
    this.setState({ disabled });
  }

  render() {
    const { disabled } = this.state;
    return (
      <div>
        <Slider defaultValue={30} disabled={disabled} />
        <Slider range defaultValue={[20, 50]} disabled={disabled} />
        Disabled: <Switch size="small" checked={disabled} onChange={this.handleDisabledChange} />
      </div>
    );
  }
}

ReactDOM.render(<BasicDemo />, document.getElementById('slider-demo-basic'));

// icon
class IconSlider extends React.Component {
  state = {
    value: 0,
  }

  handleChange = (value) => {
    this.setState({ value });
  }

  render() {
    const { max, min } = this.props;
    const { value } = this.state;
    const mid = ((max - min) / 2).toFixed(5);
    const preColor = value >= mid ? '' : 'rgba(0, 0, 0, .45)';
    const nextColor = value >= mid ? 'rgba(0, 0, 0, .45)' : '';
    const preColorStyle = {
      color: preColor
    }
    const nextColorStyle = {
      color: nextColor
    }
    return (
      <div className="icon-wrapper">
        <Icon style={preColorStyle} type="frown-o" />
        <Slider {...this.props} onChange={this.handleChange} value={value} />
        <Icon style={nextColorStyle} type="smile-o" />
      </div>
    );
  }
}

ReactDOM.render(<IconSlider min={0} max={20} />, document.getElementById('slider-demo-icon'));

// event
function onChange(value) {
  console.log('onChange: ', value);
}

function onAfterChange(value) {
  console.log('onAfterChange: ', value);
}

ReactDOM.render(
  <div>
    <Slider defaultValue={30} onChange={onChange} onAfterChange={onAfterChange} />
    <Slider range step={10} defaultValue={[20, 50]} onChange={onChange} onAfterChange={onAfterChange} />
  </div>,
  document.getElementById('slider-demo-event')
);

// vertical
const style = {
  float: 'left',
  height: 300,
  marginLeft: 70,
};

const marks = {
  0: '0°C',
  26: '26°C',
  37: '37°C',
  100: {
    style: {
      color: '#f50',
    },
    label: <strong>100°C</strong>,
  },
};

const threeHeight = { height: 300 }

ReactDOM.render(
  <div style={threeHeight}>
    <div style={style}>
      <Slider vertical defaultValue={30} />
    </div>
    <div style={style}>
      <Slider vertical range step={10} defaultValue={[20, 50]} />
    </div>
    <div style={style}>
      <Slider vertical range marks={marks} defaultValue={[26, 37]} />
    </div>
  </div>,
  document.getElementById('slider-demo-vertical')
);
// input
const marginLeftStyle = { marginLeft: 16 }
class IntegerStep extends React.Component {
  state = {
    inputValue: 1,
  }

  onChange = (value) => {
    this.setState({
      inputValue: value,
    });
  }

  render() {
    return (
      <Row>
        <Col span={12}>
          <Slider min={1} max={20} onChange={this.onChange} value={this.state.inputValue} />
        </Col>
        <Col span={4}>
          <InputNumber
            min={1}
            max={20}
            style={marginLeftStyle}
            value={this.state.inputValue}
            onChange={this.onChange}
          />
        </Col>
      </Row>
    );
  }
}

class DecimalStep extends React.Component {
  state = {
    inputValue: 0,
  }

  onChange = (value) => {
    this.setState({
      inputValue: value,
    });
  }

  render() {
    return (
      <Row>
        <Col span={12}>
          <Slider min={0} max={1} onChange={this.onChange} value={this.state.inputValue} step={0.01} />
        </Col>
        <Col span={4}>
          <InputNumber
            min={0}
            max={1}
            style={marginLeftStyle}
            step={0.01}
            value={this.state.inputValue}
            onChange={this.onChange}
          />
        </Col>
      </Row>
    );
  }
}

ReactDOM.render(
  <div>
    <IntegerStep />
    <DecimalStep />
  </div>,
  document.getElementById('slider-demo-input'));

// custom
function formatter(value) {
  return `${value}%`;
}

ReactDOM.render(
  <div>
    <Slider tipFormatter={formatter} />
    <Slider tipFormatter={null} />
  </div>,
  document.getElementById('slider-demo-custom')
);

// tag
const tagMarks = {
  0: '0°C',
  26: '26°C',
  37: '37°C',
  100: {
    style: {
      color: '#f50',
    },
    label: <strong>100°C</strong>,
  },
};

ReactDOM.render(
  <div>
    <h4>included=true</h4>
    <Slider marks={tagMarks} defaultValue={37} />
    <Slider range marks={tagMarks} defaultValue={[26, 37]} />

    <h4>included=false</h4>
    <Slider marks={tagMarks} included={false} defaultValue={37} />

    <h4>marks & step</h4>
    <Slider marks={tagMarks} step={10} defaultValue={37} />

    <h4>step=null</h4>
    <Slider marks={tagMarks} step={null} defaultValue={37} />
  </div>,
  document.getElementById('slider-demo-tag'));
</script>