<script type="text/babel">
const { Calendar, Badge,Alert } = window['choerodon-ui'];

// basic
function onPanelChange(value, mode) {
  console.log(value, mode);
}

ReactDOM.render(
  <Calendar onPanelChange={onPanelChange} />,
  document.getElementById('calendar-demo-basic'));

// notice

function getListData(value) {
  let listData;
  switch (value.date()) {
    case 8:
      listData = [
        { type: 'warning', content: 'This is warning event.' },
        { type: 'success', content: 'This is usual event.' },
      ]; break;
    case 10:
      listData = [
        { type: 'warning', content: 'This is warning event.' },
        { type: 'success', content: 'This is usual event.' },
        { type: 'error', content: 'This is error event.' },
      ]; break;
    case 15:
      listData = [
        { type: 'warning', content: 'This is warning event' },
        { type: 'success', content: 'This is very long usual event。。....' },
        { type: 'error', content: 'This is error event 1.' },
        { type: 'error', content: 'This is error event 2.' },
        { type: 'error', content: 'This is error event 3.' },
        { type: 'error', content: 'This is error event 4.' },
      ]; break;
    default:
  }
  return listData || [];
}

function dateCellRender(value) {
  const listData = getListData(value);
  return (
    <ul className="events">
      {
        listData.map(item => (
          <li key={item.content}>
            <Badge status={item.type} text={item.content} />
          </li>
        ))
      }
    </ul>
  );
}

function getMonthData(value) {
  if (value.month() === 8) {
    return 1394;
  }
}

function monthCellRender(value) {
  const num = getMonthData(value);
  return num ? (
    <div className="notes-month">
      <section>{num}</section>
      <span>Backlog number</span>
    </div>
  ) : null;
}

ReactDOM.render(
  <Calendar dateCellRender={dateCellRender} monthCellRender={monthCellRender} />,
  document.getElementById('calendar-demo-notice'));

// card
function onPanelChange(value, mode) {
  console.log(value, mode);
}
const cardStyle = { width: 400, border: '1px solid #d9d9d9', borderRadius: 4 };
ReactDOM.render(
  <div style={cardStyle}>
    <Calendar fullscreen={false} onPanelChange={onPanelChange} />
  </div>,
  document.getElementById('calendar-demo-card'));

// select

class SelectApp extends React.Component {
  state = {
    value: moment('2017-01-25'),
    selectedValue: moment('2017-01-25'),
  }

  onSelect = (value) => {
    this.setState({
      value,
      selectedValue: value,
    });
  }

  onPanelChange = (value) => {
    this.setState({ value });
  }
  getMessage = (selectedValue) =>`You selected date: ${selectedValue && selectedValue.format('YYYY-MM-DD')}`
  render() {
    const { value, selectedValue } = this.state;
    const message = `You selected date: ${selectedValue && selectedValue.format('YYYY-MM-DD')}`;

    return (
      <div>
        <Alert message={message} />
        <Calendar value={value} onSelect={this.onSelect} onPanelChange={this.onPanelChange} />
      </div>
    );
  }
}

ReactDOM.render(<SelectApp />, document.getElementById('calendar-demo-select'));
</script>