<script type="text/babel">
const { Rate, Icon } = window['choerodon-ui'];

// basic
ReactDOM.render(<Rate />, document.getElementById('rate-demo-basic'));

// text
class Rater extends React.Component {
  state = {
    value: 3,
  }

  handleChange = (value) => {
    this.setState({ value });
  }

  render() {
    const { value } = this.state;
    return (
      <span>
        <Rate onChange={this.handleChange} value={value} />
        {value && <span className="ant-rate-text">{value} stars</span>}
      </span>
    );
  }
}

ReactDOM.render(<Rater />, document.getElementById('rate-demo-text'));

// delete
ReactDOM.render(
  <div>
    <Rate defaultValue={3} /> allowClear: true
    <br />
    <Rate allowClear={false} defaultValue={3} /> allowClear: false
  </div>,
  document.getElementById('rate-demo-delete'));

  // half
  ReactDOM.render(<Rate allowHalf defaultValue={2.5} />, document.getElementById('rate-demo-half'));

// readonly
ReactDOM.render(<Rate disabled defaultValue={2} />, document.getElementById('rate-demo-readonly'));

// other
const heartIcon = <Icon type="heart" />;
ReactDOM.render(
  <div>
    <Rate character={heartIcon} allowHalf />
    <br />
    <Rate character="A" allowHalf />
    <br />
    <Rate character="好" allowHalf />
  </div>,
  document.getElementById('rate-demo-other'));
</script>