<script type="text/babel">
const { Button, Input, AutoComplete } = window['choerodon-ui'];

// basic
function widthStyle(width) {
  return 'width:'+width
}
const TwowidthStyle = {
  width:200
} 
const OnewidthStyle = {
  width:250
} 
const ThreewidthStyle = {
  width:300
} 
const widthStylePercent = {
  width: '100%'
} 

function onSelect(value) {
  console.log('onSelect', value);
}

class Complete extends React.Component {
  state = {
    dataSource: [],
  }

  handleSearch = (value) => {
    this.setState({
      dataSource: !value ? [] : [
        value,
        value + value,
        value + value + value,
      ],
    });
  }

  render() {
    const { dataSource } = this.state;
    return (
      <AutoComplete
        dataSource={dataSource}
        style={TwowidthStyle}
        onSelect={onSelect}
        onSearch={this.handleSearch}
        placeholder="input here"
      />
    );
  }
}

ReactDOM.render(<Complete />, document.getElementById('autoComplete-basic'));

// input
const { TextArea } = Input;

function onSelect(value) {
  console.log('onSelect', value);
}

class InputComplete extends React.Component {
  state = {
    dataSource: [],
  }

  handleSearch = (value) => {
    this.setState({
      dataSource: !value ? [] : [
        value,
        value + value,
        value + value + value,
      ],
    });
  }

  handleKeyPress = (ev) => {
    console.log('handleKeyPress', ev);
  }

  render() {
    const { dataSource } = this.state;
    return (
      <AutoComplete
        dataSource={dataSource}
        style={TwowidthStyle}
        onSelect={onSelect}
        onSearch={this.handleSearch}
      >
        <TextArea
          placeholder="input here"
          className="custom"
          onKeyPress={this.handleKeyPress}>
        </TextArea>
      </AutoComplete>
    );
  }
}

ReactDOM.render(<InputComplete />, document.getElementById('autoComplete-input'));

// certain
const certainButton = <Button shape="circle" size="small" funcType="flat" icon="search" />;
const floatStyle={
  float: 'right'
}
const OptGroup = AutoComplete.OptGroup;

const dataSource = [{
  title: '话题',
  children: [{
    title: 'Choerodon',
    count: 10000,
  }, {
    title: 'Choerodon UI',
    count: 10600,
  }],
}, {
  title: '问题',
  children: [{
    title: 'Choerodon UI 有多好',
    count: 60100,
  }, {
    title: 'Choerodon 是啥',
    count: 30010,
  }],
}, {
  title: '文章',
  children: [{
    title: 'Choerodon 是一个Paas平台',
    count: 100000,
  }],
}];

function renderTitle(title) {
  return (
    <span>
      {title}
      <a
        style={floatStyle}
        href="https://www.google.com/search?q=Choerodon"
        target="_blank"
        rel="noopener noreferrer"
      >更多
      </a>
    </span>
  );
}

const options = dataSource.map(group => (
  <OptGroup
    key={group.title}
    label={renderTitle(group.title)}
  >
    {group.children.map(opt => (
      <Option key={opt.title} value={opt.title}>
        {opt.title}
        <span className="certain-search-item-count">{opt.count} 人 关注</span>
      </Option>
    ))}
  </OptGroup>
)).concat([
  <Option disabled key="all" className="show-all">
    <a
      href="https://www.google.com/search?q=Choerodon"
      target="_blank"
      rel="noopener noreferrer"
    >
      查看所有结果
    </a>
  </Option>,
]);

function IComplete() {
  return (
    <div className="certain-category-search-wrapper" style={OnewidthStyle}>
      <AutoComplete
        className="certain-category-search"
        dropdownClassName="certain-category-search-dropdown"
        dropdownMatchSelectWidth={false}
        dropdownStyle={ThreewidthStyle}
        style={widthStylePercent}
        dataSource={options}
        placeholder="input here"
        optionLabelProp="value"
      >
          <Input
            suffix={certainButton}
          />
      </AutoComplete>
    </div>
  );
}

ReactDOM.render(<IComplete />, document.getElementById('autoComplete-certain'));

// custom
class CustomComplete extends React.Component {
  state = {
    result: [],
  }

  handleSearch = (value) => {
    let result;
    if (!value || value.indexOf('@') >= 0) {
      result = [];
    } else {
      result = ['gmail.com', '163.com', 'qq.com'].map(domain => `${value}@${domain}`);
    }
    this.setState({ result });
  }

  render() {
    const { result } = this.state;
    const children = result.map((email) => {
      return <Option key={email}>{email}</Option>;
    });
    return (
      <AutoComplete
        style={TwowidthStyle}
        onSearch={this.handleSearch}
        placeholder="input here"
      >
        {children}
      </AutoComplete>
    );
  }
}

ReactDOM.render(<CustomComplete />, document.getElementById('autoComplete-custom'));

// non-sensitive
const nonsensitivedataSource = ['Burns Bay Road', 'Downing Street', 'Wall Street'];

function NonSensitiveComplete() {
  return (
    <AutoComplete
      style={TwowidthStyle}
      dataSource={nonsensitivedataSource}
      placeholder="try to type `b`"
      filterOption={(inputValue, option) => option.props.children.toUpperCase().indexOf(inputValue.toUpperCase()) !== -1}
    />
  );
}

ReactDOM.render(<NonSensitiveComplete />, document.getElementById('autoComplete-non-sensitive'));

// uncertain
const uncertainButton = <Button size="small" shape="circle" type="primary" icon="search" />;
function uncertainhref(href) {
  return 'https://www.google.com/search?q='+href
}

function onSelect(value) {
  console.log('onSelect', value);
}

function getRandomInt(max, min = 0) {
  return Math.floor(Math.random() * (max - min + 1)) + min; // eslint-disable-line no-mixed-operators
}

function searchResult(query) {
  return (new Array(getRandomInt(5))).join('.').split('.')
    .map((item, idx) => ({
      query,
      category: `${query}${idx}`,
      count: getRandomInt(200, 100),
    }));
}

function renderOption(item) {
  return (
    <Option key={item.category} text={item.category}>
      {item.query} 在
      <a
        href={uncertainhref(item.query)}
        target="_blank"
        rel="noopener noreferrer"
      >
        {item.category}
      </a>
      区块中
      <span className="global-search-item-count">约 {item.count} 个结果</span>
    </Option>
  );
}

class UncertainComplete extends React.Component {
  state = {
    dataSource: [],
  }

  handleSearch = (value) => {
    this.setState({
      dataSource: value ? searchResult(value) : [],
    });
  }

  render() {
    const { dataSource } = this.state;
    return (
      <div className="global-search-wrapper" style={ThreewidthStyle}>
        <AutoComplete
          className="global-search"
          style={widthStylePercent}
          dataSource={dataSource.map(renderOption)}
          onSelect={onSelect}
          onSearch={this.handleSearch}
          placeholder="input here"
          optionLabelProp="text"
        >
          <Input
            suffix={uncertainButton}
          />
        </AutoComplete>
      </div>
    );
  }
}

ReactDOM.render(<UncertainComplete />, document.getElementById('autoComplete-uncertain'));
</script>