<script type="text/babel">
const { TimePicker,Button } = window['choerodon-ui'];

// basic

const momentDefault = moment('12:08', 'HH:mm:ss');
function onChange(time, timeString) {
  console.log(time, timeString);
}

ReactDOM.render(
  <TimePicker
    label="时间选择框"
    onChange={onChange}
    defaultOpenValue={momentDefault}
  />,
  document.getElementById('timePicker-demo-basic')
);

// size
ReactDOM.render(
  <div>
    <TimePicker defaultValue={momentDefault} size="large" />
    <TimePicker defaultValue={momentDefault} />
    <TimePicker defaultValue={momentDefault} size="small" />
  </div>,
  document.getElementById('timePicker-demo-size'));

// time
const format = 'HH:mm';

ReactDOM.render(
  <TimePicker defaultValue={momentDefault} format={format} />,
  document.getElementById('timePicker-demo-time'));

// add
function getButton(onClick) {
  return <Button size="small" type="primary" onClick={onClick}>Ok</Button>
}
class TimePickerAddonDemo extends React.Component {
  state = { open: false };

  handleOpenChange = (open) => {
    this.setState({ open });
  }

  handleClose = () => this.setState({ open: false })

  addon = () => getButton(this.handleClose)
  render() {
    return (
      <TimePicker
        open={this.state.open}
        onOpenChange={this.handleOpenChange}
        addon={this.addon}
      />
    );
  }
}

ReactDOM.render(<TimePickerAddonDemo />, document.getElementById('timePicker-demo-add'));

// controller
class ControllerDemo extends React.Component {
  state = {
    value: null,
  };

  onChange = (time) => {
    console.log(time);
    this.setState({ value: time });
  }

  render() {
    return <TimePicker value={this.state.value} onChange={this.onChange} />;
  }
}

ReactDOM.render(<ControllerDemo />, document.getElementById('timePicker-demo-controller'));

// disabled
ReactDOM.render(
  <TimePicker defaultValue={momentDefault} disabled />,
  document.getElementById('timePicker-demo-disabled'));

// step
ReactDOM.render(
  <TimePicker minuteStep={15} secondStep={10} />,
  document.getElementById('timePicker-demo-step'));

// hour
function onChange(time, timeString) {
  console.log(time, timeString);
}

ReactDOM.render(
  <div>
    <TimePicker use12Hours onChange={onChange} />
    <TimePicker use12Hours format="h:mm:ss A" onChange={onChange} />
    <TimePicker use12Hours format="h:mm a" onChange={onChange} />
  </div>,
  document.getElementById('timePicker-demo-hour'));
</script>