<div class="docs-home-content">
    {{- range  where .Site.Home.Sections.ByWeight "Type" "docs"}}
        {{- with . }}
                <div class="doc-home">
                    {{ $.Scratch.Set "card" false }}
                    <ul>
                        {{ range .Sections.ByWeight}}
                            {{ if .Params.home }}
                            {{ if and (isset .Params "description") (isset .Params "icon") (ne .Params.icon "") (ne .Description "") }}
                                    {{ $.Scratch.Set "card" true }}
                                    <li>
                                        <div class="access-list-item">
                                            <a href="{{ .RelPermalink }}">
                                                <div class="item-head">
                                                    <img class="n-max" src='{{ .Params.icon }}'>
                                                    <h4>{{ .Title }}</h4>
                                                </div>
                                                <p>{{ .Description }}</p>
                                            </a>
                                        </div>
                                    </li>
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    </ul>
                </div>
        {{- end }}
    {{- end }}
</div>