<div class="container sharing-main">
	<div class="row">
		{{ range $key, $index := $.Site.Data.sharing }}
		
					<div class="col-xs-12 sharing-bar">
						<h4>{{ i18n $key }}</h4>
					</div>
		
			{{ range $key,$index := sort . "weight" }}
			     
			     	
				    <div class="col-md-3 col-sm-6 col-xs-12 sharing-box">
		  				<div class="sharing-head" style="background: url({{.background}}); background-repeat: no-repeat; background-size: 100% 100%;">
		  				<p>{{.title}}</p>
		  				</div>
		  				
		  				<div class="sharing-body">
		  					<h5>顶顶顶</h5>
		  				</div>
		  				<div class="sharing-footer">
		  					
		  					<i class="iconfont icon-player1 pull-right" id="player" data-src="{{.src}}"></i>
		  				
		  				</div>
		  				
		     		</div>
		     		
		    {{ end }} 
		    
	
	    {{ end }}
	</div>
	
