{{ $.Scratch.Set "top" (.Get 0) }} 
{{ $.Scratch.Set "bottom" (.Get 1) }} 
{{ range $key, $index := $.Site.Data.tutorial }}
  {{ if eq ($.Scratch.Get "top") $key }}
  <div class="tutorial-img" id="tutorial-img">
    {{ range $key ,$index := sort . "weight" }}
      {{ if or (eq .name ($.Scratch.Get "bottom")) (eq ($.Scratch.Get "bottom") "all") }}
      <div class="col-lg-4 col-md-4 col-xs-12 tutorial" data-src="{{.src}}">
        <div class="tutorial-head" style="background: url({{.background}})no-repeat center 100%;    background-size: cover;">
            <div class="title">{{.title}}</div>
            <div class="time">
                <div class="content">
                    <i class="iconfont icon-play-button"></i>
                    <div>{{.time}}</div>
                </div>
            </div>
        </div>
        <div class="tutorial-footer">
            <div class="content">
                <div class="title">{{.title}}</div>
                <div class="description">{{.description}}</div>
            </div>
        </div>
      </div>
      {{ end }}
    {{ end }}
  </div>
  {{ end }}
{{ end }}

<div class="tutorial-video" id="tutorial-video">
  <div class="bg"></div>
  <iframe frameborder="0" src='' allowfullscreen="true" quality="high"></iframe>
  <div class="iconfont icon-guanbi"></div>
</div>