<!DOCTYPE html>
<html>
    {{ partial "head.html" . }}
    <link href="/css/connect-us.css" rel="stylesheet">
    <header id="header">
        {{ partial "nav.html" . }}
    </header>
  <body>
    <div>
      <div id="content" class="connect-us">
        <section class="connect-us-header">
          <h5>{{ i18n "connect us" }}</h5>
          <p>{{ i18n "connect us des"}}</p>
        </section>
        <section class="connect-us-banner">
          <div class="connect-us-method">
            <h6>{{ i18n "product purchase and business consulting" }}</h6>
            <div class="connect-us-method-item connect-us-method-item-nohover">
              <img class="connect-us-method-icon" src="/img/connect-us/phone.svg" />
              <p>400 168 4263 转 81072</p>
            </div>
            <div class="connect-us-method-item">
              <img class="connect-us-method-icon" src="/img/connect-us/email.svg" />
              <a href="mailto:zhuchiyu@vip.hand-china.com">zhuchiyu@vip.hand-china.com</a>
            </div>
            <div class="connect-us-method-item">
              <img class="connect-us-method-icon" src="/img/connect-us/wechart.svg" />
              <p>{{ i18n "add WeChart" }}</p>
              <div class="content-us-method-code">
                <div class="content-us-method-code-arrow"></div>
                <img src="/img/footer/choerodon.png" />
              </div>
            </div>
            <h6>{{ i18n "suggestions" }}</h6>
            <div class="connect-us-method-item">
              <img class="connect-us-method-icon" src="/img/connect-us/email.svg" />
              <a href="mailto:zhuchiyu@vip.hand-china.com">zhuchiyu@vip.hand-china.com</a>
            </div>
            <h6>{{ i18n "follow us" }}</h6>
            <div class="connect-us-method-item">
              <img class="connect-us-method-icon" src="/img/connect-us/wechart.svg" />
              <p>{{ i18n "follow the public account" }}</p>
              <div class="content-us-method-code content-us-method-code-hand">
                <div class="content-us-method-code-arrow"></div>
                <img src="/img/footer/hand.png" />
              </div>
            </div>
          </div>
        </section>
        {{ partial "connect_us_comminicate.html" . }}
      </div>
      {{ partial "footer.html" . }}
    </div>

    {{ partial "scripts.html" . }}
    {{ range .Site.Data.static.community.js }}
        <script src="{{ . }}"></script>
    {{ end }}
  </body>
</html>
